[2016-05-18 09:20] Orbiter commented on #360
@GeorgeHahn please join in

[2016-05-18 11:12] Orbiter opened #361 "send emails from the server"
this is required for password recovery: a class that provides a method to send out an email.
required attributes are:
- address:to
- address:from
- subject
- text
Create this simple class first and evaluate what is needed to attach this to a mail server (if any).
We will connect that to password recovery later.

[2016-05-18 11:15] shivenmian commented on #361
@Orbiter I am almost done with the stub. Should I add the password recovery option in that sign-up page?

[2016-05-18 11:26] Orbiter commented on #361
oh great! I believe the password recover option should be on a log-in page. We don't have that yet.

[2016-05-18 11:27] shivenmian commented on #361
Yeah, I'm making the Sign Up page but I intend on keeping the UI same for the login. I could make the login page too with just some adjustments, so asked. Thanks. I'll submit the signup app in a bit.

[2016-05-18 11:29] Orbiter commented on #357
Thats good, but I believe "apps" should be a list of objects, not a single object -- as far as I remember.

[2016-05-18 11:30] shivenmian commented on #361
Also @Orbiter the authentication stuff will be done a bit later right?

Because even apart from the hashing etc, we can have basic authentication too, i.e password and confirm password field is same, password should have atleast 'x' letters and have special chars, email ID is of a valid form etc. I've just made a static webpage as of now.

Do you want me to add this ^ now, or will we add all the a

[2016-05-18 11:41] Orbiter opened #362 "grant a user to list the content of the account api if the user is logged in and retrieves the own account"
This should make it possible that an account app is able to read all permissions that a user is granted, if the user for that account is logged in.

This affects only read rights, not write rights!

[2016-05-18 11:48] Orbiter opened #363 "Provisioning Process"
Having accounts in loklak will enable us to assign special rights to each user which is logged in.
The publication of such special rights is called 'provisioning' - read about it in https://en.wikipedia.org/wiki/Provisioning

This means in our environment: the 'apps' array of objects in our account store should host one special object which is called 'authorization'. That object should contain aga

[2016-05-18 11:50] Orbiter commented on #358
we want that for the whole server. The target is to implement a user authorization based on an provisioning process as documented in https://github.com/loklak/loklak_server/issues/363

[2016-05-18 11:58] Orbiter commented on #358
However, that does not mean that api servlets which are accessible right now are not accessible any more. This issue should not implement a 403 response for unauthorized clients.

It should work like this: if the user goes to the log-in app, a 401 is issued to tell the user to log-in. If the log-in is successfull, the browser will continue to send the basic authentication credentials, even if the

[2016-05-18 12:16] Orbiter commented on #363
The provisioning process is part of the AAA concept:
AAA - Authentication, Authorization, Accounting
- Authentication asks the question, "Who or what are you?"
- Authorization asks, "What are you allowed to do?"
- Accounting wants to know, "What did you do?"
In this context, provisioning carries the rights for authorization and the model for accounting.

Accounting is very special: it can have man

[2016-05-18 12:16] Orbiter commented on #353
another idea: use accounting details according to https://github.com/loklak/loklak_server/issues/363#issuecomment-220008513

[2016-05-18 12:21] Orbiter commented on #361
very good, just submit it as a stub (just add 'stub' to the commit message text, so it's clear its unfinished)

[2016-05-18 12:54] shivenmian commented on #357
@Orbiter @treba123 Check #364

[2016-05-18 12:58] shivenmian commented on #357
Closing this issue, Step 2 is in #358.

[2016-05-18 12:59] shivenmian commented on #358
Okay so the stub is added. What do we do next? I think I'll set a milestone on this because we already did one part, what say?

[2016-05-18 13:03] Orbiter commented on #357
see https://github.com/loklak/loklak_server/pull/364#issuecomment-220018546

[2016-05-18 13:05] shivenmian commented on #357
Sure. I'll submit another PR shortly.

[2016-05-18 13:16] shivenmian commented on #357
Also @Orbiter I checked the other apps. All of them had removed the sections (i.e the menu on top) like I did, so that only their app is on the screen.

I should keep it though, right? And do I make the background black etc as well?

[2016-05-18 13:17] smokingwheels commented on #359
When you extract on the first go the size and packed are the similar number of bytes.
Do you have the message dumps from the start of this project I think they have had the problem in windows. Not sure about linux though.
If you open the file on first go it contains lots of funny char.

[2016-05-18 13:33] Orbiter commented on #357
https://github.com/loklak/loklak_server/blob/master/html/apps/apps.md recommends to use the boilerplate
I recommend that too :)

[2016-05-18 14:24] shivenmian commented on #357
@Orbiter There is a problem with the boilerplate. The themes don't work, nor do the links in the html. I'm sending a PR to rectify this, please see to it ASAP.

[2016-05-18 14:50] smokingwheels commented on #353
This might help in realtime.
Detect acceleration of number of messages from a peer over time period.
Create a stack in HZ x deep of how often a peer sends a message to loklak.org.
1/Frequency create array and look at the history in seconds. The Period is linear with change. [See](https://en.wikipedia.org/wiki/Frequency)
Compare the period 10 or so cycles back in time.
Generate a trate! value for a

[2016-05-18 15:02] treba123 commented on #358
@Orbiter ah alright, that's were we're heading. Is there a special reason why you need basic_auth then? Because these things could probably much better handled with cookies...
Or do you need it to allow tools like curl to get access?

[2016-05-18 16:14] Orbiter commented on #358
cookies are good as well, but not a good solution for scripts. To make the API accessible for scripts we would need much more complex mechanisms like OAuth. I know that this is not really a good solution but we get somewhere soon.

Btw, good job!

What I need as well: authentication should be required only of the servlet demands. Is that possible?

[2016-05-18 16:16] Orbiter commented on #358
I also like ```https.mode=redirect```! Very good!

[2016-05-18 16:21] Orbiter commented on #357
Oh I thought the boilerplate is ok. Thank you for fixing!

[2016-05-18 16:26] treba123 commented on #358
@Orbiter thank you :)
What do you think about the following:
- login in is usually done via cookie
- for scripts, we provide an option to send login credetials as POST/GET payload
I think this is how most modern apis work

[2016-05-18 21:09] shivenmian commented on #357
@Orbiter Fixed the SignUp app according to boilerplate, please check #368

[2016-05-19 09:47] smokingwheels opened #371 "Schedule a time of day to do an update and zip messages"
I would like to have loklak server perform and update and zip of messages at a particular time in the day like 6:00 am but set in the custom config file.
Currently it seems to do it every 24 hours dependant on when it was started.

[2016-05-19 10:42] Orbiter commented on #358
Cookies are in the EU a bit tricky since the EU Law considers them as personal data and requires the publisher of a web site with cookies to declare a data privacy statement and furthermore notice the user that cookies are used and that the user has the right to opt-out of cookies completely.
See http://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679 section (30) and (32). There

[2016-05-19 10:56] Orbiter commented on #353
good ideas! Here is another thing we should do in that context:
- create secure peer hashes. We developed a concept for that for YaCy, but never created them because we alread had hashes.
I will open up an issue for secure peer hashes.

[2016-05-19 11:09] Orbiter opened #373 "Persistent JSON storage"
we need a json file storage options to store settings in json objects
- create a class "JSONFile" in https://github.com/loklak/loklak_server/tree/master/src/org/loklak/tools/storage
- the class must extend JSONObject
- the class must have an initializer JSONFile(File file) wich reads (if exists) or creates (if not) the json file upon call
- the class must overwrite the 'put' method and re-write th

[2016-05-19 11:13] Orbiter opened #374 "store public and private settings"
add two JSONFile objects in DAO to store a dynamic setting in the file ```data/settings/public_settings.json``` and ```data/settings/private_settings.json```.
Name these objects public_settings and private_settings.

We will need this for secure peer hashes.

[2016-05-19 11:13] Orbiter commented on #374
this requires https://github.com/loklak/loklak_server/issues/373 first

[2016-05-19 11:20] Orbiter opened #375 "create a secure peer key and a peer hash"
We need to ability to publish a public key and encrypt data from other peers with their public key.

Therefore each peer must create - if not already done - a public/private key pair.

To do:

- this uses the private and public settings from https://github.com/loklak/loklak_server/issues/374 do that first
- when the DAO class is initialized, look if a public key with name 'public_key' is stored in

[2016-05-19 11:22] Orbiter opened #376 "extend the '/api/hello.json' servlet - return the public settings"
change the return value of the 'hello' servlet:
- instead of returning the static 'ok' property, return the content of the DAO.public_settings JSON

[2016-05-19 11:23] Orbiter commented on #376
this requires https://github.com/loklak/loklak_server/issues/374 first

[2016-05-19 11:27] Orbiter opened #377 "create basic peer information and create a peer hash"
right after the public key is created, check if there is a DAO.public_settings.peer_hash attribute.
If not existent, create it with this formula:
DAO.public_settings.peer_hash = base64(DAO.public_settings.public_key.hash())

This will make it possible that we can send a challenge to a peer to decrypt something we send them using the public key of that peer to encrypt something. Since the hash come

[2016-05-19 11:29] Orbiter commented on #377
this requires https://github.com/loklak/loklak_server/issues/375 first

[2016-05-19 11:38] Orbiter opened #378 "every Timeline must contain the creators peer hash and public key"
extend the class https://github.com/loklak/loklak_server/blob/master/src/org/loklak/objects/Timeline.java
and add two more metadata lines in Timeline.toJSON
- set peer_hash to DAO.public_settings.peer_hash
- set peer_public_key to DAO.public_settings.public_key

[2016-05-19 11:38] Orbiter commented on #378
do https://github.com/loklak/loklak_server/issues/377 first

[2016-05-19 11:39] treba123 commented on #358
Hm sorry, I don't really get that point.
Under german law, you would also have to have an "impressum", other countries have other cracy laws. So right now, plain loklak installations are "illegal" in many countries.
Personally I'd say this is out of scope of loklak and something the administrators have to deal with.
Also, I's really not hard to make an optional little notice about the cookie (comp

[2016-05-19 12:45] Orbiter commented on #358
ok I did not know that session cookies are excluded from the rule.
So how would you implement the cookie-based authentication? How would you setthe cookie? If this is a session key: we would need to maintain a list of sessions and decide how to store that in a persisten way. Maybe we can use **https://github.com/loklak/loklak_server/issues/373** to store sessions.

The next question would be: how

[2016-05-19 13:04] treba123 commented on #358
Hm yes I will think about it. Jetty has session management build in, so we can use that for a single instance. Loadbalancing is indeed a bit more tricky.

[2016-05-19 13:22] shivenmian commented on #357
@Orbiter, this part is done, so should we close this?

[2016-05-19 13:23] treba123 commented on #358
For the first part of the question:
- We have a sign-in servlet which get the login data
- it queries the local api as discussed in #357 and checks if they're valid
- it then sets a cookie which contains a hash of certain things only we and a valid user can know (like userid, hashed password as stored in our database, random salt) and the salt
- depending on whether the user checked a "stay loged

[2016-05-19 16:33] daminisatya commented on #355
#381

[2016-05-19 18:54] Orbiter commented on #355
thank you!

[2016-05-19 18:54] #355 closed

[2016-05-19 19:08] Orbiter commented on #357
good work!

[2016-05-19 19:08] #357 closed

[2016-05-20 08:50] Orbiter commented on #376
@shivenmian please join in

[2016-05-20 08:50] Orbiter commented on #374
@shivenmian please join in

[2016-05-20 08:50] Orbiter commented on #373
@shivenmian please join in

[2016-05-20 17:06] treba123 commented on #358
Alright, I was busy to make #384 ready, so now I'll come back to this again.
I'd suggest we have a little class that handles authentication checks, which can be used by all servlets that need restrictions. I'll post more on this tomorrow.

[2016-05-20 17:11] treba123 commented on #373
@Orbiter I was busy with #384 today, will start on this tomorrow or monday

[2016-05-21 02:15] shivenmian commented on #373
Okay so @Orbiter, for storage per se, this does look like a nice idea which can be implemented, but I want to ask: we're gonna use this for storing hashes or something else too?

[2016-05-21 04:32] daminisatya commented on #356
@Orbiter I need to add another key called "Image" to every app.json. For rendering the image i need to convert it into Byte arrays and vice versa. This is my approach. Is there any other possible way for it?

[2016-05-21 04:35] daminisatya commented on #356
@Orbiter ok i found an easy way (Y) to just render them by forming their path from app's name !

[2016-05-21 09:18] treba123 commented on #373
If I get this right, the overall direction is what's discussed in #353 (see also  #375)
So this does not have to do with the login of users in the first place, but rather of indentifying other loklak peers.

But maybe we should think this together with the login mechanism, as we could grant known loklak peers special previleges on certain apis (allowing login either by username/password or a chall

[2016-05-21 09:32] treba123 commented on #363
This is pretty cool and we should probably bring this togother with #/353
In the end, users and other loklak peers are kinda similar, both are authenticated (or not) and both can get previleges.

For the login functionality, that would mean that there're three ways to authenticate yourself:
- via website cookie (set by login formula)
- via username and password in request (for scripts)
- via publi

[2016-05-21 10:07] Orbiter opened #386 "auto-subscribe an user account when verified by download order"
This is just an idea how we could handle a woocommerce downlad link.
Background: it's possible to sell digital goods in woocommerce; upon order of a digital good the user gets a download link. That download link gets automatically attached some query attributes, which are:
- 'download_file': the product_id
- 'order': the order_key,
- 'email':  the user_email
- 'key': a verification key

To see how

[2016-05-21 10:19] sudheesh001 commented on #356
Looks like this is complete @daminisatya But the small issue being that there's no link to move to the app. I think i'lll open that as a new issue. Closing this as merged in adf265761866b17a80218a64a8b8d8c49c939ffd

[2016-05-21 10:19] #356 closed

[2016-05-21 10:20] sudheesh001 opened #387 "AppList matrix should link to each app"

[2016-05-21 11:19] daminisatya commented on #387
@sudheesh001 I can fix this, since it is a small change with got missed out.

[2016-05-21 11:19] daminisatya commented on #387
#356

[2016-05-21 11:27] #387 closed

[2016-05-21 18:13] #331 closed

[2016-05-22 07:06] sudheesh001 opened #391 "Advanced query generator integration into loklak server"
This is an enhancement. There are a lot of features that are present in the search, We have a basic tweet query search in the homepage itself but there are a lot of features that we have for the features like `from`, `until`,`since`, `count` etc.., Added to these we also have aggregations possible for hashtags etc.., Having these as checkboxes and the `since`, `until` as datepicker's we can have a

[2016-05-22 07:30] daminisatya commented on #391
@sudheesh001 This can be done as a loklak app.

[2016-05-22 08:19] jig08 commented on #217
@mariobehling @Orbiter Thanks for assigning the issue. I was planning to first check out [Weibo.com](http://weibo.com/login.php) before beginning with planning on how to develop the crawler for the same during the upcoming week(s).

@Orbiter As mentioned here https://github.com/loklak/loklak_server/issues/217#issuecomment-171999140 , truly not being able to understand the Chinese annotations on th

[2016-05-22 08:52] mariobehling opened #392 "Suggest loklak plugins for popular CMS and shortmessage clients and list existing plugins suitable for adopting for loklak"
The goal of the project is to offer loklak services to users of popular CMS and clients (e.g. twitter clients). Please suggest loklak plugins for popular CMS and shortmessage clients and list existing plugins suitable for adopting for loklak. Provide links and describe features to be implemented through loklak. It is perfectly fine to start with e.g. existing Wordpress plugins and adopt them to us

[2016-05-22 09:59] jig08 commented on #342
@mariobehling Sounds like a cool idea.

I'd like to start with integrating this [Wiki GeoData API](https://www.mediawiki.org/wiki/Extension:GeoData#API ) first.

[2016-05-22 10:18] leonmak opened #393 "Refactor angular services in front-end apps"
The front-end apps mainly use $http or $resource for ajax calls, or using $scope.search from /html/js/loklak.js. Refactoring it to a separate service file will help contributors better organize their app, as the apps may not use the same $scope variables.

[2016-05-22 10:23] Orbiter opened #394 "generic topmenu"
all the html files in loklak have a top-menu navigation with looks like (here: architecture.html):
[code]
If a new menu item is created or deleted, all menu entries in all html files must be changed. This shall be changed using angular and the new topmenu servlet introduced in https://github.com/loklak/loklak_server/commit/5177b4df4b42dfdc7e545afbed853decc7b9365b

currently /cms/topmenu.json creat

[2016-05-22 10:27] mariobehling commented on #342
@jig08 Ok, please start and assign the milestone. Break down issues into several issues if they take longer than a day.

[2016-05-22 10:34] leonmak opened #395 "Adding visualisations with angular directives & d3"
Using directives for each chart will help to organise different parts of front-end apps into components, and make them reusable in other apps. I aim to create a bubble chart and stacked bar chart directive for milestone 2.

- [x]  Bubble Chart
- [x]  Stacked Bar Chart

[2016-05-22 12:45] sopu commented on #392
1. https://wordpress.org/plugins/rotatingtweets/
2. https://wordpress.org/plugins/twitter-stream/
3. https://wordpress.org/plugins/recent-tweets-widget/
4. https://wordpress.org/plugins/twitter-tweets/
Above are some plugins which are mostly like different takes on a "tweet wall" + "user timeline" + "tweet-stream".
Looking for other tags!

[2016-05-22 13:47] daminisatya commented on #394
@Orbiter For identifying the active tab we can set routes for each tab. I guess we need to include a separate routes.js file, IMO.

[2016-05-22 16:06] Orbiter commented on #373
@shivenmian https://github.com/loklak/loklak_server/issues/373#issuecomment-220753346 no
@treba123 this is part of something else and there is no need for queueing

[2016-05-22 16:16] Orbiter commented on #394
What should routes.js contain? I wanted to make this as simple as possible. I believe each html for each web page can call the code for the angular process using the name of the own servlet. That would not need any other setup code.

[2016-05-23 02:33] daminisatya opened #397 "Create the required boilerplate for adding Loklak plugins to WordPress."

[2016-05-23 02:36] daminisatya commented on #397
#296

[2016-05-23 02:37] daminisatya opened #398 "Create a front-end app which consumes the Peers API"
- [x] Add all the buttons, with proper UI

- [ ] Add a force directed graph

- [ ] Implement a simple leaderboard triggering every submission of the deployment link.

[2016-05-23 05:50] sopu commented on #392
We can somewhat imitate the https://www.drupal.org/project/twitter for `drupal`.

[2016-05-23 06:00] daminisatya opened #399 "Test the updated buildpack URLs."
Please test for the following deploys

- [x] Heroku

- [x] Bluemix

- [x] Scalingo

[2016-05-23 06:00] daminisatya commented on #399
#396

[2016-05-23 06:01] shivenmian commented on #399
Yes, doing it @daminisatya @sudheesh001

[2016-05-23 06:07] shivenmian commented on #399
@daminisatya @sudheesh001 Heroku works, http://loklaktest.herokuapp.com. Testing the others.

[2016-05-23 06:49] daminisatya commented on #399
@shivenmian What about the Bluemix deployment?

[2016-05-23 07:58] sudheesh001 commented on #399
Bluemix works, just deployed http://loklak-server-dispensary-1049.mybluemix.net/

[2016-05-23 07:58] #399 closed

[2016-05-23 08:51] shivenmian opened #401 "Deprecated Methods and outdated JRE"
There are some methods which aren't supported now and are outdated (the constructors are deprecated). The JRE version is also outdated.

Not a major issue, but will update them. @Orbiter

<img width="689" alt="screen shot 2016-05-23 at 2 20 39 pm" src="https://cloud.githubusercontent.com/assets/14081800/15465320/94e0e398-20f1-11e6-8da4-b81b2d7b6d5b.png">

[2016-05-23 08:53] shivenmian opened #402 "Null pointer Exception on running code"
When I run the code, I get a repeated NullPointerException. @Orbiter

<img width="504" alt="screen shot 2016-05-22 at 4 59 42 pm" src="https://cloud.githubusercontent.com/assets/14081800/15465387/e4b10826-20f1-11e6-9e99-d4a90f799542.png">

[2016-05-23 09:38] treba123 commented on #373
@shivenmian I created a class for this, could you have a look and help me testing if you have time?

[2016-05-23 09:39] shivenmian commented on #373
Sure. Link?

[2016-05-23 09:39] treba123 commented on #373
Ah right, [here](https://github.com/loklak/loklak_server/tree/PersistentJSONstorage)

[2016-05-23 09:58] shivenmian commented on #373
@treba123 I haven't pulled your code because I'm facing some weird problems. But I've checked your code and it looks fine to me. You seem to have covered all the datatypes that should be used.

Do you want me to test something specifically?

[2016-05-23 10:11] treba123 commented on #373
Hm I just did some testing it seems to run all fine. I guess it's alright.
I just wanted some more eyes to have a look if i forgot something

@Orbiter does this need to save for multiple uses? Because right now, if one file is opened multiple times, they all have a own instance of the object in memory and overwrite each other.
Is that ok or do you want them to always read from disk? (probably slow

[2016-05-23 10:30] treba123 commented on #294
I'll close this issue as ssl support is ready now. Letsencrypt integration should happen in another issue

[2016-05-23 10:30] #294 closed

[2016-05-23 10:38] treba123 commented on #402
That looks like what i had with #332 . It just stopped for me though. Good to know that it happens for others, too.

[2016-05-23 11:07] shivenmian commented on #401
I realised @treba123 is working on the deprecated methods in his saveClientConnection branch, I updated the JRE in another PR.

[2016-05-23 11:34] treba123 commented on #402
Ok, i just also encountered this. It happens for me when I had a not properly closed loklak still running, like ghosting around.
If that happens, port 9300 is still in use and i get the following error first:
`BindTransportException[Failed to bind to [9300]]; nested: ChannelException[Failed to bind to: localhost/127.0.0.1:9300]; nested: BindException[Address already in use];
	at org.elasticsearch.

[2016-05-23 11:44] treba123 commented on #373
For #374 we only have one instance each, so I guess i'll leave locks for later

[2016-05-23 11:48] treba123 commented on #373
merged https://github.com/loklak/loklak_server/pull/405

[2016-05-23 11:48] #373 closed

[2016-05-23 12:36] treba123 commented on #374
TODO: set private file private on filesystem level

[2016-05-23 18:17] #393 closed

[2016-05-23 18:24] #401 closed

[2016-05-24 00:35] daminisatya opened #410 "Enhance the Leaderboard application using search aggregations."
This can be done for a better count result, eventually transform the difference into a tutorial app for understanding the functionality better.

[2016-05-24 02:08] leonmak commented on #391
I accidentally clicked, wanted to say that I was planning to do this for the visualisations apps also

[2016-05-24 02:21] leonmak opened #411 "Parsing json response by date for visualisations"
Related to #391, to analyse by date in the visualisations the json response has to be processed by date.

[2016-05-24 07:37] Orbiter commented on #391
make this as an app please

[2016-05-24 07:41] Orbiter commented on #395
+1 good idea

[2016-05-24 07:43] Orbiter commented on #410
+1

[2016-05-24 07:44] sudheesh001 commented on #391
Yes @Orbiter This will be made into an app, as mentioned in the scrum today, it'll be renamed LQL for (Loklak Query Language) 😄

[2016-05-24 07:44] Orbiter commented on #398
What do you mean with "Add all the Buttons"? I would consider this as a list-view.

[2016-05-24 07:51] Orbiter commented on #374
we have a method for that already, I just can't find it now...

[2016-05-24 08:05] Orbiter commented on #374
found it: ```OS.protectPath(path);```

[2016-05-24 08:11] daminisatya commented on #398
@Orbiter Yes it is a list view!

[2016-05-24 08:17] sudheesh001 opened #413 "IP Blacklist fails to deny access to the IP addresses listed"

[2016-05-24 08:26] daminisatya opened #414 "Create Joomla component boilerplate for adding Loklak plugins."

[2016-05-24 08:29] daminisatya commented on #297
The sub issues for this #414

[2016-05-24 08:55] treba123 commented on #374
https://github.com/loklak/loklak_server/pull/416

[2016-05-24 08:55] #374 closed

[2016-05-24 09:03] treba123 commented on #375
As public_settings and private_settings are actually json-objects, shouldn't this be public_settings.get("public_key") instead of public_settings.public_key? Otherwise we duplicate data.

[2016-05-24 09:09] shivenmian commented on #338
@sudheesh001 Can't emulate this, this seems to be working. Could you send me a screenshot?

Try http://localhost:9000/api/search.json?q=spacex%20since:2015-04-01%20until:2015-04-06&source=cache&fields=mentions,hashtags

[2016-05-24 09:49] treba123 opened #417 "stop.sh doesn't work after two starts"
When running start.sh two times in a row, the second start righly aborts (although not stated in output)
But when I then run stop.sh, I can't stop the running instance anymore and have to kill it via taskmanager.

Steps to reproduce:
- run start.sh two times
- run stop.sh two times
- check if there's still a runnig loklak instance in taskmanager

This lack of output and checking is sometimes reall

[2016-05-24 10:01] #286 closed

[2016-05-24 10:38] treba123 commented on #375
Ok bullshit. We want to get key objects.

[2016-05-24 12:27] treba123 opened #419 "Move to Java 8"
Before we can do this, we need to check if all one-click deployments support java 8

Branch: https://github.com/loklak/loklak_server/tree/java8
Please push changes needed for the switch in that branch instead of master, so we have don't have changes at different places.

Does support?
- [x] Heroku
- [x] Scalingo
- [x] Bluemix
- [x] Docker cloud

Checked if changes are needed?
- [x] Heroku (needs u

[2016-05-24 13:32] daminisatya commented on #394
@Orbiter it's difficult to change for all the apps. since they have their own JS files with ```ng-app```

[2016-05-24 13:41] sudheesh001 commented on #394
Reopening this, in case further changes to apps must be discussed, the requirement then would be a directive.

[2016-05-24 14:04] sudheesh001 commented on #419
heroku, scalingo failing, needs updates on buildpack

[2016-05-24 14:22] treba123 commented on #419
Ok, they still use openjdk 1.6. That's deprecated

[2016-05-24 14:23] treba123 commented on #419
@sudheesh001 do you update the build packages?

[2016-05-24 14:50] treba123 commented on #377
The standard hash function is not secure. I implemented it via sha256.
Also, direct acces to the values is not so cool in this case, so I created get/set function to take care of everything

[2016-05-24 14:52] sudheesh001 commented on #419
Bluemix works. http://loklak-server-dispensary-1744.mybluemix.net/

[2016-05-24 14:56] Orbiter commented on #419
I just added https://github.com/loklak/loklak_server/commit/c6450cc4dc4b7ff10d83762cadb08d3e193a9e60
to support heroku and scalingo. Hints to update the remaining are included in the commit.

Please test heroku and scalingo deployment with this settings. Here is how you find out if the deployed loklak_server is actually running under Java 1.8:

- open /api/threaddump.txt on the server where you de

[2016-05-24 14:58] Orbiter commented on #419
@sudheesh001 Bluemix does *NOT* work, see http://loklak-server-dispensary-1744.mybluemix.net/api/threaddump.txt according to my hint above: this is still running under Java 1.7

[2016-05-24 15:01] sudheesh001 commented on #419
Yup just noticed, somehow it seems to run whereas the others (heroku/scalingo) crash

[2016-05-24 15:08] treba123 commented on #375
Ok, to make the workflow more clear I added the function getPublicKey(), getPrivateKey() getKeyMethod() and getPeerHash() instead of direct acces of the variables.
Together with the corresponding set-functions

[2016-05-24 15:12] shivenmian commented on #338
@sudheesh001 This seems to be working fine I think. Can you show me a case where it isn't?

http://i.imgur.com/gBa0T0r.png

[2016-05-24 15:15] Orbiter commented on #419
We must have a confirmation from the thread dump, otherwise all peers will crash when we switch to Java 1.8

[2016-05-24 15:32] treba123 commented on #413
Ah alright, I already anticipated this.
Will have a look into it

[2016-05-24 15:33] treba123 commented on #358
We changed the concept for the login, so close this

[2016-05-24 15:33] #358 closed

[2016-05-24 16:19] treba123 commented on #377
Hej @Orbiter regarding the hash thing: what you were refering to was [collision resistance](https://en.wikipedia.org/wiki/Collision_resistance) if i get you right.
So we want that it's extremly hard for an attacker to be able to create a key with the same hash as some other.
That's why we really shouldn't use anything weaker than sha256 for creating the hash, I'd actually prefer to use something l

[2016-05-24 16:42] sudheesh001 commented on #419
I've moved locally to java8, everything seems to be working but in the `ant` build i get a line as follows
[code]
I don't remember seeing them before. The threaddump shows the following
[code]

[2016-05-25 02:29] #394 closed

[2016-05-25 04:45] shivenmian commented on #338
@Orbiter @sudheesh001 should we close this or is there a legit bug?

[2016-05-25 04:49] shivenmian commented on #417
Ah, I've experienced this too. Will try to fix it.

[2016-05-25 05:47] sudheesh001 commented on #338
http://loklak.org/api/search.json?timezoneOffset=-330&q=fossasia&source=cache&count=0&fields=mentions,hashtags

504 timeout error

[2016-05-25 05:51] shivenmian commented on #338
Nope, I'm not getting 504 on this, loaded fine @sudheesh001

<img width="1280" alt="screen shot 2016-05-25 at 11 20 07 am" src="https://cloud.githubusercontent.com/assets/14081800/15529414/be2af4e4-226a-11e6-95cd-f3d5176e2461.png">

[2016-05-25 05:57] sudheesh001 commented on #338
lets wait until a few others also test this, then it's good to close

[2016-05-25 05:58] shivenmian commented on #419
@sudheesh001 @Orbiter @treba123 Scalingo is working for me for Java 8. Just checked.

https://loklak-test.scalingo.io/

[2016-05-25 06:00] shivenmian commented on #419
Deployed to Scalingo, even that has ```jvm.versions.version``` as 1.7. Need to update the buildpack.

[2016-05-25 08:17] treba123 commented on #419
@sudheesh001 i also get this in the master branch. Did you compile the java8 branch or master? As the ant buildfile in master is set to compile to source 1.7 (changed to 1.8 in the java8 branch)

[2016-05-25 09:00] treba123 commented on #419
I just rebased this branch to include new commits from master

[2016-05-25 09:04] sudheesh001 commented on #419
compiled the java8 branch. https://loklakjavajvm8.herokuapp.com/api/threaddump.txt here's the heroku deployment.

[2016-05-25 09:07] sudheesh001 commented on #419
heroku log
[code]
Uses jdk1.8

[2016-05-25 09:09] #395 closed

[2016-05-25 09:09] #411 closed

[2016-05-25 09:15] treba123 commented on #413
@sudheesh001 I think it works now, could you do a test from this branch: https://github.com/loklak/loklak_server/tree/fixIpBlacklisting ?

[2016-05-25 09:23] treba123 commented on #378
I'll also put key_method, as it is needed to use the key

[2016-05-25 09:58] shivenmian opened #426 "Implement CAPTCHA in Sign Up page"
In the Sign Up page in #357, the form just has three fields viz. Email, Password and Confirm Password. Such a simple form can be easily spammed with random entries by bots, and will flood the database. To prevent this, we need CAPTCHA support. @Orbiter @treba123 views?

[2016-05-25 11:12] sudheesh001 commented on #426
Sounds good

[2016-05-25 11:33] sudheesh001 commented on #419
Bluemix deployment working with java 8 http://loklak-server-dispensary-1427.mybluemix.net/api/threaddump.txt

[2016-05-25 12:08] sudheesh001 commented on #419
Docker cloud http://loklak-1.loklakjava8.23a887be.cont.dockerapp.io:32770/api/threaddump.txt

Runs `jvm.versions.version=1.8.0_91`

[2016-05-25 12:11] treba123 commented on #419
ok, can you mark the checkboxes for all things tested?

[2016-05-25 12:13] treba123 commented on #419
@Orbiter can you remove the java 7 buildbot?

[2016-05-25 12:18] sudheesh001 commented on #419
@treba123 i've marked it after testing for heroku, bluemix and docker cloud. Can someone test it for scalingo ideally it should work since it works for heroku but my trial for scalingo expired @daminisatya @shivenmian @jig08 Could any of you host the java8 branch on scalingo ?

[2016-05-25 12:18] shivenmian commented on #419
Sure, wait.

[2016-05-25 12:48] shivenmian commented on #419
@sudheesh001 It works when I went to https://my.scalingo.com/deploy?source=https://github.com/loklak/loklak_server/tree/java8

It didn't work when I pulled the java8 branch, and deployed from my repo.

[2016-05-25 12:52] sudheesh001 commented on #419
Can i have the scalingo URL deployed please ?

[2016-05-25 12:52] shivenmian commented on #419
It is. https://loklaksm.scalingo.io

[2016-05-25 12:56] shivenmian commented on #419
I'd deployed it but it's crashing right now. I'll do it again.

[2016-05-25 12:56] sudheesh001 commented on #419
No worries It says `1.8.0_92-cedar14`

[2016-05-25 12:57] shivenmian commented on #419
Yes it did, just crashed for some reason. I think you can merge the java8 branch to master.

[2016-05-25 13:08] treba123 commented on #419
Thanks guys! I will wait for the buildbot to be java 8 only, as it will give us build errors for every PR

[2016-05-25 13:15] sudheesh001 commented on #419
@treba123 https://github.com/loklak/loklak_server/pull/430 I've removed java7 for automated build on TravisCI

[2016-05-25 13:45] treba123 commented on #419
@sudheesh001 cool, lets merge that one. Do we still have to wait for anything? The docker thing?

[2016-05-25 15:25] treba123 commented on #417
see above

[2016-05-25 15:25] #417 closed

[2016-05-25 15:25] treba123 commented on #413
Fix works for me, please report again if it doesn't

[2016-05-25 15:25] #413 closed

[2016-05-25 15:27] treba123 commented on #375
see above

[2016-05-25 15:27] #375 closed

[2016-05-25 15:27] treba123 commented on #376
see above

[2016-05-25 15:27] #376 closed

[2016-05-25 15:27] treba123 commented on #377
see above

[2016-05-25 15:27] #377 closed

[2016-05-25 15:28] treba123 commented on #378
see above

[2016-05-25 16:41] smokingwheels commented on #352
Maybe in order not to trigger the error 503 from the server.
A property one could set in the custom_config.properties would be good if that's what you mean?

[2016-05-25 16:42] shivenmian commented on #402
Fixed in #432

[2016-05-25 16:42] #402 closed

[2016-05-25 16:42] #337 closed

[2016-05-25 16:43] shivenmian commented on #338
Tested thoroughly, works for me too, closing it.

[2016-05-25 16:43] #338 closed

[2016-05-25 16:44] leonmak opened #436 "Include charts as partials in a single page"
The user should be able to select a menu to see different charts instead of going to different pages, and also as many charts cannot fit on one screen at the same time

[2016-05-25 16:46] #20 closed

[2016-05-25 17:21] treba123 commented on #330
see #438

[2016-05-25 17:21] #330 closed

[2016-05-25 17:39] shivenmian opened #439 "Login Page and Passwords Storage"
For #363, we decided on having an accounts system for the Provisioning process. The Sign Up page is made, the login page needs to be made. Also, the login page will have a password recovery system which connects to an email server and uses the class in #424. I will make the page and set up the server.

For the passwords we get from #357, we need to store that in a database which has an ACL (access

[2016-05-25 18:01] Orbiter commented on #419
Great work, do we need to redeploy existing servers?

[2016-05-25 19:24] Orbiter commented on #439
I am working on the storage right now. This is part of the AAA concept, see https://github.com/loklak/loklak_server/issues/363#issuecomment-220008513

[2016-05-25 19:40] Orbiter commented on #426
Thats a good idea, however my experience with captchas for my YaCy forum (forum.yacy.de) is very bad. There are human captcha-solving 'bots' which spammers rent to get access. I have very good results with a challenge-response mechanism which uses a 'cultural gap' to prevent solving the challenge. Like: if you want to log-in into a german forum, ask "who was german chancelor in the year 2000". Eve

[2016-05-26 01:42] shivenmian commented on #439
I'm thinking of storing passwords as a txt file (for now) in the repo, so that I can make the login page and the server. We can then remove the txt file and use your storage work.

[2016-05-26 02:49] leonmak opened #440 "Add options to the form for visualisation apps"
Currently it lacks count option, which can be added to the search query string.

[2016-05-26 05:14] shivenmian commented on #426
@Orbiter I came across [this](https://www.funcaptcha.com/security/). Looks pretty secure to me. Should I use their API for the captcha? Or should we use our own?

[2016-05-26 07:31] treba123 commented on #419
I don't think so, but we'll have to when https://github.com/loklak/loklak_server/pull/427 gets merged. So maybe wait for that

[2016-05-26 07:31] treba123 commented on #419
Or no, even then not, but as soon as we actually start checking for valid peer hashes

[2016-05-26 09:11] treba123 opened #442 "Loklak failing on scalingo after a short time"
We get this error:
[code]

That's the full log:

[code]

[2016-05-26 09:27] treba123 commented on #442
Was a general bug, see https://github.com/loklak/loklak_server/commit/47205a0f1af09a8ab9db2f6b704bfb60d2568fb9

[2016-05-26 09:27] #442 closed

[2016-05-26 09:30] treba123 commented on #419
Done https://github.com/loklak/loklak_server/pull/441

[2016-05-26 09:30] #419 closed

[2016-05-26 10:33] leonmak opened #444 "Bubble charts text exceeds bubble"
This is especially so for the small bubbles, where the text overlap with other bubbles

[2016-05-26 10:57] treba123 commented on #378
@Orbiter i don't exactly get why we should put the public key and the hash in the timeline. The hash can be easily calculated from the key, so it's just more to bits to carry.
Wouldn't it make more sense to actually attach a signature for the content of the timeline and the hash?
With the hash we can find the peer and ask him for his public key (which is pretty big) and the signature would make su

[2016-05-26 11:30] treba123 commented on #439
For the browser login (via login page that sets a cookie):

- it queries the local api as discussed in #357 that checks if the login credentials are valid
- it then sets a cookie which contains a hash of certain things only we and a valid user can know (like userid, hashed password as stored in our database, new random salt (which also has to be added to  the database))
- depending on whether the

[2016-05-26 11:46] sudheesh001 opened #446 "Update dockerhub image on mariobehling/loklak_server"

[2016-05-26 13:33] treba123 commented on #386
The mysql-server doesn't need to be on the same server, the connection always goes over the network (in many cases localhost of course)

Anyway, cool idea!

[2016-05-26 13:36] Orbiter commented on #378
Yes thats right, OK!

[2016-05-26 13:44] treba123 commented on #378
Ok, i'll only write the hash for now and later do the signature

[2016-05-26 13:44] #378 closed

[2016-05-26 13:46] jig08 commented on #342
Sure @mariobehling :+1:

[2016-05-26 13:53] treba123 opened #448 "Make signatures on JSONObjects"
For #378 it would be nice to have signatures on the every timeline as also on every other json object if needed

[2016-05-26 13:53] treba123 opened #449 "Login authentication in AbstractAPIHandler"
The authentication of a user should be checked in AbstractAPIHandler
see https://github.com/loklak/loklak_server/issues/439

We probably should consider the inbuild security features of HTTPServlets and use the login() method

[2016-05-26 14:19] daminisatya opened #451 "Add Force directed graph to visualize the peer connection[Peers App]"

[2016-05-26 14:20] daminisatya commented on #398
Divided this issue into chunks, seems to be a bigger application #451

[2016-05-26 14:20] #398 closed

[2016-05-26 14:21] daminisatya opened #452 "Introduce leaderboard to the peers app based on the number of deployments"

[2016-05-26 14:22] daminisatya commented on #398
#452

[2016-05-26 15:41] treba123 commented on #439
@Orbiter do we have a structure for the authentication file already?
Is it something like the following ok?
`{
userid : {
password : "bla",
salt : "112334534"
},
userid2 : {
password : "bla",
salt : "112334534"
}
}`

[2016-05-26 16:15] treba123 commented on #439
Ok I added a function `getAuthenticationObject(request)` to AbstractAPIHandler to verify logins: https://github.com/loklak/loklak_server/tree/loginVerification

We still need to discuss how exactly this files should be structured, but overall this funtion should do the following:
- if a request has `user_id=something` and `password=somethingelse` set, it will validate them (comparing it's hash to

[2016-05-26 16:29] treba123 opened #456 "Check peer hashes for validity, signatures and DDOS"
We now have peer hashes in every timeline, but we also have to check them and do something on error (like a warning or so).

Edit: Actually we don't have to do any extra checking if we have signatures on pushed data anyways. If we can verify the signature with the right public key, we can just check if the hash matches the public key.

So we definitly should make signatures and some kind of handsh

[2016-05-27 01:51] daminisatya commented on #451
#457

[2016-05-27 01:51] #451 closed

[2016-05-27 01:53] daminisatya opened #458 "Check for the validity of the deployment for peers app."

[2016-05-27 02:03] daminisatya opened #459 "Beautify the Force Directed Graph for the peers app"

[2016-05-27 02:04] daminisatya commented on #459
![selection_039](https://cloud.githubusercontent.com/assets/6227784/15595516/76671204-23dd-11e6-8814-a65a3ee3f76b.png)

[2016-05-27 02:14] leonmak opened #460 "Charts are not responsive"
Currently, the charts' svg size is hardcoded and so on smaller screen sizes some parts cannot be viewed.

[2016-05-27 02:20] leonmak opened #461 "Bar chart labels overlap if there are too many bars"
This happens when the data accumulates across many days, such that there are many bars and makes it look cluttered

[2016-05-27 02:31] daminisatya opened #462 "Read the peers.json and convert it into a CSV file as required for forming FDG."

[2016-05-27 02:32] daminisatya commented on #462
As of now the graph is reading the test json file which contains the peers.json object. We need to convert the .json file into CSV file and add the other required fields.

[2016-05-27 02:40] #459 closed

[2016-05-27 04:21] sudheesh001 commented on #462
@daminisatya Is there a specific format you're looking for do you want all the fields in the current json to be in the csv ?

[2016-05-27 05:36] sudheesh001 opened #464 "Document the eclipse IDE setup"

[2016-05-27 06:21] shivenmian commented on #464
Apart from the Github repository way, there's another way to build from the ant file by going to ```file->new->project``` and choose ```java->java project from existing ant file```

[2016-05-27 06:34] treba123 commented on #426
The problem is, for many of this api based capchas you'd need an api key that we can't share across loklak installations.
That's fine as sign up should probably be deactivated by default anyways and only be activated if some admin chooses to. But just to have that in mind.

[2016-05-27 07:33] Orbiter commented on #456
Is it true that we consider a handshake as valid as long as the IP address of the peer where we made the handshake with did not change?

I would consider a file 'peers.json' in settings, maintained by a JsonFile class, which stores known peers and their verification state. The primary key should be the peer hash.

[2016-05-27 07:37] mariobehling commented on #414
We can create boilerplates for different systems, but could you state first, please what you want to develop?

What plugin will you develop for Joomla?

Could you also find existing plugins? We could simply change existing plugins instead of starting a new plugin that we might not be able to maintain.

[2016-05-27 07:38] treba123 commented on #456
Yep, that should do. Then we have to save the public key, the token, the ip and some timestamp when it was last used or when it becomes invalid.
That should do. The token can be verified in AbstractAPIHandler.

For the role out of this we maybe need a config switch for this, disableing the check for some time until all peers are upgraded.

[2016-05-27 07:39] Orbiter commented on #426
I would like to postpone this. It's more important to get things working first, we should have this, but not now. Meanwhile we can collect ideas.

[2016-05-27 07:42] Orbiter commented on #462
why would you need a csv file, which software does that need?

[2016-05-27 07:43] Orbiter commented on #458
Please describe this with a small process abstract

[2016-05-27 07:49] Orbiter commented on #439
@treba123 yes we have a structure for authentication. It requires a 'credential' which retrieves the authentication details from the authentication.json in settings, see https://github.com/loklak/loklak_server/blob/master/src/org/loklak/server/AbstractAPIHandler.java#L115-L126

You would need to implement a 'Credential' class (very similar to the 'Identity' class) which has a key that can be used

[2016-05-27 07:51] Orbiter commented on #449
if it's possible to move that to AbstractAPIHandler: +1

[2016-05-27 07:52] Orbiter commented on #452
interesting idea. How would you measure the number of deployments of a single user. Which identity would the leaderboard name?

[2016-05-27 08:10] Orbiter opened #465 "add a robots.txt and sitemap.xml"
Because our site navigation cannot be crawled so easily with a non-javascript enabled web crawler since https://github.com/loklak/loklak_server/issues/394, we need a sitemap which links all available pages.

- implement a sitemap servlet in org.loklak.api.cms.Sitemap.java which returns xml according to https://en.wikipedia.org/wiki/Sitemaps
- the sitemap shall list all pages using the method org.l

[2016-05-27 08:13] treba123 commented on #439
Ok, will adjust my code to return a credential. Or, to make things more clean, just an identity.

[2016-05-27 08:17] daminisatya commented on #414
- http://extensions.joomla.org/extensions/extension/social-web/social-display/custom-twitter-display-widget

- http://extensions.joomla.org/extensions/extension/social-web/social-display/twitter-timeline-genius

- http://extensions.joomla.org/extensions/extension/social-web/social-display/advanced-twitter-display

- http://extensions.joomla.org/extensions/extension/social-web/social-display/simple

[2016-05-27 08:18] daminisatya commented on #414
@mariobehling Sounds great! Will startoff with Twitter timeline!

[2016-05-27 08:24] sudheesh001 commented on #462
@Orbiter To visualize the graph with d3, it's easiest to show a parent-child relationship with a csv as `d3.csv()` is built in and reads row by row making it easier, `d3.json()` too does the job but gets messy. I think the required format would be
`source(loklak.org),target(host),port.http,port.https,lastSeen,lastPath,PeerName`
Since this is only for the visualization to work, I think we can add `

[2016-05-27 08:33] daminisatya commented on #458
@Orbiter I will use the hello.json to test whether the deployment is working or not!

[2016-05-27 08:38] Orbiter commented on #462
Please implement ```peers.csv```. This can be done with the same servlet class. Please see https://github.com/loklak/loklak_server/blob/master/src/org/loklak/LoklakServer.java#L505-L507 and https://github.com/loklak/loklak_server/blob/master/src/org/loklak/LoklakServer.java#L525-L527 as example how the same servlet can return different contents.

[2016-05-27 08:39] sudheesh001 commented on #462
Self assigning.

[2016-05-27 08:49] daminisatya commented on #452
@Orbiter Once the userlogin functionality and sessions are implemented, every time the user clicks on the button and deploys, he should deploy and come back to that page, then enter the URL of the server that he deployed. Then the count is incremented by one in the database. the database will store a new record of the deployment for every deployment that the user runs

[2016-05-27 09:04] mariobehling commented on #414
@daminisatya Ok, sounds ok, though our focus is Wordpress and Drupal as they have a much larger user base. Let's also follow up on your project definition by email.

[2016-05-27 10:52] treba123 opened #466 "Make JsonFile syncronized and the IO asyncronous"
As we're using JsonFiles in DAO and in the AbstractAPIHandler, they will potentionally get used by many different threads. To avoid that we better make it syncronized and think about potentional problems on this side.

On the other hand, to avoid bad performance if many servlets make changes and therefor trigger IO options, we should try to make the commit() asyncronous, being done by a different

[2016-05-27 10:59] shivenmian opened #467 "Add Email Server for Password Recovery"
We need three things:

- [x] On clicking of "Forgot password", lead user to a page where he enters his email ID for password recovery in the Login page (see #443). Create this page.

- [x] A server which sends an email to that email ID with a recovery link (autogenerated). The link has to have a hash, url will be something like ```/passwordreset/<hash>```.

- [x] That link leads to a "Set new pass

[2016-05-27 11:34] Orbiter opened #468 "Fix Spaces and Gaps on Apps Page"
The Apps page has a tile layout, with:
- gaps between the columns (thats good!)
- no gaps between the rows (they should be there and as wide as the gaps between colums)
- too much space on the left side and the right side:

<img width="1531" alt="apps" src="https://cloud.githubusercontent.com/assets/238730/15606881/31520fca-240f-11e6-827f-50906d1ea97f.png">

To fix this, do:
- add space between th

[2016-05-27 11:45] daminisatya commented on #468
![image](https://cloud.githubusercontent.com/assets/6227784/15607171/8b361fda-242e-11e6-830f-1fddc0f964e3.PNG)

[2016-05-27 11:45] daminisatya commented on #468
@Orbiter The tiles are responsive to any size.

[2016-05-27 11:46] Orbiter commented on #468
yes I know. I just wrote that down to make sure that feature does not disappear when doing the other things.

[2016-05-27 11:46] daminisatya commented on #468
@Orbiter Noted!

[2016-05-27 12:16] Orbiter opened #470 "create a peers.json in data/settings and a Peer class to maintain peer informations"
This is related to many other issues here:
https://github.com/loklak/loklak_server/issues/462 Read the peers.json and convert it into a CSV file as required for forming FDG
https://github.com/loklak/loklak_server/issues/456 Check peer hashes for validity, signatures and DDOS
https://github.com/loklak/loklak_server/issues/452 Introduce leaderboard to the peers app based on the number of deployments

[2016-05-27 12:21] Orbiter opened #471 "change the peers.json servlet: read from settings/peers.json instead of RemoteAccess.history"
with https://github.com/loklak/loklak_server/issues/470 the peers information becomes persistent. That will enable us to contact peers which had been seen in the past.
To use that information, we must do:
- if a peer calls api/hello.json, we make an entry in settings/peers.json using the access methods from  https://github.com/loklak/loklak_server/issues/470
- if the api/peers.json is called, we r

[2016-05-27 12:23] Orbiter commented on #456
with https://github.com/loklak/loklak_server/issues/470 the information about public keys is stored persistent in settings.json
That data shall be used in favor of a retrieval of the public key to prevent too many calls to api/hello.json

[2016-05-27 12:24] Orbiter commented on #452
you may probably store the number of deployments in settings/peers.json, see https://github.com/loklak/loklak_server/issues/470

[2016-05-27 12:25] Orbiter commented on #353
The storage of peer hashes and public keys will be implemented with https://github.com/loklak/loklak_server/issues/470

[2016-05-27 12:36] treba123 commented on #439
Just to make clear why i'm so confused, here what I think I need to do:
- I need a request as input to be able to handle different kinds of logins
- A database where I can lookup user data and save some information (authentication.json)
- as I want to capsulate the different login methods, i'd like to return just one object which can the be used for authorization and accounting. The encapsulation

[2016-05-27 12:47] Orbiter commented on #439
No. an identity is something like an email address or a twitter account name. That is not what you get when a user logs in. What you get there is a cookie or a base64 from http-authentify. We must translate this into the identity, thats what the authentication database is used for.

[2016-05-27 12:51] treba123 commented on #439
Ok so i just return Authentication

[2016-05-27 12:58] Orbiter commented on #439
Ah maybe you believe the translation credential -> authentication -> authorization can be done in one step because there is a 1:1 relation from credential to authorization: that is not the case. I am thinking of:
- every anonymous request has a credential, an authentication but a common authorization
- there might be several credential types for a single account (like user log-in and referer to wo

[2016-05-27 13:05] shivenmian commented on #470
Would like to contribute to this @Orbiter

[2016-05-27 13:51] leonmak commented on #460
![screenshot 2016-05-27 21 50 36](https://cloud.githubusercontent.com/assets/13071508/15609890/15b42424-2455-11e6-9c5e-4a303305e0a2.png)

[2016-05-27 13:56] leonmak commented on #461
![screenshot 2016-05-27 21 55 35](https://cloud.githubusercontent.com/assets/13071508/15610040/d8497ab6-2455-11e6-9532-1ee8f88f34ae.png)

[2016-05-27 13:57] leonmak commented on #444
![screenshot 2016-05-27 21 57 02](https://cloud.githubusercontent.com/assets/13071508/15610057/f564cc7c-2455-11e6-9bbb-179e25525b66.png)

[2016-05-27 13:57] shivenmian commented on #467
Anything more you'd want me to add @Orbiter?

[2016-05-27 13:58] leonmak commented on #440
![screenshot 2016-05-27 21 58 03](https://cloud.githubusercontent.com/assets/13071508/15610101/1e223776-2456-11e6-970e-e38c11e4a7de.png)
Currently doesn't have options to set the count, and other attributes

[2016-05-27 14:12] leonmak commented on #436
If the charts are not consolidated it becomes hard to display
![screenshot 2016-05-27 22 10 47](https://cloud.githubusercontent.com/assets/13071508/15610461/f28f5d6c-2457-11e6-82bb-9940a35b05c7.png)

[2016-05-27 14:33] #436 closed

[2016-05-27 14:59] #444 closed

[2016-05-27 15:09] treba123 commented on #439
Alright, I'm slowly getting what you mean.
So Credetial just holds some kind of login data?
And the Authentication object checks whether they are valid?
Or does Credential already check?
Or is the check done in AbstractAPIHandler?

[2016-05-27 16:34] treba123 commented on #471
Before we can write a hash to the peers.json, we need to make some kind of handshake. Because the hash is only of benefit if we make sure the peer has the corresponding private key.

A handshake would be something like:
- peer call api/hello.json and posts it's public key
- the server sends a random string back
- the peer encrypts the string with it private key and sends it back to api/hello.json

[2016-05-27 16:53] Orbiter commented on #471
That may block the process which retrieves the key. Instead, just write a 'validated' property so the key can be validated asynchronously

[2016-05-27 16:59] Orbiter commented on #471
With validated=false if not yet validated. Wie can then run the process as you suggested in the cleanup loop.

[2016-05-27 17:34] Orbiter commented on #471
Let me give an example: consider I get a peer list from a (trusted/untrusted) source. That could be a list of 200 peers. To check the validity of all peers a background process should be considered. Such a background process would need a work-list: wich peers to be checked. So I believe we need such a process anyway. That would make it useful to write down any new peer to the list with an 'untrust

[2016-05-27 17:43] Orbiter opened #472 "Add a category navigation to the applist app"
Currently all apps are listed in one big list. We want to separate the list into categories. Each app has an category assignment. With https://github.com/loklak/loklak_server/commit/661e71253041ab4d9b1aec0d41d7860982e1c3f3 this assignment is used to add two more json objects to http://localhost:9000/api/apps.json:
[code]
This shall be used to add a category navigation to the left column:
- remove

[2016-05-27 17:55] Orbiter opened #473 "add a documentation for the /api/apps.json servlet"
- we don't have a documentation for apps.json. please add that to /api.html
- include recent change from https://github.com/loklak/loklak_server/commit/661e71253041ab4d9b1aec0d41d7860982e1c3f3
- look into my commit comments and just copy-paste

[2016-05-27 19:13] #348 closed

[2016-05-28 10:51] #473 closed

[2016-05-28 12:55] treba123 commented on #471
Ah alright, the peer list is public and we want be able ask a server for its known peers.

Then we have two different usecases here:
1. A new peer Alice calles Bobs api/hello.json: In this case I'd suggest to do a handshake if Alice is not known already before writing the data to settings/peers.json (for ddos reasons, see https://github.com/loklak/loklak_server/issues/456). We only need to do that

[2016-05-28 14:58] Orbiter commented on #471
This is sound but adds too mich complexity to the simple requirement initially requested.
That means: too much efford right now.
We must do authentication first.
Lets postpone this.

[2016-05-28 14:58] #471 closed

[2016-05-28 14:59] Orbiter commented on #471
To be reopened if there is time to do more p2p.

[2016-05-28 19:17] #464 closed

[2016-05-28 20:31] #462 closed

[2016-05-28 20:31] #391 closed

[2016-05-28 21:12] Orbiter commented on #471
Turned this into an epic: add single issues with reference to this epic later

[2016-05-29 01:14] #460 closed

[2016-05-29 01:14] #461 closed

[2016-05-29 01:19] #440 closed

[2016-05-29 07:19] #468 closed

[2016-05-29 07:25] daminisatya opened #482 "Add Azure One-click deploy button to Loklak"

[2016-05-29 18:53] jig08 commented on #342
@mariobehling @Orbiter I have made a JS controller for Wiki GeoData API here https://github.com/jig08/loklak_webclient/commit/b3ae522ffb4ae135595fd67ef7a58fe8c9564d84 for [loklak.net](http://loklak.net/)
This returns a JSON object of a list of articles around the given point (determined by coordinates and radius) whose one of the parameters `pageid` can be used to access the Wiki Article via `http

[2016-05-29 19:34] shivenmian commented on #361
Stub completed, rest milestones in #467.

[2016-05-29 19:34] #361 closed

[2016-05-29 19:42] jig08 commented on #217
Okay, so the Chrome translation works now.

I was exploring through the documentation of [Weibo.com](http://weibo.com/) here [Open Weibo | Search API](http://open.weibo.com/wiki/Search/en
)

The test API call (for instance: [http://api.t.sina.com.cn/search.(json)?q=food](http://api.t.sina.com.cn/search.json?q=food) ) is however returning `Error 503 Service Unavailable` error. It is the same for th

[2016-05-30 07:22] Orbiter commented on #217
Yes the official API is not working, at least not without an authorization. But for twitter we also do not user the official API becuase it would need a key. What we do is *scraping*, which means we extract the tweets from the html of the search result url for *humans*.
In this case the url is ```http://s.weibo.com/weibo/search-term``` like ```http://s.weibo.com/weibo/berlin``` if you search for '

[2016-05-30 07:41] treba123 commented on #439
@Orbiter Just to explain again why I'm struggling with this Credentials class:
- To get the credentials I need direct access to the query
- depending on the login method, I still need control over the query after verifying the user (for example cookie login)
- I don't want to split the code for managing the login into different parts.

I'll therefor first go with this encapsulated approach and we

[2016-05-30 08:13] shivenmian commented on #467
For the email server, I came across two options as of now:

* [Spring](http://docs.spring.io/spring-integration/reference/html/mail.html)
* [JavaMail](http://www.oracle.com/technetwork/java/javamail/index.html)

Both have clear docs and seem to be secure, and can be implemented into the Java code well.

For password recovery, what I think should be done is this:

1. In the "Forgot Password" page,

[2016-05-30 08:31] Orbiter commented on #467
JavaMail would also be my choice!
The process you describe is also what I would believe could be the correct way.

[2016-05-30 08:32] shivenmian commented on #467
@Orbiter nice. So should I start on this?

[2016-05-30 08:33] Orbiter commented on #467
yes!

[2016-05-30 09:17] treba123 commented on #466
Ok I made the Class syncronized to avoid the ugliest bugs. Performance enhancements (or a move to a real database) can be made later

[2016-05-30 09:49] treba123 commented on #439
Ok, if i get it right we now have an app that can be used to put sign in data and we have verifications of logins.
What is missing now (if i get it right) is:
- a signup servlet, which takes the data from the app and decides what to do with it (write the data to database, return if that id is already taken etc.)
- a login servlet is not really needed as login is implemented in AbstractAPIHandler
-

[2016-05-30 10:08] shivenmian commented on #439
@treba123 Login app has been made in #443. I am going to add the Forgot Password option to it, other than that the design has been made.

[2016-05-30 12:00] treba123 commented on #439
Ok, we have a dummy sign up working now (see https://github.com/loklak/loklak_server/pull/485 and what @shivenmian will push), but the structure of the authentication and and of the database maybe needs to be changed a bit. Will do a bigger push for that tomorrow, need some time for that.

[2016-05-30 16:15] Orbiter opened #488 "Dashboard for users after sign-up (or log-in)"
I believe "something" must happen after the signup, but I don't know what yet. However, people must see a kind of 'home' where they know that they are logged in.

Please suggest your ideas.

[2016-05-30 17:22] daminisatya commented on #488
@Orbiter I have the following ideas. But still need suggestions.
* We can have two tabs showing links to Loklak.org, Loklak.net and "proceed to home page"
* The right division can have two metrics. A stock chart showing the nTumber of tweets being indexed over a certain period of time. Other metric is to show the number of commits to Loklak_server and loklak_webclient.
* The middle div can project

[2016-05-30 17:41] daminisatya commented on #488
![selection_057](https://cloud.githubusercontent.com/assets/6227784/15655557/d040dea0-26bb-11e6-9956-66b94b392c4a.png)

[2016-05-31 07:52] daminisatya commented on #488
@Orbiter We can place a button called "Go to Home page" which would redirect to the Loklak landing page.

[2016-05-31 08:36] jig08 commented on #217
Yes @Orbiter , This method of `http://s.weibo.com/weibo/search-term` works just fine.
I was planning to use `JSoup` for parsing the HTML page. Suggestions pls ?

[2016-05-31 10:16] jig08 commented on #218
Hey, [qqshuoshuo.com](http://www.qqshuoshuo.com/) is the exact link to the Chinese twitter service ?

[2016-05-31 10:18] treba123 commented on #439
After reading a bit about login functionallity (for example [this](https://www.getdonedone.com/building-the-optimal-user-database-model-for-your-application/)), I came to the idea that it would probably be usefull to make the AAA databases even more abstract.
Like the following:
- we have one file for each A (authentication, authorization, accounting) each, which are connected via a unique ID
- th

[2016-05-31 10:31] jig08 commented on #217
@Orbiter @mariobehling

I have given a very basic attempt to parse HTML page using `JSoup`

Refer https://github.com/jig08/loklak_server/commit/2cc184816e5750ab46496b67811a46c3e088bf11

The current code snippet run results in:
[code]

Feedback appreciated so that I can work on it further :)

[2016-05-31 10:41] mariobehling commented on #217
There are number of items missing. Please compare with the existing twitter indexer we have. What fields do we have here?

It should have the same fields. Just leave empty where you cannot get data for the moment. "Copyright notices" of a website are also not relevant, cause we don't copy Weibo, but just index a tweet.

[2016-05-31 11:42] Orbiter commented on #439
This issue has already 17 comments, please don't increase complexity further. Make it simple.

[2016-05-31 11:48] Orbiter commented on #217
I like the jsoup approach. Please go ahead with that solution.
@mariobehling the title and text from the example above comes from the document title, thats the complete search result page
@jig08 I consider that this was just an example-usage of jsoup. You must of course iterate over the embedded search results and extract their tweet data as Mario writes. If this is possible with jsoup, then its a

[2016-05-31 11:54] Orbiter commented on #466
implemented with https://github.com/loklak/loklak_server/commit/515e013b7af83b79555394d896beb3a05d03d8cf and https://github.com/loklak/loklak_server/commit/a3bdb990d2ef7b161036b8df486e016c28eaaa7c

[2016-05-31 11:54] #466 closed

[2016-05-31 11:58] Orbiter commented on #449
for details see https://github.com/loklak/loklak_server/issues/439

[2016-05-31 12:12] Orbiter opened #491 "add a YouTube parser"
parse youtube video pages

[2016-05-31 12:14] Orbiter commented on #491
I already have a parser for such pages, but yet unpublished. Please @all don't do anything here, I will integrate this code.

[2016-05-31 12:21] Orbiter opened #492 "add a "type:" query modifier to restrict search results to specific harvesting domains"
We currently only have twitter-type messages in the index. In the future we will have more types, like youtube, weibo, shuoshuo and IoT source types like freifunk. Maybe other types like wikipedia (updates) and other data streams. To be able to restrict search results to only wanted types, the type modifier will be introduced.

Syntax:
[code]
..where a list of service names is a disjunctive constr

[2016-05-31 12:24] Orbiter commented on #492
The service-name must be defined in https://github.com/loklak/loklak_server/blob/master/src/org/loklak/objects/SourceType.java

[2016-05-31 12:34] Orbiter commented on #363
Related issues: https://github.com/loklak/loklak_server/issues/362 https://github.com/loklak/loklak_server/issues/386 https://github.com/loklak/loklak_server/issues/426 https://github.com/loklak/loklak_server/issues/439 https://github.com/loklak/loklak_server/issues/449 https://github.com/loklak/loklak_server/issues/467

[2016-05-31 13:23] mariobehling opened #493 "Plugin System for Additional Parser/Indexer"
If we consider loklak as a system for collecting data on the web from different sources, how could we simply add other sources? Would it be possible to have a simple way to plugin new parsers/indexers?

[2016-05-31 13:23] mariobehling commented on #493
This is related to issues like this one https://github.com/loklak/loklak_server/issues/491

[2016-05-31 14:58] Orbiter commented on #493
maybe organized like the apps?
To push generic data to the index (and the dumps!) we already have the /api/push.json api.

[2016-05-31 15:14] sudheesh001 commented on #492
This would also be useful for IOT devices, How do we let devices identify each other on a custom server considering that the IOT server is going to be a private server and not on loklak.org

[2016-05-31 16:22] mariobehling commented on #492
Let's assume we have a) a number of clearly defined like weibo, twitter, IoT in the index, but b) we could also have types that are added through custom parsers. In this case it would be good to have an "other field" in a UI that can be defined by typing a parameter into that field.

[2016-05-31 16:24] treba123 commented on #439
Ok, most stuff is done now. Signup works, login just needs some little changes (@shivenmian is on it)
so just the current status:
- you can signup and login via the apps
- you can also get access to every sevlet extending AbstractAPIHandler by adding `login=...` and `password=...`. Furthermore you can add `request_session=true` to get a session (thats what the login app does, but we can also use i

[2016-05-31 16:27] shivenmian commented on #439
@Orbiter The signup is done, we have encoded the passwords and stored them. Will start on the login system now. I will also implement the Password Recovery server along with the login system after doing the JavaScript part.

[2016-05-31 16:29] treba123 opened #497 "Add long living cookie to login"
To enable users to stay logged in over longer periods, we need to give them a long living cookie.
That's only done if the "remember me" checkbox on the login page in selected, as said below.

Due to some regulations, we might have to add a hint to the checkbox, that the user agrees to have a cookie set and we don't use it for tracking.
@shivenmian can you have that in mind when you work on the log

[2016-05-31 16:31] treba123 commented on #439
As soon as the login app works, i'd suggest to close this issue and open new ones for details

[2016-05-31 17:11] jig08 commented on #217
@mariobehling That was a sample code which simply parsed the `title` and `text` of the HTML page to show the usage of suggested `JSoup`.

@Orbiter Thank You :grinning:  After much exploration and sample implementation I too found it to be a simple and an effective solution. Let's see if it gets us the desired results.
I am definitely working on it accordingly.

[2016-05-31 17:56] shivenmian opened #498 "Rewrite SignUp and Login in angular.js"
This has to be done to integrate it into the topmenu, which I believe will be necessary. Once the entire system has been made and works fine, migrating to Angular won't be a big issue then. I will take it up myself, will get to work with Angular in the process :)

[2016-05-31 19:30] shivenmian commented on #470
@Orbiter I shall definitely come back to this and the robots.txt issue once the accounts system has been made (which should hopefully be by this week), so I have postponed it to the next milestone.

[2016-06-01 00:05] smokingwheels commented on #467
For what its worth my Provider Blocks Port 25 so would it be possible to use Yahoo, Gmail or other as the SMTP Server you need to put a custom port in and user name as Email address and matching password.

[2016-06-01 00:18] smokingwheels opened #499 "My IP is Reported to do lots of request frequency is too high."
Had this 503 error your IP request frequency is too high for over a week now when doing a search even though I do not have any Loklak Server running.
I have have run WireShark and confirmed no IP traffic to Loklak.org but still get the error.
I can think of a few causes will let you know if needed.

[2016-06-01 03:43] Orbiter commented on #499
I blacklisted you because you DoSd the service beyond any responsibility. I know that you like to do performance testing, but please do that on your own peer.

[2016-06-01 03:43] #499 closed

[2016-06-01 03:46] Orbiter commented on #497
please add a issue body and describe what this issue is about in a little more detail

[2016-06-01 04:18] shivenmian commented on #497
@Orbiter I'm not sure but I think this is for "Remember me" functionality in the login.

[2016-06-01 08:30] DengYiping commented on #217
@jig08 Do you need any help right now? The API has some rate limit, you have to be careful about that.

[2016-06-01 08:33] DengYiping commented on #218
@jig08 [qzone.qq.com](shuoshuo) I've several implementation , I haven't migrated it to loklak yet, feel free to check out my github account.

[2016-06-01 11:19] treba123 commented on #488
- Any servlet that extends AbstractAPIHandler can now query `rights.getIdentity()` to know the own identity.
- We could have a redirect from the login to that dashboard described from @daminisatya
- @shivenmian wants to implement the login into the topmenu (https://github.com/loklak/loklak_server/issues/498) so we can display some stuff there (like here on github)

[2016-06-01 11:21] treba123 commented on #439
Signup is now disabled by default in the config, just to not have any bots spamming us.

[2016-06-01 11:44] treba123 commented on #449
Done, see #439

[2016-06-01 11:44] #449 closed

[2016-06-01 11:51] jig08 commented on #217
@DengYiping Yes, I certainly do need help.
Okay, Could you pls elaborate a bit ?

The HTML source for the [s.weibo.com/weibo/chocolate](http://s.weibo.com/weibo/chocolate) I am using for trial is as:
[code]
![screenshot from 2016-06-01 17 07 36](https://cloud.githubusercontent.com/assets/9291400/15708567/cddea3ce-281c-11e6-825d-e93e6666f5df.png)

Upon a li'l exploration I found that the `User Card

[2016-06-01 11:53] treba123 opened #501 "Restrictions on signup (server side)"
We have to include checks on the server side of the signup (email validity, password lenght) and possibly have the frontend query for it.
For example the password restrictions should be made at one point only, so if we make changes (e.g. requirering 10 instead of 6 characters) we don't have to chage the login app independently.

[2016-06-01 11:55] shivenmian commented on #501
I have made password restrictions at client side @treba123 for the signup. Only those passwords who pass the restrictions go to the database.

[2016-06-01 13:02] sopu commented on #397
Refer [this](https://github.com/loklak/loklak_wp_search_plugin/pull/2)

[2016-06-01 13:02] #397 closed

[2016-06-01 13:09] DengYiping commented on #217
@jig08 This is on the right track. Either Regex or Soup will work in the case of parsing html. I will cooperate with you soon on this crawler(I have a leaving exam right now. ) Feel free to contact me via e-mail: scottdeng@live.cn

[2016-06-01 14:08] sudheesh001 commented on #458
I don't think the validity of checking and leaderboard could be done until the login / some form of session and account tokens is present in the server. I am hereby marking this as blocked for the meanwhile until the server can support this implementation

[2016-06-01 14:09] sudheesh001 commented on #452
Closely related to https://github.com/loklak/loklak_server/issues/458 Should be blocked

[2016-06-01 14:10] sudheesh001 commented on #298
Drupal isn't taken up yet by anyone, lets focus on one at a time. Unassigning this so that we could get back to this later. The current focus is on
- Joomla (@daminisatya)
- Wordpress (@sopu)

[2016-06-01 14:11] sudheesh001 commented on #297
Repository : https://github.com/loklak/loklak_joomla_timeline

[2016-06-01 14:11] sudheesh001 commented on #295
Since Github has rolled out multiple assignments feature lets add more developers working on the CMS plugins/components

[2016-06-01 17:02] sopu commented on #392
I have started work on a search_plugin for Wordpress.
Closing this for now.

[2016-06-01 17:02] #392 closed

[2016-06-01 19:30] sudheesh001 opened #504 "Dashboard for IOT Devices connected to Loklak"
Loklak will soon be getting a dashboard for the logged in users. So we can maintain the sessions for users, similarly we need a dashboard for the users to handle the devices that he's connected to loklak.

Milestone 12

[2016-06-02 03:18] shivenmian commented on #504
@sudheesh001 Something like Facebook has right? There's an "Active Sessions" panel wherein it gives you the list of devices you're logged into, and you can log out of other active sessions from that panel.

[2016-06-02 04:14] Orbiter commented on #488
two thoughts which may contradict a bit but maybe we get this together:
- we are not far away from the ability to do loklak-created tweets. In twitter if you are logged in, you see your timeline. We don't have a timeline yet, but lets keep that in mind
- we will hava a shop in loklak_depot and after the log-in you see the products within the shop. But the shop will be created with the app infrastr

[2016-06-02 04:33] daminisatya commented on #472
#506

[2016-06-02 04:36] daminisatya opened #507 "Beautify the Apps Page"
- [x] Add css animation to the tiles while loading

- [x] Add proper css to the side nav bar

[2016-06-02 04:48] Orbiter commented on #507
Good idea, I just wanted to open an issue as well. Please do as well:
- [ ] Headline over apps must be like category name if category is listed. Exception is: listing of all apps.
- [ ] selected category must be marked as if selected with mouseover.  This applias also to the default-all listing.
<img width="936" alt="categoryb" src="https://cloud.githubusercontent.com/assets/238730/15734243/e9186a

[2016-06-02 04:51] daminisatya commented on #507
@Orbiter Will do it !

[2016-06-02 05:09] #472 closed

[2016-06-02 05:40] Orbiter opened #508 "session information not available after log-in"
every api servlet now returns the identity of the user, if the user is anonymous it looks like:
[code]
So when I log in with an account I just created, I expect that I see my identity there.
That is not the case.
To test this, i.e. call:
http://localhost:9000/api/apps.json
or
http://localhost:9000/api/hello.json
where you now have the identity object

[2016-06-02 08:15] treba123 commented on #508
For me it works fine when using parameters. Did you use the login app? Because it's not yet finished/adapted to some changes we have made. But if you login via the parameters, it fine.

[2016-06-02 08:22] treba123 commented on #501
Yes, but client side restriction is only for the client. He can easily bypass them if he wanted. It's only javascript, run by his browser. He can just send whatever request to signup.json, that's why we have to make checks there.

[2016-06-02 09:14] treba123 opened #509 "Safety meassurements for authentication"
For the authentication part of the login, we should consider additional safety meassures, like counting login attemps to ban ips that try to bruteforce us.
We can make use of the accounting infrastructure for that.

[2016-06-02 09:26] treba123 opened #510 "Clean up of json files"
The json-files we use for the AAA system currently never get cleaned up, making them grow forever and saving user data (like ips) in clear text.

As I need some kind of cleaup system for the DAO.authentication file anyways, I'd like to implement a cleanup function (has to be thread-save) that removes all entries with a `valid_until` key that holds a timestamp smaller then the current one.
It has t

[2016-06-02 12:51] treba123 commented on #497
done, https://github.com/loklak/loklak_server/pull/511

[2016-06-02 12:51] #497 closed

[2016-06-02 13:05] sudheesh001 opened #512 "Flexible conversion of XML data sources into JSON to store in loklak"
Some IOT data feed provide the data in an XML format for example
- http://graphical.weather.gov/xml/

It'd be good to have an XML to JSON Converter so that it's easier to read for javascript as JSON Objects. Every push event of type XML should get converted to JSON and then be pushed.

`/push.json` having `data: { }, type: xml` gets converted to JSON and then `/push.json`

[2016-06-02 13:59] sudheesh001 commented on #488
<img width="1028" alt="screen shot 2016-06-02 at 4 53 21 pm" src="https://cloud.githubusercontent.com/assets/4545925/15747420/49527730-28e3-11e6-85bc-8aad8d19b621.png">

[2016-06-02 14:01] daminisatya commented on #488
@sudheesh001 Is the left column all about the user's profile? I'm not sure about what we could display in the timeline column!

[2016-06-02 14:04] sudheesh001 commented on #488
The timeline column will have the past tweets of the user which we can retrieve by taking `search.json?q=@userprofile` and there's quite a bit of information available in the `/user.json` to fill up the user profile, added to the user profile, we can have links to different other apps over there creating an app ecosystem for loklak.

The orange `+` button will open up a tweet modal and allow users

[2016-06-02 15:46] mariobehling commented on #488
@Orbiter @sudheesh001 Let's not re-create the loklak webclient of last year again. The shop should not be related to twitter only and I do not think people even need a twitter account for the shop. We need to define the goal of the shop first.

[2016-06-02 19:27] daminisatya opened #514 "The Top Navigation bar is not showing active tab."

[2016-06-02 20:03] shivenmian commented on #439
@treba123 The login page works fine, so I guess we can close this.

[2016-06-02 20:12] shivenmian commented on #501
@treba123 Okay. You can put the following restrictions:

1. Password has to be more than 6 characters.

2. Password cannot be same as email ID / username (if username is ```x@y.z``` then password != x or ```x@y.z```)

3. Email has to satisfy the regex. You can use the following regex:

```/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1

[2016-06-03 02:10] jig08 commented on #217
@DengYiping Yes, have sent you an EMail. Let's discuss the alternatives or/and work on this further.

[2016-06-03 07:06] sudheesh001 opened #517 "/push/geojson.json Documentation URL's need mandatory screen_name"
The documentation present at http://localhost:9000/api.html#geojsonpush has example request URL as
`http://localhost:9000/api/push/geojson.json?url=mysite.com/mygeojson.json&source_type=IMPORT`
But the `screen_name` is a mandatory field and needs to be a GET parameter.

[2016-06-03 07:44] treba123 commented on #439
Yep, nice one.

[2016-06-03 07:44] #439 closed

[2016-06-03 07:47] mariobehling commented on #517
Please assign and add milestones to all issues.

[2016-06-03 08:41] jig08 commented on #218
@DengYiping Sure, Doing the same :grinning:
Thanks.

[2016-06-03 08:48] mariobehling commented on #217
Please include me the mailing list in these conversations: loklak@googlegroups.com This is important for us too. Cheers.

[2016-06-03 09:10] jig08 commented on #217
@mariobehling, surely, Will keep in mind in future :)

[2016-06-03 09:38] jig08 commented on #218
I have tried using the `JSoup` approach to extract text from [qqshuoshuo.com](http://www.qqshuoshuo.com/)  but testing takes lots of time as the result is retrieved in Chinese characters and if I copy paste the entire thing in _Google Translate_ it returns me a message `Text exceeds character limit.`.

I am testing it phrase-by-phrase or line-by-line and shall push the code soon.

[2016-06-03 10:41] jig08 commented on #218
QQ Recommended Talks  from [qqshuoshuo.com](http://www.qqshuoshuo.com/) stored as an array of Strings.
Refer: https://github.com/jig08/loklak_server/pull/1/commits/476fb722e39fc577ecadb64743a03859785c96b0

Will be doing similarly for `Latest QQ talk` and `QQ talk Leaderboard`.

[2016-06-03 12:40] DengYiping commented on #218
@jig08 You are working on a wrong website, the correct one is [qzone.qq.com ](shuoshuo)

[2016-06-03 12:41] DengYiping commented on #218
@jig08 the website you are working on is just a CMS.

[2016-06-03 12:42] treba123 opened #519 "Installation page"
We're getting more and more features that can or should be customized by the admin of a loklak installation.
Maybe we should get a simple installation page sooner or later, going through the settings on first run, like many php projects like wordpress do.
Shouldn't be to much work and can make it much easier to discover certain features

I'm thinking things like:
- send mails via smtp (email addre

[2016-06-03 12:44] treba123 commented on #508
should be alright now

[2016-06-03 12:44] #508 closed

[2016-06-03 13:06] jig08 commented on #218
Oh, proves it. I had been unable to get its concept fully. Thanks. Will implement the same on
[qzone.qq.com](http://qzone.qq.com/)

[2016-06-03 13:08] jig08 commented on #218
Even after translating via _Google Chrome,_ only Chinese characters are displayed :cry:

![screenshot from 2016-06-03 18 36 54](https://cloud.githubusercontent.com/assets/9291400/15779477/42f748b6-29ba-11e6-85d3-b89439d30354.png)
![screenshot from 2016-06-03 18 36 21](https://cloud.githubusercontent.com/assets/9291400/15779478/42fd8780-29ba-11e6-9d9a-7ea0b117cd4a.png)

[2016-06-03 13:21] shivenmian commented on #519
Yes.

[2016-06-03 14:23] DengYiping commented on #218
@jig08 [link](http://geekinguniverse.com/2015/11/16/crawling-chinese-social-network-shuoshuo-or-qq-kongjian/ ) Here is a link to a article about the crawler. This post is about a old version of the crawler, but it is still working. I can help you with the translation, also.

[2016-06-03 14:24] DengYiping commented on #218
@jig08 On the second page, it asked you to login.

[2016-06-03 15:06] jig08 commented on #218
Thanks @DengYiping , translation would be very helpful :smiley:

Also, the article [Crawling Chinese Social Network — Shuoshuo (or QQ Kongjian 说说爬虫)](http://geekinguniverse.com/2015/11/16/crawling-chinese-social-network-shuoshuo-or-qq-kongjian/) is informative . Maybe, we could use the similar code in Java and integrate in Loklak Server more easily ?

[2016-06-03 15:07] jig08 commented on #218
@DengYiping  Your comment _"@jig08 On the second page, it asked you to login.  https://github.com/loklak/loklak_server/issues/218#issuecomment-223592749_" I didn't  get it ...

[2016-06-03 15:11] DengYiping commented on #218
@jig08 On the second picture, it asked you to login. In order to use shuoshuo, you have to have a qq account.

[2016-06-03 15:12] jig08 commented on #218
@DengYiping ohm the one with the QR code ? Can we proceed without login ?

[2016-06-03 15:12] DengYiping commented on #218
@jig08 I have a version currently worked on Scala. It wouldn't be hard to store data in loklak.

[2016-06-03 15:13] jig08 commented on #218
@DengYiping Sure. We could test and then merge it after enhancing it  ?

[2016-06-04 07:01] daminisatya opened #520 "Create a Twitter wall using the Loklak services"

[2016-06-04 07:02] daminisatya opened #521 "Create a Sentiment Visualizer app."

[2016-06-04 07:03] daminisatya commented on #521
This was already done in Python.
https://github.com/daminisatya/SentimentVisualizer
Will convert it into an Angular App.

[2016-06-04 07:27] mariobehling commented on #520
@daminisatya It looks like often there is no description in your info unfortunately. We already work on a twitter wall in the loklak web client. How does your idea here differ? What technologies you plan to use?

[2016-06-04 07:37] daminisatya commented on #520
@mariobehling Will design the wall using AngularJS and poll the requested tweets. It's just an app, where the user can use it after login. It's no where related to the web_client's walls. But still would follow your suggestion.

[2016-06-04 08:02] mariobehling commented on #520
@daminisatya We already have an Angular.js wall in the web client. There is also a metorjs wall. I do not understand why we duplicate work. We can move the code of the web client and add it as an app here later. No need to duplicate really.

[2016-06-04 08:09] daminisatya commented on #520
@mariobehling Agreed! Closing it to avoid duplicate work.

[2016-06-04 08:09] #520 closed

[2016-06-04 23:46] Orbiter commented on #508
ok now it's working

[2016-06-05 00:38] Orbiter commented on #510
We should not store data in the AAA files which then have to be cleaned up. This effect is circumvented with https://github.com/loklak/loklak_server/commit/dc5712152e0fe293abc132529672c54ece6dbb0e where volatile information is never stored in the json files.

[2016-06-05 00:38] #510 closed

[2016-06-05 09:15] daminisatya commented on #410
Closing this in favor of #523 and [f852d5f ](https://github.com/loklak/loklak_server/commit/f852d5fbfcc5938f697181bbd92b2e46479a637e)

[2016-06-05 09:15] #410 closed

[2016-06-05 09:23] daminisatya commented on #507
#506 , [6d945ef](https://github.com/loklak/loklak_server/commit/6d945ef29df7645637b1bab1067f4416527591c3)

[2016-06-05 09:23] #507 closed

[2016-06-05 09:46] daminisatya opened #524 "Enhance the Search vs Aggregations app."
- [x] Add the time limitations - from, until.

- [x] Validate the fields

[2016-06-05 09:53] daminisatya opened #525 "The background in apps page needs to be lighter on mouse hover."
![selection_067](https://cloud.githubusercontent.com/assets/6227784/15804758/8088ab0c-2b31-11e6-982c-3eaf3abca3e0.png)

[2016-06-05 19:44] jig08 commented on #217
The data in `<script>` tags can be retrieved as:
[code]

To extract information, it can be parsed by following one of the two approaches:
* RegEx
* [Rhino](https://developer.mozilla.org/en-US/docs/Mozilla/Projects/Rhino)

[2016-06-06 05:50] jig08 commented on #347
Begun work here https://github.com/jig08/loklak_server/pull/2/commits/044f4949f7bf955d677910080cfbd8eb2f762003

[2016-06-06 09:56] mariobehling commented on #346
Closing as it is lower priority at the moment.

[2016-06-06 09:56] #346 closed

[2016-06-06 10:00] mariobehling opened #527 "Add crawler for Wordpress sites"
Wordpress sites are a major part of the web. In our data structure we could regard elements like the title similar to a tweet text and post and media in Wordpress as attachments.

Propose and implement a crawler for Wordpress sites.

[2016-06-06 10:02] mariobehling opened #528 "Add crawler for Hackernews"
Hackernews is a major resource for technologists. The format of many posts is similar to tweets. Propose and implement a crawler for the service: http://news.ycombinator.com

[2016-06-06 10:29] shivenmian commented on #467
This could take me a day or two.

[2016-06-06 11:08] treba123 opened #530 "More efficient logging"
Right now, our log system is very primitiv and ineffective, as all output is directly piped into the logfile when using start.sh.
That comes at great cost, as it constantly triggers massiv io operations, linear to the system load
I don't know wether the log is active on loklak.org, but if it isn't manually disabled, i wouldn't wonder if it has huge performance costs.

I'd like to investigate into

[2016-06-06 11:12] mariobehling commented on #467
Ok, we should not take care of this. Please check how to make use of phplist.com. The CEO is a friend of mine and they will offer a large free plan for loklak.

[2016-06-06 12:58] treba123 commented on #530
See https://github.com/loklak/loklak_server/tree/log for a working version

[2016-06-06 13:50] daminisatya commented on #525
Not able to find a way to fix it.

[2016-06-06 15:45] daminisatya commented on #524
[a9a89b8](https://github.com/loklak/loklak_server/commit/a9a89b8f6aaf39626dcc15bbe169238132544f5c) Safe to postpone other fields for the aggregation query. The app is working fine with proper validations.

[2016-06-06 15:45] #524 closed

[2016-06-06 16:16] #512 closed

[2016-06-06 17:02] daminisatya opened #531 "Create an app which is similar to Diffbot"
- Input : URL to a HTML page

- Output : JSON object which primarily focuses on the following fields [icon,  title, sitename, tags, language, pageURL]

- The basic app must be able to take in the URL of the HTML page and display the JSON object containing the above mentioned fields. This is the first version of the app.

[2016-06-06 17:40] shivenmian commented on #531
@daminisatya Since diffbot is a crawling service, would making this not actually solve issues like #217 etc?

[2016-06-06 17:44] jig08 commented on #531
@daminisatya @shivenmian @mariobehling If it helps with crawling other websites, this could be of a fantastic help !

[2016-06-06 18:02] jig08 commented on #527
@mariobehling Surely, we could do this.
Which all sites do we need to consider ?

- [ ] [blog.loklak.net](https://loklaknet.wordpress.com/)
- [ ] [newsroom.fb.com](http://newsroom.fb.com/) (Powered by Wordpress)

.... _more to be added soon_

[2016-06-06 18:05] jig08 commented on #527
A little exploration led to the fact that the `blog-post` information can be found in the HTML source and thus `JSoup` could be used to parse the required information in a "tweet"-like card.

![screenshot from 2016-06-06 23 33 09](https://cloud.githubusercontent.com/assets/9291400/15832304/3cc551c2-2c3f-11e6-921b-9f83d14ff653.png)

[2016-06-06 19:02] Orbiter commented on #493
There comes also another question up: even if we can parse other content, how can we harvest that? Would we collect with queries, the same way we do with tweets?

[2016-06-06 20:06] #514 closed

[2016-06-07 06:14] sudheesh001 commented on #531
@daminisatya @jig08 @shivenmian I think for the initial rounds, this diffbot can implement a generic scraper.

[2016-06-07 06:33] sudheesh001 opened #533 "Update API to have XML2JSON usage guidelines."
We've just integrated XML parsing into org.json.XML, the API endpoint needs to be updated in the api with a use case.

[2016-06-07 08:35] mariobehling commented on #467
@shivenmian Did you have a chance to check phplist out? How much does it help us achieving this goal? What is your opinion? Should we head this way and integrate?

[2016-06-07 09:00] shivenmian commented on #467
@mariobehling I'll let you know in a bit, probably by this evening.

[2016-06-07 09:19] sudheesh001 opened #534 "API Nav Sidebar Routing not scrolling automatically"
Clicking on a URL link in sidebar doesn't jump automatically to the required API location and makes the URL's have an extra `/` as follows
`http://localhost:9000/api.html#/hello` instead of `http://localhost:9000/api.html#hello`

[2016-06-07 09:39] mariobehling commented on #295
I am closing this feature. We should follow up in specific issues for CMS.

[2016-06-07 09:39] #295 closed

[2016-06-07 09:45] #533 closed

[2016-06-07 09:55] sudheesh001 commented on #534
Regression related to #525 Error present in `loklak.js`

[2016-06-07 11:10] sudheesh001 opened #537 "Some pages complain about missing jQuery for bootstrap's JS to run."
One of the conditions for #525 #534 breaking

[2016-06-07 11:21] treba123 commented on #530
Created a PR: https://github.com/loklak/loklak_server/pull/536

[2016-06-07 12:17] #534 closed

[2016-06-07 12:35] #537 closed

[2016-06-07 13:17] sudheesh001 commented on #517
@Orbiter I think this is an active bug to push geojson `FeatureCollection` objects, I have the following object generated from the following python script
[code]
Pushing the data into an empty `dict` `{}` resulting in
[code]
similar to the one given in the documentation
[code]
located at the following URL: https://gist.githubusercontent.com/sudheesh001/5b78bfa2252c3ece26388794c6389686/raw/41382402

[2016-06-07 13:43] treba123 opened #539 "Bluemix deployment failing"
Atm, bluemix deployment is failing with the following error:
`Cloning the 'master' branch from repo 'https://P90MSG01:3041/git/treba/loklak-server-treba-1522'
Buildfile: /home/pipeline/03f83139-311d-4f15-a7d8-81b38f53a0b2/build.xml

init:

build:
    [mkdir] Created dir: /home/pipeline/03f83139-311d-4f15-a7d8-81b38f53a0b2/classes
     [echo] loklak: /home/pipeline/03f83139-311d-4f15-a7d8-81b38f53a

[2016-06-07 14:49] treba123 commented on #530
done, see #536

[2016-06-07 14:49] #530 closed

[2016-06-07 15:39] jig08 commented on #347
@mariobehling @orbiter

Information viz Group Name, Group Description, Group Topics & Recent Meetups (Date, Time, Reviews, Introductory Lines etc.) from [Meetups.com](http://www.meetup.com/) has been parsed using `JSoup`

Refer https://github.com/jig08/loklak_server/commit/e5272a4406292b38e7ca16bf5f7d74ef0f086242

[2016-06-07 16:02] jig08 commented on #531
@sudheesh001 Okay, Cool. We could enhance and customize then on..

[2016-06-07 16:33] sudheesh001 commented on #525
<img width="1440" alt="screen shot 2016-06-07 at 7 25 33 pm" src="https://cloud.githubusercontent.com/assets/4545925/15866195/4fd56746-2ce6-11e6-8b3c-9da8d513cd9c.png">

[2016-06-07 16:33] sudheesh001 commented on #525
the highlight is now lighter on click and also works on hover.

[2016-06-07 16:40] #525 closed

[2016-06-07 20:48] sudheesh001 opened #544 "Too many push's to backend returns 504"
experience on loklak_wok issue https://github.com/loklak/loklak_wok_android/issues/7#issuecomment-224386357

[2016-06-08 05:27] sudheesh001 opened #545 "Allow explicit whitelisted users to perform action=update in account.json"
@Orbiter The account.json has access only to `localhost` clients, It'd also be great if the update actions could be performed to a set of explicitly whitelisted IP addresses. This would be useful for #280 too since `apps` already can accept dynamic JSON entries.

This will allow devices acting as users to update their information in their account as an app.

[2016-06-08 06:15] mariobehling commented on #531
As far as I understand Diffbot also uses specific parsers for specific websites. @Orbiter What is your idea?

[2016-06-08 08:50] mariobehling commented on #347
@jig08 How does this information fit our data model? How to integrate it?

[2016-06-08 09:09] treba123 commented on #545
Maybe we can simply use the login system for that. If account.json extends AbstractAPIHandler, we can just register each device as a user.
You can use the api simply adding `signin=....` and `password=...` to the query

[2016-06-08 09:26] sudheesh001 commented on #545
Absolutely, with the authentication, this should be really amazing, what do you think about it @treba123 since we already have the signup servlets and the login servlets ready

[2016-06-08 09:30] treba123 commented on #545
We just didn't yet discuss yet how to structure the authorizations, but basicly it's all there. Will create an issue for that, shouldn't be such a big deal

[2016-06-08 09:44] treba123 opened #547 "Structure of authorizations"
We now have autherization objects when doing a login, but we don't yet settled on a structure how to write the individual rights.

Here a short proposal:
- We have general user roles (like admin/user/premium user...)
- These user roles define a set of rights, but for each user, we can overwrite them if needed
- rights are structured on servlet basis

A little example:

So each user has a role whic

[2016-06-08 15:08] Orbiter commented on #545
instead of a whitelist we should operate with roles and as @treba123 suggests use the authentication system. Yes lets do that with https://github.com/loklak/loklak_server/issues/547

[2016-06-08 15:08] #545 closed

[2016-06-08 15:15] Orbiter commented on #547
right, having roles and assignment in authorization.json is the 'glue' for our rights managament.

I suggest the following general roles:
- Administrator: is allowed to do everything (currently: localhost access), including assignment of rights
- Moderator: has rights to use all services and to assign user rights, up to moderation rights
- Service Manager: has right to use all services and change

[2016-06-08 15:31] treba123 opened #552 "Elasticsearch logging"
Right now, we don't log the output of elasticsearch, leaving us without a clue why it sometimes breaks. The reason for that is probably, that it by default uses log4j for logging, which we don't initialize, therefor dropping all output

I'll try to make it use our general log4j2 backend

[2016-06-08 16:30] Orbiter commented on #552
+1

[2016-06-08 16:47] treba123 commented on #547
Alright, that makes sense. I'll try to use that this way and write a little howto afterwards

[2016-06-08 16:47] shivenmian commented on #467
@Orbiter @mariobehling I think we do need a server for this. As I figured out, non-server emails can't really be sent by JavaMail. For that to happen you'd have to hardcode your password in the code.

For now, I'll give the user the option to select his server. I'm going to add the SMTP settings (host, port etc) as fields in the config file. Also, the user will have to add his username and passwor

[2016-06-08 17:47] jig08 commented on #347
@mariobehling
As @Orbiter mentioned, he is working on a framework to integrate external non-twitter-like data into the loklak message structure. It shall then work for us as a template to add the `meetup` and other `wordpress` or `instagram` parsers as well.

Till then, we can collect information from these sources using HTML parsing.

I hope that answers your query :)

[2016-06-08 19:09] shivenmian commented on #467
Ok, I have found a temporary customisable solution wherein I have used the config file and it caters for all types of server authentications. I will submit PR tomorrow @mariobehling.

[2016-06-08 21:28] Orbiter commented on #539
We lost almost all harvesting peers. This may be the cause. This fix has high priority.

[2016-06-08 21:33] Orbiter commented on #519
+1
I would consider that this can be seen in the context oft personal settings for each user where the admin has more setting options, most oft them you already mentioned.

[2016-06-08 21:34] Orbiter commented on #509
+1

[2016-06-08 21:37] Orbiter commented on #493
I have a concept now that is almost complete, but not the time to implement. Will do until saturday.

[2016-06-08 21:39] Orbiter commented on #488
As a temporary solution, lets set the app list as dashboard. We can modify that later.

[2016-06-09 01:27] shivenmian commented on #488
@Orbiter that's like a single line of code, because the apps list already is existent at ```html/apps/applist.html```.

[2016-06-09 08:16] #539 closed

[2016-06-09 10:04] treba123 opened #555 "Anonymized data"
This is just an idea about the general future of the project, concerning how we handle data on the long run.

As one major goal of loklak is to collect and connect massiv amounts of data and make it usable for science and good(tm) projects, we should think about how to handle all this responcively.
In the scientific community this has long been a discussion, as for many usecases, researchers are n

[2016-06-09 13:50] mariobehling commented on #555
@treba123 Thanks for bringing this up. This is a very important huge subject, but I am afraid we cannot solve this issue here and our issue tracker is not the right place to discuss this. There is no good answer to this question. It addresses an old dilemma - should you do something even though it could potentially be used in a bad way? Also, to be realistic as a matter of fact loklak is not reall

[2016-06-09 13:50] #555 closed

[2016-06-09 15:54] jig08 commented on #528
@mariobehling
Again, `JSoup` can be used to extract the news headlines on [HackerNews - news.ycombinator.com](https://news.ycombinator.com/)
I have done a bit exploration, and shall push its code soon.

![screenshot from 2016-06-09 21 23 49](https://cloud.githubusercontent.com/assets/9291400/15936397/7c18a63a-2e88-11e6-9414-23205455b8cd.png)

[2016-06-09 16:00] jig08 commented on #217
@loklak/loklak-developers Help required to create `RegEx` for extracting the required information from within the `<script>...</script>` tags.
@DengYiping Any suggestions apart from using `regex` ?

[2016-06-09 19:43] jig08 opened #557 "Add crawler for Open Source News"
Developing in and for an open environment, it would be great for the developers to skim through the latest news from [opensource.com/tags/open-source-news](https://opensource.com/tags/open-source-news)

We could crawl _opensource.com_ include the top ten news headlines & content snippet in a tweet-card like format in _Loklak_ .

@mariobehling @Orbiter Views pls ?

[2016-06-09 20:20] sudheesh001 opened #558 "Retain object fields while updating in accounts"
Is there a way to add multiple objects to a single key value in the apps object of account.json ?
I am testing out the IBM Home automation code where there's a simple integration of device statuses being sent to the server. So an object like

[code]

Adding to accounts.json as "Alarm" results in

[code]

but any other changes made, removes the "Alarm" object in the apps, i.e. like adding a new app

[2016-06-09 20:22] sudheesh001 opened #559 "Update documentation for push data which creates and stores a new index"
since we can now have custom indexes, the push API needs to be updated with the details on how to
- [ ] Push data to the new index.
- [ ] Query data from the new index.
- [ ] Push and update existing data to the index

[2016-06-09 20:31] sudheesh001 opened #560 "Make IBM Home Automation using Watson push the data parallely to the loklak service"
[code]
IBM Watson Developer: https://developer.ibm.com/iotfoundation/recipes/raspberry-pi/
Github: https://github.com/DIYhacking/IoT

Part to update: https://github.com/DIYhacking/IoT/blob/master/server1.py#L27
To do:
- Multithread over here so that one thread sends to loklak while the other continues operations uninterrupted
- Add the python loklak library
- Update documentation

Depends on : #55

[2016-06-09 20:56] Orbiter commented on #560
+1

[2016-06-09 20:59] Orbiter commented on #557
news pages should maybe not be crawled, instead we should read rss streams if they are provided. Having a rss reader would open up opportunities to all such news places

[2016-06-09 21:01] Orbiter commented on #528
they have an rss stream: https://news.ycombinator.com/rss
We should not waste energy parsing special peages if we could just get the rss stream.

[2016-06-09 21:03] Orbiter commented on #488
no, don't copy, jsto forward to the applist.html

[2016-06-10 00:43] jig08 commented on #528
@Orbiter Yes, okay.

We could make use of [ROME, The Java Framework](https://rometools.github.io/rome/) to parse the RSS or Atom feeds of different news links like Hackernews or Open Source News (wrt https://github.com/loklak/loklak_server/issues/557 ) and others.

[2016-06-10 00:45] jig08 commented on #557
@Orbiter Okay, Shall implement a RSS reader for this using [ROME, The Java Framework](https://rometools.github.io/rome/) to parse, next...

[2016-06-10 06:46] sudheesh001 opened #561 "CSV data formats for a lot of structured data should be parsed and JSON Converted"
Datasets like the open data platform from most governments are available as excel sheets or CSV files, This structured information can easily be converted to a json and be pushed, it's a data format that needs support from the loklak server for conversions.

- https://github.com/KISRDevelopment/Q8ODP/tree/master/DataSets/RAW
- http://spreadsheets.google.com/pub?key=tGBxaJGA31GfPQu5nOzWOzg&single=t

[2016-06-10 10:34] shivenmian commented on #501
@treba123 For the email validity, I'm thinking I'll make the email validity function in LoklakEmailHandler a separate function which can be used by you in the SignUpServlet. For password, the only rule is that length should be >=6 as of now.

[2016-06-10 10:38] shivenmian commented on #470
@treba123 @Orbiter I'll probably come to this issue now that the accounts system is more or less done. What all is needed in this right now? I see one of the issues you mentioned has been closed.

[2016-06-10 10:41] shivenmian commented on #465
Sorry for postponing this. Had spend quite some time on the accounts system lately, now it's more or less done so I'll try my best to do this by Milestone 5.

[2016-06-10 10:45] shivenmian commented on #488
Okay sure, will do.

[2016-06-10 12:36] Orbiter commented on #528
I don't know that framework, just use it if it's lightweight and simple.

[2016-06-10 13:32] treba123 commented on #501
https://github.com/loklak/loklak_server/pull/563

[2016-06-10 14:02] jig08 commented on #528
Okay @Orbiter :+1:  Shall implement a RSS/Atom feed reader using `ROME` and push the code soon.

[2016-06-10 14:56] #521 closed

[2016-06-10 15:27] daminisatya opened #566 "Add charts for visualizing the result by Sentiment Visualizer app."
Add Pie Charts for visualizing the following

- [ ] Countries tweeting the tweets.

- [ ] Languages of the tweets

- [x] The percentage of emotion tags being categorized.

[2016-06-10 22:01] treba123 commented on #501
see above

[2016-06-10 22:01] #501 closed

[2016-06-10 22:05] treba123 commented on #470
I think there's still alot to do for the AAA system, see for example https://github.com/loklak/loklak_server/issues/547
But if you feel like it, go for it.

[2016-06-11 10:14] #561 closed

[2016-06-11 17:47] jig08 opened #570 "Extract information from Reddit"
[Reddit](https://www.reddit.com/) has become quite popular these days. It is an entertainment, social news networking service, and news website.

Without needing any `oauth/access_tokens` we can extract information from the `HTML Results Page` of [https://www.reddit.com/?q="search-term"](https://www.reddit.com).

@Orbiter @mariobehling Suggestion and Feedback appreciated :grinning:

[2016-06-11 22:16] Orbiter commented on #570
reddit has rss for the main page: https://www.reddit.com/.rss
and as well for the search result: https://www.reddit.com/search.rss?q=loklak
don't scrape it, use the rss

[2016-06-12 11:54] Orbiter commented on #363
As part of the provisioning process we already discussed user roles in https://github.com/loklak/loklak_server/issues/547#issuecomment-224622063
To perform the activities according to the user roles, we must implement user stories.

As a user for one of the following roles
- Administrator: is allowed to do everything (currently: localhost access), including assignment of rights
- Moderator: has ri

[2016-06-12 14:41] treba123 commented on #552
https://github.com/loklak/loklak_server/pull/572

[2016-06-12 14:41] #552 closed

[2016-06-12 16:20] mariobehling opened #574 "Collect questions we could answer with the data loklak collects"
The idea of this collection is to define, which apps we can build to make use of loklak data in loklak depot.

https://docs.google.com/document/d/1-r5lJsV_Ag1ZRtvsrld9CplPQh7EFvVCNM3g9EcaYfk/edit

[2016-06-13 01:59] jig08 commented on #570
Oh yes, @Orbiter Gotcha.

[2016-06-13 07:59] Orbiter opened #575 "Question parser and answer templates"
We recently discussed the idea how to create a framework to implement "Q&A Apps" (lets call it that way for the moment). We want to discover typical question phrases and create a mechanism which consist of the following parts:
- a Parser for the question
- a generic search API which has just one input string (no other URL paramaters than that one) with a standard output format
- a result rendering

[2016-06-13 08:10] Orbiter commented on #574
this is part of https://github.com/loklak/loklak_server/issues/575

[2016-06-13 08:23] Orbiter opened #576 "search API with SQL-like queries and table outputs"
this is part of https://github.com/loklak/loklak_server/issues/575

For the query statement we try to adopt a sub-set of YQL select statements, see https://developer.yahoo.com/yql/guide/select.html
As a reference, here the complete YQL guide: https://developer.yahoo.com/yql/guide/yql_overview_guide.html

An example query could be
[code]

The default ordering of such results would be by time.
The r

[2016-06-13 08:32] Orbiter commented on #576
YQL does not have a "GROUP BY" as far as I can see, but we would implement that using elasticsearch aggregations. The result table then would consist of only two columns and always ordered by the second column (the aggregation count) with ORDER BY desc.

[2016-06-13 08:51] Orbiter commented on #576
The primary data source for these queries is the loklak index. Therefore, tables where the SQL statement can select from are ```messages```, ```queries```, ``users``` and ```accounts``` (maybe restricted). Additionally, we also have non-elasticsearch indices like ```folllowers``` and ```following``` which could be used.
More data sources could be used in conjunction with YQL sub-selects https://de

[2016-06-13 13:01] Orbiter opened #577 "loklak does not start because of missing library"
on loklak.org, loklak fails to start!

with https://github.com/loklak/loklak_server/commit/10993ac9f5b5d76b7f4ce8aca398b62cf5d5550a we can see now this error
[code]
The cause is this pull request here:
https://github.com/loklak/loklak_server/commit/498c5f5bcdd949c02ecb0efdc23082866a98acb3

We need either that library back again or another solution.

[2016-06-13 13:36] treba123 commented on #577
Please clear your installation directory and rebuild. That error should occur then.

[2016-06-13 13:44] jig08 opened #579 "Creating an initial list of (regex, query, rendering) tuples for Q & A App"
With respect to https://github.com/loklak/loklak_server/issues/574 &  https://github.com/loklak/loklak_server/issues/575 , an initial list of `(<regex for question>, <query formula>, <rendering method>)` needs to be created in order to build a `Q & A App` helping to answer the user questions.

User would then also be able to add their `(<regex for question>, <query formula>, <rendering method>)` t

[2016-06-13 13:45] jig08 commented on #579
@mariobehling @Orbiter Could start off by helping making this list

[2016-06-13 14:02] jig08 opened #580 "Loklak App to add a new (regex, query, rendering) tuple to the list"
With respect to https://github.com/loklak/loklak_server/issues/574 &  https://github.com/loklak/loklak_server/issues/575, Creating a Loklak app which allows the user to add another `(<regex for question>, <query formula>, <rendering method>)` tuple to the list created in #579 .

This app could be created just like other apps in http://loklak.org/apps/applist/index.html being looked over by @damini

[2016-06-13 14:04] #577 closed

[2016-06-13 14:28] treba123 commented on #577
By the way, the travis build system is now able to check if loklak starts up fine. So all new push requests are checked before they are merged.
So if the startup fails, the problem should usually be searched for on the user system.

[2016-06-13 14:58] Orbiter commented on #577
ok, lets include the 'clean' in bin/upgrade.sh

[2016-06-13 15:19] Orbiter commented on #575
The visualization modules should be done in a similar way as the loklak_webclient 'views' https://github.com/loklak/loklak_webclient/tree/master/app/views
They should be like html code snippets. There must be two primary types:
- lists (like for a set of messages)
- visualizations (for String-Number pair lists)

[2016-06-13 16:25] Orbiter commented on #576
a first version works with queries like:
http://localhost:9000/api/table.json?q=SELECT%20link,screen_name%20FROM%20messages%20WHERE%20id=%27742384468560912386%27;
http://localhost:9000/api/table.json?q=SELECT%20*%20FROM%20messages%20WHERE%20id=%27742384468560912386%27;

[2016-06-13 16:25] leonmak commented on #558
@sudheesh001 Sorry but I'm not sure why adding a new app object would remove the previous one? I did store the walls in an array also, wouldn't adding one object just be pushing to the array? I was using mongodb for the backend so it might be different

[2016-06-13 17:25] daminisatya opened #583 "Create a Q&A Framework app which has an user input page and a result rendering page"

[2016-06-13 17:26] daminisatya commented on #575
#583

[2016-06-13 17:27] treba123 commented on #577
done, https://github.com/loklak/loklak_server/pull/584

[2016-06-13 17:29] mariobehling commented on #575
What is the best way then to make new `app views`? I like the idea of DuckDuckGo to host everything on Github and integrating it by using the API. I could imagine for example that we have a dedicated loklak_views repo, that can plug into loklak. Each app is in one folder. In this case we would also keep loklak_server leaner. We could also go the same way with loklak Q&A apps e.g. loklak_tuple. Wou

[2016-06-13 17:31] jig08 commented on #575
@mariobehling Seems like a better idea. Not only would it help keep the `loklak_server` lighter but also help integrate other crawlers and parsers as `apps` and use them as plug-ins just like others.

[2016-06-13 18:47] Orbiter opened #586 "no log in eclipse terminal"
since the change in logging I get the following lines in the eclipse terminal:
[code]

Can we have default loglevel settings so that we see again whats happening?

[2016-06-14 06:54] Orbiter commented on #575
The DuckDuckGo concept is good, but I believe there should be many 'views' that can be shared with different data extraction rules. Therefore such an app infrastructure should allow to omit the view definition and instead link to an existing one.

Shared 'views' could be i.e. Data tables, Maps, Link lists etc
DDG also allows to make very 'special' Instant Answers, like this one: https://duckduckgo

[2016-06-14 10:04] treba123 commented on #586
Oh, my fold. Didn't think about that eclipse needs all libs in the classpath (in contrast to ant). Will readd them.

[2016-06-14 10:38] treba123 commented on #586
I had to add a log4j2 configuration file to the classpath, done
https://github.com/loklak/loklak_server/pull/587

[2016-06-14 10:38] #586 closed

[2016-06-14 14:33] #566 closed

[2016-06-14 14:59] daminisatya opened #589 "Create an app which gives popularity statistics"
- This app takes two hashtags and compares the "popularity" metric and displays the visualizations.
- It even allows to check the popularity measure of a single hashtag.
- The popularity metric is measured based on the number of mentions[count] + mention's followers[count]. The same two fields are used for comparison.

[2016-06-14 17:15] treba123 commented on #547
I'm actually still thinking about how to make this the most easiest for users and programmers.
In my mind, it should be as easy and unconfusing as possible, so for somebody who writes a servlet everything to do to have a propper rights management should be as selfexplaining as possible.

Some ideas:
- each servlet can specify its own keys it wants to use (e.g. `allowed_to_download`)
- for each use

[2016-06-15 00:22] treba123 commented on #555
@mariobehling would love to do that. I'm currently even considering making this topic part of my bachlor theses which I'll start after the GSoC. Maybe that could go into Loklak

[2016-06-15 06:12] sudheesh001 commented on #558
@leonmak This is for the /accounts.json API So if we run two commands for update as
- http://localhost:9000/api/account.json?action=update&data={"screen_name":"test","apps":{"wall":{"type":"horizontal"}}}
followed by
- http://localhost:9000/api/account.json?action=update&data={"screen_name":"test","apps":{"wall2":{"type":"horizontal"}}}

This will remove the `wall` and will now contain `wall2` but

[2016-06-15 06:15] sudheesh001 opened #592 "Update LQL for the newer API's XML2JSON and CSV2JSON and generically use input data"
the LQL application doesn't yet support the APIs which need data from the user to be sent. This issue will fix those.
- [x] xml2json
- [x] csv2json

[2016-06-15 08:48] treba123 commented on #547
I'll create a PR later the day, as discussion base

[2016-06-15 09:04] treba123 commented on #547
I'm currently more and more hitting the limitations of our current JsonTray 'database'. Would it be ok to include a simple embedded sql database? That would save us lots of work, make it easier to do things save and performant.

[2016-06-15 09:09] mariobehling commented on #555
:+1:

[2016-06-15 12:31] treba123 commented on #547
@Orbiter there's actually lot's of questions in my head about the structure you already half way created. I can only guess what you mean by it and how you want to structure it.
Just found out you created something called ClientService. What is it exacly meant to be?
And is APIServiceLevel something different than a user role? And how exactly are they meant to be used?

The question which again com

[2016-06-15 12:31] #592 closed

[2016-06-15 17:32] daminisatya commented on #531
Breaking this app into sub issues. The base scraper API is being added.

[2016-06-15 17:32] daminisatya commented on #531
Closing this wrt #594

[2016-06-15 17:32] #531 closed

[2016-06-15 17:33] daminisatya opened #596 "Create a front end app for accessing the genericscraper.json"

[2016-06-15 18:05] daminisatya opened #598 "[Generic Scraper] Add more fields to GenericScraper.java"
When compared to Diffbot, which scrapes only the basic information from a given URL, the current API is able to provide the following details.

- Language
- Links
- images
- title
- source files
- Text in the link tags

Further enhancements would be better if it is able to scrape most deeply parsed data. I want suggestions on this. These are one's from my side.

- [ ] Video links
- [ ] Social medi

[2016-06-15 18:05] daminisatya commented on #598
@mariobehling @Orbiter any more suggestions?

[2016-06-16 02:14] sudheesh001 opened #600 "Integrate loklak as a goodie into duck duck go !"
When there's a search which says `twitter: #fossasia` DDG should show the topmost query
For every hashtag / mention etc.., `twitter: #fossasia`, `twitter: @mariobehling` etc.., and we should see one tweet shown in the quick shows of DDG powered by Loklak

[2016-06-16 02:44] sudheesh001 opened #601 "Create the loklak instant answers application which will be the placeholder for the rest of the queries"
Implement
- [ ] Top tweet `twitter: #fossasia`
- [ ] Most favorited: `twitter: +favorite #WWDC`
- [ ] Compare `compare #apple and #google`

Please extend this list, These are bound to be initial framework designs for front end which can be extended.

[2016-06-16 03:08] daminisatya commented on #600
@sudheesh001 How is this realted to IoT?

[2016-06-16 03:20] daminisatya commented on #601
@sudheesh001 How is this different from #589 ? and also refer the following issues #579 #580 #583 ?

[2016-06-16 04:16] sudheesh001 commented on #600
Data streams are to be integrated into loklak, so we can try pulling the information from DDG towards loklak. Hence under IoT, what should be more importantly being focused on is the integration to DDG than focusing on how it falls under IOT.

[2016-06-16 04:18] sudheesh001 commented on #580
Why can't this be sent as a pull request just the way DDG does ? Why do we have to expose the instant answers regexes for update operations ?

[2016-06-16 04:25] daminisatya commented on #600
I dont feel it is relevant.

[2016-06-16 04:26] sudheesh001 commented on #601
@daminisatya @jig08 What I understand from https://github.com/loklak/loklak_server/issues/583 is that it's going to be framework endpoints using which the other instant answer APIs can be integrated into the loklak server. This can then be extended to reply as needed. So it'll follow the fly weight design pattern

![flyweight_example](https://cloud.githubusercontent.com/assets/4545925/16105445/298

[2016-06-16 04:32] daminisatya commented on #601
The intend is the same with all the previous issues. There is a very minor distinction between each of these. I feel you must rearrange the issues, with more clarity and description.

[2016-06-16 04:41] sudheesh001 commented on #601
Please move this to the framework issue. Closing this for #583 updated

[2016-06-16 04:57] sudheesh001 commented on #601
@daminisatya I don't see a reason why this has to be open, if the team thinks it's closely aligned with #583 I wanted to explain the flyweight pattern here so that we could treat every new regex as a pattern and do a single query rather than comparing 100 different regexes to match and reply.

[2016-06-16 04:57] #601 closed

[2016-06-16 04:58] daminisatya commented on #601
@sudheesh001 absolutely ! Will redirect this issue to #583. Thanks for the clarification.

[2016-06-16 05:51] mariobehling commented on #600
No need. This will just cost us server resources.

[2016-06-16 05:51] #600 closed

[2016-06-16 10:03] treba123 opened #603 "Create servlet to obtain acces/login token"
Many restful api work in the following schema:
- the user logs in with his userid and password, recieves an access token
- all further requests to the api have to contain the token
- such a token should only be valid for a single ip address

For that, we need a servlet which creates such a token.

This is similar to the handshake we plan for peer connections, see https://github.com/loklak/loklak_s

[2016-06-16 10:51] treba123 opened #604 "Public/private key login"
Additionally to userid/secret login, in some scenarios it might be handy to have a public/private key login, similar to ssh.

Especially for IoT devices, it's maybe nice if the devise can
- just create it's own key pair (or get deploit with it)
- sign up with it
- as soon as the sign-up is accepted by the administrator, the device can use it to make a handshake (to get an access token, as key veri

[2016-06-16 11:26] treba123 commented on #547
About the APIServiceLevel again: is it meant in the way that `getDefaultServiceLevel()` specifies the minimum required service level?
And that, if `getCustomServiceLevel(Authorization rights)` returns a lower `APIServiceLevel`, we should return a 401 message?

[2016-06-16 13:22] #596 closed

[2016-06-16 13:53] mariobehling opened #607 "Create a crawler for events implementing JSON output data as defined in Open Event API"
There are different kinds of JSON structures that we could use in loklak in future. An importer of Open Event could also use this data and on top of that also use the loklak API to display tweet like data.

It would be a wonderful use case to have a lot of loklak tweets on open events.

First step to achieve this is to get the relevant data from sites such as Eventbrite. Please implement a crawler

[2016-06-16 14:33] jig08 commented on #607
@mariobehling Sure, I will give it  a try :+1:

[2016-06-16 15:14] treba123 commented on #603
see https://github.com/loklak/loklak_server/pull/609

[2016-06-17 01:56] #465 closed

[2016-06-17 08:54] treba123 commented on #603
IP limitation not yet here

[2016-06-17 09:43] treba123 commented on #547
Alright, after having a call with Michael yesterday, things are more clear for me.
Here a new proposel I will try to implement next week:

## 1. BaseUserRole (BUR)
APIAccessLevel will be renamed to BaseUserRole. These are user roles that are hardcoded into the java code and their main purpose is to have an easy and solid mechanism to limit access.

This is mostly about the differences between admi

[2016-06-17 15:41] mariobehling commented on #607
More info on the APIs also here https://open-event.herokuapp.com/api/v2/

[2016-06-17 17:48] shivenmian commented on #470
Had a chat with Robert, he said some stuff is left for the AAA and it's a bit more complex than we assumed it is, so we decided this issue can wait. Have postponed it to a later milestone.

[2016-06-18 11:03] leonmak commented on #558
Is it possible to assign a new property to the apps field? In mongoose, I would change the schema to use the ['mixed' property type](http://mongoosejs.com/docs/schematypes.html#mixed) if there were dynamic changes in the schema. Not sure if there is something similar for java.

[2016-06-20 01:30] mariobehling commented on #607
@jig08 Could you include the crawling of the event background images as well?

[2016-06-20 02:10] jig08 commented on #607
@mariobehling Okay, will give it a shot !

[2016-06-20 02:15] jig08 commented on #607
@mariobehling Okay.
I have included the `event-image-link` in the JSON Object being returned, there is no `background_image` that could be crawled from `eventbrite.com`
Could you pls point out , I will do the needful accordingly....

For instance: [eventbrite.com/fossasia-2016-tickets-17438255291](http://www.eventbrite.com/e/fossasia-2016-tickets-17438255291)

![screenshot from 2016-06-20 07 43 33

[2016-06-20 14:40] mariobehling commented on #607
Looks like this is an old page. The new design has a background image. Please try to get the image if there is one. If there is none, leave it empty.

Compare here https://www.eventbrite.de/e/rise-of-ai-human-coexistence-with-machines-tickets-24985479241?aff=erellivmlt

[2016-06-20 15:15] jig08 commented on #607
@mariobehling, okay. Will give it a try :v:
Seems like I would have to modify the crawler for the new version also.

[2016-06-20 15:29] jig08 commented on #607
Also, different events on `eventbrite` have different HTML formats (Basically, there are two)

For the time being, I was working on the older version (supposedly), shall modify it according to the newer one and accommodate both version probably.

***

Link 1: [eventbrite.sg/e/why-are-they-smiling-tickets-25775779049?aff=ehomecard](https://www.eventbrite.sg/e/why-are-they-smiling-tickets-2577577904

[2016-06-21 14:26] treba123 opened #612 "JsonFile and JsonTrays"
Our current JsonTray/JsonFile combo implementation is quite good in avoiding IO, but has some disadvantages:
- we have to differentiate between persistent and not persistent data -> complex and a lot of data loss on restarts (currently all cookies and email verification links get deleted when the server restarts)
- only writing non-persistent data is IO friendly
- persistent data has to be handled

[2016-06-21 14:38] daminisatya opened #613 "Scraping the Weibo pages using JSoup."
- [ ] @Orbiter Is there any efficient way of scraping the Weibo pages? Looks like the JSoup cannot support nested tags scraping. I wrote a small scraper(under api and registered as api/usersWeibo.json) to scrape the user profile pages. Tried using the selectors to get the nested value. But before trying further I would like to know the other possible solution to harvest the weibos.
- [ ] Will the

[2016-06-21 16:47] treba123 commented on #547
Status update

whats done:
- base-user-roles
- user-roles
- each user get's a user-role assigned (which in turn is derived from a base-user-role)

what's left:
- permission templates in servlets
- permission enheritance
- permission overwrites

working branch:
https://github.com/loklak/loklak_server/tree/authorization2

[2016-06-22 02:34] jig08 commented on #607
Trying to extract image link from [eventbrite.com](https://www.eventbrite.com/)'s latest version currently using `JSoup`....
For instance:  [view-source: eventbrite.de/rise-of-ai-human-coexistence-with-machines-24985479241](https://www.eventbrite.de/e/rise-of-ai-human-coexistence-with-machines-tickets-24985479241)

[2016-06-22 17:40] jig08 commented on #613
Follow up of **https://github.com/loklak/loklak_server/issues/217 Implement data collection from Chinese twitter like service weibo.com**

[2016-06-22 18:18] shivenmian opened #622 "Creating a twitter analysis app"
In one of my college's research groups, a friend had made [this project](http://twitdigest.iiitd.edu.in/fbanalysis). It makes you login through FB and then gives you statistics like your FB activity (what % of time you updated status, put up photo etc), an activity chart of FB activity, likes statistics (total likes, who likes your activities the most), word cloud of most popular words and sentime

[2016-06-23 11:16] shivenmian commented on #467
@mariobehling @Orbiter The accounts system has been done now.

[2016-06-23 11:17] #467 closed

[2016-06-23 12:01] treba123 opened #628 "Javadocs"
I personally would really like to have the javadocs build automatically with the application and accecible from the webserver.
That would make development (for us and for outsider) easier and also maybe push us to documentate everything better.

[2016-06-23 14:47] Orbiter commented on #612
The disadvantages you describe above are actually advantages (i.e. to differentiate persistence, beeing IO-friendly). If we do not write if data must be persistent and do this only with a cyclic process, the data store does not fullfill its purpose in case of a crash.

I also don't see a pressure point: having the responsibility to call a commit is not really hard.

You considered some 'gaps' in t

[2016-06-23 14:52] Orbiter commented on #628
You can make a javadoc ant task for that, but do not include this in the 'all' process (if this is regarding to ant). Building the javadoc every time when compiling the code will increase turnaround-times for development.

[2016-06-23 15:03] Orbiter commented on #604
+1

[2016-06-23 15:09] treba123 commented on #612
Well, in case of a crash we do have data loss anyway (the whole elasticsearch database also does not write directly).
That is an acceptable risk for basicly all projects which use embeddet databases or database cache mechanisms (which is basicly all bigger projects). Especially if we choose to small time intervals (10-30 seconds would still be very performant).
And if we have sensitive data we nee

[2016-06-23 16:37] treba123 commented on #628
Yes that's true. There's a way to publish javadocs on github.io from the repo, will try to make that work

[2016-06-23 18:54] Orbiter commented on #628
+1

[2016-06-24 07:42] mariobehling commented on #607
What is the update here? If issues take longer than a day, please create subissues and link them here. Do you have sample JSON files of the data you extracted so far?

[2016-06-24 08:46] treba123 commented on #612
Reopened.

The two main points which we have to solve is
-  to have a way to be able to write persistent data without creating high IO pressure for data we can afford to lose in the rare occasion of a crash.
- to clean up the JsonTrays (even if in ram)

There're probably many ways to achive it, but we need one.

One more idea how to solve the first point would be to have an addition `commit` funct

[2016-06-24 08:48] Orbiter commented on #612
We do not have rare occasions of a crash, unfortunately.
And elasticsearch writes always directly into the translog to have a backup in case of a crash.
Pleas end discussions here, we don't really have a pressure point.
There is more important work to do.

[2016-06-24 08:48] #612 closed

[2016-06-24 08:58] mariobehling commented on #612
@treba123 Let me butt in here. There are tons of ways to improve all parts of the system. The current question is: How can we make some cool features, that people like and get attention to get more devs and users. Let's not end up with this project like lots of projects before: We try to make it perfect and we loose the energy to actually do it.

[2016-06-24 09:08] treba123 commented on #612
Sorry but that's the whole point of the discussion. I'm currently using the JsonTrays (as I'm working on the authorization system) and it does complicate my work alot. So yes, there's a pressure point and I am feeling it (in contrast to you who are currently not working with them AFAIK)
So I'm just trying to find a solution for what I'm currently doing.

I'm not asking you to do the work, I'm just

[2016-06-24 09:51] Orbiter commented on #340
It is intended to accept such kind of unsave connections. They are everywhere. To accept only save connection would restrict us from many sources.

[2016-06-24 09:51] #340 closed

[2016-06-24 12:40] Orbiter commented on #579
@daminisatya I am working on a template for this. I iam doing that because there is a syntax that I want to invent to describe visualization methods in combination with regex and query, and also a meta-setup for the query (like different query languages). Will commit this soon.

[2016-06-24 12:42] daminisatya commented on #579
@Orbiter Sure. Will start on it as soon as the template is available. Im currently working on Weibo scraper.

[2016-06-24 12:43] Orbiter commented on #580
@sudheesh001 that would be the easiest way to start and maybe we will also accept that method in the future. But it could be possible to address much more people who do not have github accounts but may be able to create such Q&A apps just by putting some simple lines in a front-end.
So yes, pull requests are ok but a GUI would be nice to have as well!

[2016-06-24 12:44] Orbiter commented on #583
As an result of some side-effect thoughts we should have the result rendering as something that can be embedded elsewhere, but appears in loklak as App.

[2016-06-24 13:04] shivenmian commented on #622
@Orbiter basically for implementing the app, all I need is the data from my own tweets, data of followers I have, and data of following.

I had another look at all the loklak APIs, and I believe four of them: ```search.json```, ```account.json```, ```user.json``` and ```asset``` will give me all the required information about the user. So I will be using these four.

Or do you think I may have mis

[2016-06-24 14:33] mariobehling opened #631 "Events: List all fields you can parse from event websites"
Parent issue: https://github.com/loklak/loklak_server/issues/607

Please list all fields that are possible to parse for getting data from Eventbrite, e.g.
* "name": "Rise of AI - Human coexistence with Machines"

Get as much details as possible, please.

[2016-06-24 14:41] mariobehling opened #632 "Create one set of example JSONs for events"
Parent Issue: https://github.com/loklak/loklak_server/issues/607

Create one set of example JSONs with as much detail as possible (following the sample [here](https://github.com/fossasia/open-event-orga-server/tree/development/samples/ots16))

[2016-06-24 14:42] jig08 commented on #631
Details available from eventbrite.com:

[code]

[2016-06-24 14:46] mariobehling commented on #631
This is not sufficient. What else can you get from them? Why is the description so short? Please get the whole description.

[2016-06-24 14:48] jig08 commented on #631
@mariobehling It was just cut out due to the word limit as I had copy-pasted in `gitter`, we do have the complete description

[code]

[2016-06-24 14:53] mariobehling commented on #631
This is the normal event link: https://www.eventbrite.de/e/rise-of-ai-human-coexistence-with-machines-tickets-24985479241
This is the link for tickets: https://www.eventbrite.de/e/rise-of-ai-human-coexistence-with-machines-tickets-24985479241#tickets
Am I missing something? So we have a ticket link.

[2016-06-24 14:54] jig08 commented on #631
I might have missed this, I am working on it. I'll try to parse as much information as possible.

[2016-06-24 14:56] mariobehling commented on #631
Some organizer pages also have an organizer, name, description and a link in their organizer profile e.g. : http://www.eventbrite.com/o/tech-open-ug-2285317017

[2016-06-24 15:00] mariobehling commented on #631
Some pages have a twitter and facebook link: http://www.eventbrite.com/e/deeplearning-and-advanced-machine-learning-on-iot-tickets-26145758668?aff=erellivmlt
![screenshot from 2016-06-24 17 00 06](https://cloud.githubusercontent.com/assets/1583873/16341409/1ed4e0fa-3a2d-11e6-853e-d7ba2ab7f97f.png)

[2016-06-24 15:07] jig08 opened #633 "RSS Reader: Apparently code being added to the description field"
[code]

[2016-06-24 15:35] mariobehling commented on #631
Can we parse the html of the description and parse images in the description into a folder? E.g. from here http://www.eventbrite.com/e/tech-open-air-2016-tickets-19275761321

[2016-06-24 15:38] daminisatya commented on #631
@mariobehling Extracting images into a folder is possible.

[2016-06-24 15:42] mariobehling commented on #631
Great, I would like to get a sample JSON set with as much data as possible and a folder with the images - all in a zip file. We need to think how we can make the description use the images in the zip when we set it up.

[2016-06-24 16:09] daminisatya opened #634 "[Weibo] Scrape user profile page and find profile user pages of followers and following"

[2016-06-24 16:12] daminisatya opened #635 "[Weibo] Queue the followers and following of a user and store their information"

[2016-06-24 17:50] jig08 commented on #631
@mariobehling
I have edited https://github.com/loklak/loklak_server/issues/631#issuecomment-228364816 which now has more information that can be extracted from [eventbrite.com](https://www.eventbrite.com/). I shall soon be adding more information and pushing the code.

[2016-06-25 04:59] jig08 commented on #631
Referring to https://github.com/jig08/loklak_server/pull/7, the latest `JSON` looks something like:

[code]

[2016-06-25 05:09] jig08 commented on #631
**Next:** Converting this data to the Open Event `JSON` files.

[2016-06-27 04:49] jig08 commented on #557
Closing this, PR  #624 does this task.

[2016-06-27 04:49] #557 closed

[2016-06-27 04:50] jig08 commented on #528
Closing it, PR  #624 does this task.

[2016-06-27 04:50] #528 closed

[2016-06-27 06:50] sudheesh001 opened #638 "Support NMEA Data format for GPS Trackers and devices to stream into loklak"
http://aprs.gids.nl/nmea/

Devices:
- xexun 102B : http://gps-tracker-review.toptenreviews.com/tk-102-mini-gps-tracker-review.html
- http://gpsgate.com/devices/xexun_tk102_2

I've got this device today, it has support for NMEA formats, trying this out.

[2016-06-27 12:33] treba123 commented on #628
Alright, the I have the automatic build working on my fork. It only triggers when something gets merged/pushed to the master branch. It then builds the javadocs and pushes them to the gh-pages branch, which is then displayed on github.io. Travis has a cool feature to make sure it only happens then, not when somebody who forget the repo does a push there.

You can have a look here: https://treba123

[2016-06-27 12:41] treba123 commented on #603
Actually, the ip limitation is not nessecary. It does not really bring a security enhancement and might complicate things.

[2016-06-27 12:41] #603 closed

[2016-06-27 13:37] jig08 opened #640 "Write out JSON files for Event Brite Crawler results"
Parent Issues #607 and #631

Writing out data from [eventbrite.com](https://www.eventbrite.com/) to the Open Event `JSON` files.

[code]

Reference:
* [github.com/fossasia/open-event-orga-server/development/docs/API.md](https://github.com/fossasia/open-event-orga-server/blob/development/docs/API.md)
*  [github.com/fossasia/open-event-orga-server/development/samples/ots16](https://github.com/fossas

[2016-06-27 13:38] #631 closed

[2016-06-27 13:46] jig08 commented on #632
@mariobehling
This is what our current `JSON` array looks like, with different `JSON` objects for `event` and `organizer` which shall next be written out in separate `JSON` files

[code]

[2016-06-28 13:08] Orbiter commented on #628
I enabled the github pages

[2016-06-28 14:43] treba123 commented on #628
Nice, thanks.
Alright, javadocs are now automatically published on http://loklak.github.io/loklak_server/

[2016-06-28 14:43] #628 closed

[2016-06-29 03:27] jig08 opened #642 "Importing JSON Files from #640 to test Open Event"
This was tested as desired but an `Internal server error` error is encountered on clicking `Create Event` at [open-event.herokuapp.com/events](http://open-event.herokuapp.com/events/) while importing the zipped folder containing  `JSON Files` (written out in #640) locally which have the event details extracted from [eventbrite.com](https://www.eventbrite.com/)

Reference:-
![screenshot from 2016-0

[2016-06-29 04:16] DengYiping commented on #217
[code]

The code above are some code to retrieve Weibo using Jsoup. However, after you scraping a certain number of weibo, the system will asked you to login. I will next work on a login system. Cheers!

[2016-06-29 05:03] daminisatya commented on #217
Hi, @DengYiping. I took over this issue and working on the scraper. Im currently scraping the user's bio page. and planing to create the OAuth connection. I'm creating a separate mail thread on the mailing list where we can discuss about the OAuth connection, along with the queuing system. Would love to get this up and running.

[2016-06-29 07:01] DengYiping commented on #217
Yes, let,s work on it. Do you finish scraping user's weibo? @daminisatya

[2016-06-29 10:38] treba123 opened #643 "Accounting addRequest does not work"
When trying to use the addRequest method of an accounting object, a ClassCastExeption occurs:
`
java.lang.ClassCastException: org.json.JSONObject cannot be cast to java.util.TreeMap
	at org.loklak.server.Accounting.addRequest(Accounting.java:62)
`

[2016-06-29 13:23] rafalkowalski commented on #642
@jig08 do you have any logs from heroku. If not please use "heroku logs"?

[2016-06-29 14:38] aviaryan commented on #642
@jig08 please make sure that the json files are at the root level of the zip. That is, when you open event.zip, you see event.json, sessions.json etc .., not a folder. Related https://github.com/fossasia/open-event-orga-server/issues/1323
Also can you give the link to zip that you tried to import, that would be helpful.

[2016-06-29 14:48] rafalkowalski commented on #642
@aviaryan
[EventBriteInfo.zip](https://github.com/loklak/loklak_server/files/339501/EventBriteInfo.zip)

[2016-06-29 15:07] aviaryan commented on #642
@rafalkowalski @jig08 I moved the json files at the root of the zip and imported it. Now the error is "end_time missing in event.json".

[2016-06-29 15:10] jig08 commented on #642
@aviaryan Yes, I was trying the same. It doesn't handle `null` values ?

[2016-06-29 15:40] aviaryan commented on #642
@jig08 No. It handles null values. `end_time` is a reqd field, it can't be null.

[2016-06-29 16:33] jig08 commented on #642
@aviaryan Okay, got that. I'll find a workaround on how not to send `null`. Thank You.

[2016-06-30 00:43] jig08 commented on #632
Sample data extracted using the _Loklak eventbrite.com scraper_  for `Open Event` using has been pushed to the [fossasia/open-event-orga-server](https://github.com/fossasia/open-event-orga-server) repo here [github.com/fossasia/open-event-orga-server/samples/EventBriteInfo_LoklakScraper](https://github.com/fossasia/open-event-orga-server/tree/master/samples/EventBriteInfo_LoklakScraper)

Hence, cl

[2016-06-30 00:43] #632 closed

[2016-06-30 08:22] sudheesh001 opened #644 "Visualize NMEA data received from GPS based IOT devices on loklak"
Related to #638

[2016-06-30 14:17] Orbiter commented on #576
implemented with https://github.com/loklak/loklak_server/commit/ece2e622589bf287e494478ef984dd0ea2b059c1
now named "susi".
try the example URLs in that commit. This has still to be enhanced with more question apps, to be continued with separate issues.

[2016-06-30 14:17] #576 closed

[2016-06-30 14:25] Orbiter commented on #575
The search api is now implemented. You can try the "hello world" question:
http://loklak.org/api/susi.json?q=hello+world
This produces i.e.:
[code]
The api returns a set of answers, in this case only one. All answers must be listed. Each answer has a data object and several actions. One possible Action is an "answer" which would be just a text line - like in this example. Other Actions may refer t

[2016-06-30 14:31] Orbiter commented on #583
You can now continue with this work, the required API Skeleton is there. Please try the example URLs provided in https://github.com/loklak/loklak_server/commit/ece2e622589bf287e494478ef984dd0ea2b059c1

[2016-06-30 14:35] Orbiter commented on #579
The template is now available in https://github.com/loklak/loklak_server/blob/master/conf/susi/susi_cognition_000.json
Pleas try to add more entries.

[2016-06-30 14:43] Orbiter commented on #580
We should store user-generated rules in files in data/susi/
Each time a new rule is created it can be added to the Q&A app Memory by calling DAO.susi.add(JSONObject json) wit a complete data set like in https://github.com/loklak/loklak_server/blob/master/conf/susi/susi_cognition_000.json
We can add another method to add single rules as well.

[2016-06-30 14:45] Orbiter commented on #574
It is now possible to implement a subset of the collected questions into https://github.com/loklak/loklak_server/blob/master/conf/susi/susi_cognition_000.json
Please go ahead and try to add simple answers .

[2016-06-30 14:46] jig08 commented on #579
@Orbiter Surely, will contribute more to it...

[2016-07-01 04:49] jig08 commented on #642
@aviaryan The sample data was updated accordingly in PR https://github.com/fossasia/open-event-orga-server/pull/1358 but the `internal server error` persists.

Tried uploading this sample data: [EventBriteInfo_LoklakScraper.zip](https://github.com/loklak/loklak_server/files/342835/EventBriteInfo_LoklakScraper.zip)

[2016-07-02 06:46] Orbiter commented on #583
I named the Q&A framwork api now susi. Here is a typical call to susi:
[code]

and a typical answer:

[code]

The framework app would send queries to the susi.json api and renders it's response. There response may have a bit more complex content, but that would be an extension of this example.

[2016-07-03 22:55] jig08 commented on #642
@rafalkowalski @aviaryan Any updates on this ?

[2016-07-04 03:21] jig08 commented on #640
Currently, the files `events.json`, `organizer.json`, `user.json`, `microlocations.json`, `sessions.json`, `session_types.json`, `tracks.json`, `sponsors.json`, `speakers.json`, `social _links.json` and `custom_forms.json` do get written out in a zipped folder locally `userHome + “/Downloads/EventBriteInfo”`

[2016-07-04 03:21] #640 closed

[2016-07-04 03:29] #607 closed

[2016-07-04 08:22] smokingwheels opened #652 "Server Crash not responding on http."
Update interval had an extra "000" added.

2016-07-04 01:59:47.930:WARN :org.eclipse.jetty.server.AbstractConnector:qtp1239593925-104-acceptor-0@31a8873c-httpd:9001@3f6f6f79{HTTP/1.1,[http/1.1]}{0.0.0.0:9001}:
java.nio.channels.ClosedSelectorException
	at sun.nio.ch.SelectorImpl.keys(SelectorImpl.java:68) ~[?:1.8.0_91]
	at org.eclipse.jetty.io.ManagedSelector.size(ManagedSelector.java:104) ~[jetty

[2016-07-04 22:48] jig08 commented on #570
**TODO:** Look into why [http://loklak.org/api/rssreader.json?url=https://www.reddit.com/.rss](http://loklak.org/api/rssreader.json?url=https://www.reddit.com/.rss) gives a `null pointer exception`

[code]

[2016-07-05 03:19] aviaryan commented on #642
@jig08 I have fixed it and merged the patch. Can you please check again ? If it works, please close https://github.com/fossasia/open-event-orga-server/issues/1421

[2016-07-05 13:30] jig08 commented on #642
@aviaryan Unfortunately, the error still persists....

[2016-07-05 13:38] aviaryan commented on #642
@jig08 I checked and it is because of another PR merged today. I'll fix it.

[2016-07-05 13:46] jig08 commented on #642
@aviaryan Yes, Pls.

[2016-07-05 16:13] aviaryan commented on #642
@jig08 Opened PR https://github.com/fossasia/open-event-orga-server/pull/1430 with the fixes

[2016-07-05 21:09] jig08 commented on #642
@aviaryan :v: Let know when it is merged and we'll test it again.

[2016-07-06 00:21] #527 closed

[2016-07-06 06:25] aviaryan commented on #642
@jig08 PR merged

[2016-07-06 07:42] daminisatya commented on #583
#655

Opening another issue for getting the response from the susi json. Probably after adding more rules and phrases.

[2016-07-06 07:42] #583 closed

[2016-07-06 07:43] daminisatya opened #656 "Retrieve the rules as response from the Susi JSON and make the chat dynamic."

[2016-07-06 07:45] daminisatya commented on #656
#583 Extension of this issue

[2016-07-06 09:13] treba123 commented on #652
Hm, the `GC overhead limit exceeded` sounds like insufficient ram or a memory leak. How long did the instance run already?

[2016-07-06 12:20] daminisatya opened #657 "[Apps Page] Redirecting issue to the "apps listing" app from the app's page."
![selection_174](https://cloud.githubusercontent.com/assets/6227784/16617581/0f5d0156-43a2-11e6-856e-2d35a76259b5.png)

[2016-07-06 12:22] daminisatya opened #658 "[Apps page] Not able to filter the susi app when clicking on the category list."
![selection_177](https://cloud.githubusercontent.com/assets/6227784/16617626/5ed0612e-43a2-11e6-9589-80edfacf2ab3.png)

[2016-07-06 12:55] #658 closed

[2016-07-06 14:05] #638 closed

[2016-07-06 14:10] jig08 commented on #642
@aviaryan Thanks. Works perfectly !

[2016-07-06 14:10] #642 closed

[2016-07-06 14:17] jig08 commented on #570
Resolved by adding `NULL` checks & `ClientConnection` via commit https://github.com/loklak/loklak_server/commit/8a589ba2995b4bb176856f46d92505de57d4d1eb

[2016-07-06 14:17] #570 closed

[2016-07-06 14:32] daminisatya opened #662 "[Susi] Custom artwork for Susi"
I feel we need a separate artwork to visualize Susi, something like designing an Avatar for it.

[2016-07-06 14:32] daminisatya commented on #662
@Orbiter your call.

[2016-07-06 18:24] smokingwheels commented on #652
Ok I only have 4 GB of memory running the default.
I run Yacy, Loklak and Thinlinc Server on a core 2 quad.
My memory usage of swap runs at 1-2 GB on a SSD.

@treba123 If you run a custom config do you have to list all the properties in it?

[2016-07-06 18:39] smokingwheels opened #664 "Elasticsearch crash or something"
After crashing Loklak refused to start just kept filling logs and churning them thru.
Low memory PC running Yacy and ThinLinc Servers.
Automatic Update interval an extra "000".
Maybe related to Issue #652 .

Contents. 7Zip [Here](http://sw.remote.mx/Download/temp.7z)

2016-07-06 23:26:33.546:WARN :org.elasticsearch.indices.cluster.IndicesClusterStateService:elasticsearch[Nefarius][generic][T#1]: [

[2016-07-07 09:52] treba123 commented on #664
For a first impression, it looks similar to a bug @daminisatya had yesterday ([here](https://gitter.im/loklak/loklak?at=577cdf89fccf53c605c4bad9)).
The solution was to remove the broken index file.
If you don't mind, remove data/index or just the mentioned file translog-177.ckp and try again.

[2016-07-07 09:57] daminisatya commented on #664
@treba123 @smokingwheels Exactly, it worked after deleting the nodes.

[2016-07-07 10:38] treba123 commented on #652
I don't have any custom settings related to that atm, but the two things that come to my mind are:

- putting `Xmx=1000m` or bigger into your `customized_config.properties` (if your system is not already under pressure)
- export ES_HEAP_SIZE=(some size smaller than your Xmx, maybe 800m)

If I get it right now, the above error occurs if the GC is not able to clear atleast 2% of the memory and basic

[2016-07-08 09:05] shivenmian opened #667 "Images count coming out wrong for normally uploaded images"
I recently posted a tweet wherein I simply added image to my tweet directly from Twitter (using the Add Photos or Video button) but in the Search API the image didn't come under ```images_count```.

This is because the Search API scrapes the images and they are of the type ```https://pic.twitter.com/<hash>``` but in ```MessageEntry.java``` the pic.twitter.com entries are not taken care of.

@Orbit

[2016-07-08 09:10] shivenmian commented on #667
Fixed this in [616022f](https://github.com/loklak/loklak_server/pull/665/commits/616022f8e4a0c1eb9b8eca920304923006594493)

[2016-07-08 09:11] #667 closed

[2016-07-08 14:35] daminisatya opened #668 "Add initial set of categories to the susi_cognition_000.json"

[2016-07-09 10:22] smokingwheels commented on #652
top command in bash both running.
 3497 root      30  10 10.388g 1.130g 117372 S   0.7 29.3  15:00.69 java
Ended loklak
 3497 root      30  10 10.388g 1.127g 115008 S  24.6 29.2  15:04.44 java
Loklak running again its process
18209 root      20   0 4939704 726788  42488 S  97.9 18.0   1:00.51 java
Will monitor it when loklak crashes again.
I can't find anything yet that works to monitor a PID.

[2016-07-09 11:19] smokingwheels commented on #652
top command in bash both running.
 3497 root      30  10 10.388g 1.130g 117372 S   0.7 29.3  15:00.69 java
Ended loklak
 3497 root      30  10 10.388g 1.127g 115008 S  24.6 29.2  15:04.44 java
Loklak running again its process
18209 root      20   0 4939704 726788  42488 S  97.9 18.0   1:00.51 java
Will monitor it when loklak crashes again.
I can't find anything yet that works to monitor a PID.

I

[2016-07-09 11:24] smokingwheels commented on #664
I will take you word for it..
Thanks

[2016-07-09 11:24] #664 closed

[2016-07-11 05:45] smokingwheels commented on #652
Both Loklak and Yacy have been up for 1 Day 19 hours with 16 GB of swap on the one PC.
 You can log it sort of with top -p 19032 > mem.txt

19032 root      39  19 10.480g 1.038g  98300 S   7.3 26.9  90:52.91 java

[2016-07-11 11:04] treba123 commented on #652
@smokingwheels afaik, both loklak and yacy should be limited by their corresponding Xmx values. So even together they shouldn't have more than 2gb of memory allocated.
If your mashine has 8gb of ram, I doubt the swap file will be used alot.

About the profiling: I use visualvm on my mashine, a pretty nice tool. It's also possible to use it remotely with a headless server, see [here](http://www.cod

[2016-07-11 19:58] Orbiter commented on #662
temporary artwork committed with https://github.com/loklak/loklak_server/commit/97fef032f781358a7eaf52e027004070bd7d91a6

[2016-07-11 19:58] #662 closed

[2016-07-11 22:02] jig08 opened #671 "Event Brite Crawler Search Console Utility"
Similar to RSS Reader Search Console Utility https://github.com/loklak/loklak_server/commit/6624d5902c9a442bc2cd4503491d1cf971f06e1d , implement the same for Event Brite Crawler

[2016-07-11 22:04] jig08 opened #672 "Wordpress Crawler Search Console Utility"
Similar to RSS Reader Search Console Utility https://github.com/loklak/loklak_server/commit/6624d5902c9a442bc2cd4503491d1cf971f06e1d , implement the same for Wordpress Crawler

[2016-07-11 22:06] jig08 opened #673 "Meetups Crawler Search Console Utility"
Similar to RSS Reader Search Console Utility https://github.com/loklak/loklak_server/commit/6624d5902c9a442bc2cd4503491d1cf971f06e1d , implement the same for Meetups Crawler after #347 is completed.

[2016-07-12 14:44] Orbiter opened #677 "StringIndexOutOfBoundsException in eventbrite parser"
There was an example url in the pull request https://github.com/loklak/loklak_server/pull/676 which showed an error in the eventbrite parser.

try ```http://localhost:9000/api/console.json?q=SELECT%20*%20FROM%20eventbrite%20WHERE%20url=%27https://www.eventbrite.com/e/?q=global-health-security-focus-africa-tickets-25740798421%27%27;```

causes
[code]

[2016-07-12 14:45] Orbiter commented on #677
however, for ```http://localhost:9000/api/console.json?q=SELECT%20*%20FROM%20eventbrite%20WHERE%20url=%27https://www.eventbrite.fr/e/billets-europeade-2016-concert-de-musique-vocale-25592599153?aff=es2%27;``` the parser works. Please analyse the difference.

[2016-07-12 14:56] jig08 commented on #671
Issue resolved.

[2016-07-12 14:56] #671 closed

[2016-07-12 15:08] jig08 commented on #673
[http://localhost:9000/api/console.json?q=SELECT%20*%20FROM%20meetup%20WHERE%20url=%27http://www.meetup.com/?q=Women-Who-Code-Delhi%27;](http://localhost:9000/api/console.json?q=SELECT%20*%20FROM%20meetup%20WHERE%20url=%27http://www.meetup.com/?q=Women-Who-Code-Delhi%27;) giving `Null Pointer Exception`

![selection_184](https://cloud.githubusercontent.com/assets/9291400/16772135/9771d9ea-4870-11e

[2016-07-12 20:00] #633 closed

[2016-07-12 20:07] #347 closed

[2016-07-12 21:05] jig08 commented on #677
@Orbiter Fixed NPEs and other StringIndexOutOfBoundsException in eventbrite parser

The URL [http://localhost:9000/api/console.json?q=SELECT%20*%20FROM%20eventbrite%20WHERE%20url=%27https://www.eventbrite.com/e/?q=global-health-security-focus-africa-tickets-25740798421%27%27;](http://localhost:9000/api/console.json?q=SELECT%20*%20FROM%20eventbrite%20WHERE%20url=%27https://www.eventbrite.com/e/?q=g

[2016-07-13 05:04] Orbiter commented on #656
This may be a misunderstanding of the task: all you have to do is:
- call the susi api, i.e. http://localhost:9000/api/susi.json?q=the%20reddit%20articles%20about%20loklak
- render the answer line in the already existing chat stub of susi.

[2016-07-13 05:30] daminisatya opened #681 "Susi Table answers"
Susi can return table answers, here is an example and can be used to evaluate more rules.

[code]

This is the rules being given.
[code]

[2016-07-13 05:31] daminisatya commented on #656
#681

[2016-07-13 12:46] #644 closed

[2016-07-13 17:03] #657 closed

[2016-07-13 18:43] #622 closed

[2016-07-14 06:19] jig08 commented on #677
@Orbiter Closing this.

[2016-07-14 06:19] #677 closed

[2016-07-14 06:54] mariobehling opened #692 "Improve Workflow with branch policy and heroku"
Let's improve our workflow.

Best is to only keep two branches to make it easier to contribute
a) development
b) master

All PRs should go to development. Master can be merged once per week. Developers should keep their own development in their own repository.

@daminisatya Please delete all branches after checking that they are needed anymore.

Also set up a Heroku instance e.g. loklak-server-dev

[2016-07-14 10:48] mariobehling opened #693 "Add Blog link to menu"
I have added all showcase info to the blog. Please take out "Showcase from the menu" and substitute with "Blog". Link it to http://blog.loklak.net

[2016-07-14 11:24] Orbiter commented on #643
fixed with https://github.com/loklak/loklak_server/commit/10c77ea2ac682486fca46525e2fafac509a76fff

[2016-07-14 11:24] #643 closed

[2016-07-14 11:40] mariobehling commented on #693
Please dont just take out the link, delete the page and the images that are not needed anymore.

[2016-07-14 11:56] shivenmian opened #694 "Integrate TwitterAnalysis app with Susi"
@mariobehling @Orbiter The screenshots of the TwitterAnalysis app (#622) are [this](https://files.gitter.im/loklak/loklak/FLKG/Screen-Shot-2016-07-14-at-1.09.50-PM.png), [this](https://files.gitter.im/loklak/loklak/FAhj/Screen-Shot-2016-07-14-at-1.09.59-PM.png) and [this](https://files.gitter.im/loklak/loklak/3BYk/Screen-Shot-2016-07-14-at-1.10.07-PM.png). I implemented the app in #683. The app wo

[2016-07-14 12:14] daminisatya commented on #693
@mariobehling Got it thanks

[2016-07-14 12:16] Orbiter commented on #694
- To integrate with susi, first turn the TwitterAnalysis servlet into a service. Then that service should return a 'SusiThought' object.
- next add a console service to retrieve data from the service
- finally, rules in Susi can access the analysis app using the terminal

[2016-07-14 15:54] shivenmian commented on #694
Yes I will do exactly this

[2016-07-15 13:29] treba123 commented on #652
Closing for the time being. Maybe we should consider increasing the default xmx value.

[2016-07-15 13:29] #652 closed

[2016-07-15 17:30] daminisatya commented on #656
#702 Fixed.

[2016-07-15 17:30] #656 closed

[2016-07-15 17:31] daminisatya opened #707 "[Susi Interface] : Support for display of piecharts and tables"

[2016-07-15 18:19] jig08 commented on #673
Rectified in PR https://github.com/loklak/loklak_server/pull/700.

[2016-07-15 18:19] #673 closed

[2016-07-16 05:25] #692 closed

[2016-07-16 05:25] daminisatya commented on #692
fix got resolved.

[2016-07-17 23:47] jig08 opened #711 "Unexpected results in AskSUSI.com"
According to the rule defined in [conf/susi/susi_cognition_000.json#L187](https://github.com/loklak/loklak_server/blob/master/conf/susi/susi_cognition_000.json#L187) the query **I am #** should return **Hi #.** , but the results aren't as expected.

![screenshot from 2016-07-18 05 13 10](https://cloud.githubusercontent.com/assets/9291400/16903840/d995241e-4ca6-11e6-8cdd-cb17ee1afb00.png)

[2016-07-17 23:50] jig08 commented on #711
Result of [http://loklak.org/api/susi.json?q=I am Jigyasa](http://loklak.org/api/susi.json?q=I%20am%20Jigyasa) API call is as:

![screenshot from 2016-07-18 05 20 00](https://cloud.githubusercontent.com/assets/9291400/16903858/58cc7282-4ca7-11e6-99bd-6de92b29193f.png)

[2016-07-18 00:01] #672 closed

[2016-07-18 00:03] jig08 commented on #342
@mariobehling @Orbiter I am planning to work on making a console service utility for SUSI using this API. Should I go ahead ?

[2016-07-18 10:54] treba123 commented on #509
https://github.com/loklak/loklak_server/pull/712

[2016-07-18 10:54] #509 closed

[2016-07-18 11:10] mariobehling commented on #342
@jig08 I am not clear, what it would entail. At the moment, we have a lot of ways to define rules and we only have a few questions that can get answers. Could you help first and make the rules for the upcoming days a priority, please? We need some outcome in the short-term before going to next steps.

[2016-07-18 11:34] Orbiter commented on #342
Geo data is already in Susi. Ask where is. It also gives you a link to a map

[2016-07-18 11:45] shivenmian commented on #694
I have already integrated the app into susi yesterday, I just need to add more questions, so closing this.

[2016-07-18 11:45] #694 closed

[2016-07-18 11:57] Orbiter commented on #711
Check the score

[2016-07-18 13:24] jig08 commented on #711
@Orbiter Score defined is `1`.

The rule is defined as:

[code]

@daminisatya Do we have a detailed doc for scores in SUSI ?

[2016-07-18 13:30] jig08 commented on #342
@mariobehling Yes, Adding rules in SUSI , almost daily :grinning: .

@Orbiter The plan was to include a list of Wiki Articles tagged with that location using this API.

For Instance: When asked `Where is Berlin ?` along-with the response `Berlin is a place with a population of 3426354. Here is a map: https://www.openstreetmap.org/#map=13/52.52436820069531/13.41053001275776` it also gives a list of

[2016-07-18 14:08] jig08 opened #713 "Wordpress console utility not working with SUSI"
The word-press console utility works fine. Link: [http://localhost:9000/api/console.json?q=SELECT%20*%20FROM%20wordpress%20WHERE%20url=%27https://jigyasagrover.wordpress.com/%27;](http://localhost:9000/api/console.json?q=SELECT%20*%20FROM%20wordpress%20WHERE%20url=%27https://jigyasagrover.wordpress.com/%27;)

![screenshot from 2016-07-18 19 29 51](https://cloud.githubusercontent.com/assets/9291400

[2016-07-18 17:34] daminisatya commented on #707
This issue is being shifted to the new repo.

[2016-07-18 17:34] #707 closed

[2016-07-18 22:45] Orbiter commented on #711
The rule with highest score fires first. The first rule that produces a result is the one which delivers

[2016-07-19 02:15] sudheesh001 commented on #491
Blocker on Susi : https://github.com/loklak/asksusi_com/issues/8

[2016-07-19 11:05] mariobehling opened #717 "How can we simplify the cognition file of Susi"
Let's assume we get a lot of contributors and they all make rules. The current file is relatively long already and if it gets longer, it could make it difficult to go through the code. Many commits can result in numerous merge conflicts as well.

https://github.com/loklak/loklak_server/blob/master/conf/susi/susi_cognition_000.json

I suggest to split the file therefore. What would be the best opti

[2016-07-19 11:10] daminisatya commented on #717
+1

[2016-07-19 12:51] smokingwheels commented on #717
Have some sort of import function for the people.

[2016-07-19 17:06] jig08 commented on #711
@Orbiter Yes, I changed the score to `1000` locally and it works fine.
So that we don't get unexpected results, what way are we assigning the scores ?

[2016-07-19 17:57] mariobehling commented on #717
From chat:

[2016-07-19 17:59] jig08 commented on #717
Referring to the above, Maybe we could split the files according the `keys`.

Similar type of rules (for example: the ones related to RSS or Eventbrite or Youtube etc.) go in a single `JSON` file pertaining to the theme of that rule.

[2016-07-19 18:27] jig08 commented on #713
@Orbiter I tried keeping a high value of `score` too in this case, but doesn't seem to work fine.
Any pointers ?

[2016-07-19 21:24] Orbiter opened #720 "Password recovery incomplete"
I tested successfully that loklak can send me an email to reset my password.
In the email I get a recovery link. After clicking on the link I get the reset app /apps/resetpass/
There I set my new password, but after clicking on "Reset password" _nothing_ happens. That means: no message, no change nothing.
Tested witgh Firefox.

[2016-07-20 09:40] shivenmian commented on #720
@Orbiter I worked on the Password Recovery. Let me check.

Are the following working?:

1. Sending of email once you fill the email ID in password Recovery Form
2. The email you get has a recovery link
3. Clicking on recovery link opens up the Password Reset form (i.e where you set new password)

If the above 3 are working, is the only problem that filling up the Reset form gives you no response?

[2016-07-20 09:45] Orbiter commented on #720
as I described in the issue: all 3 are working, there is only no response.

[2016-07-20 10:23] Orbiter commented on #720
Here is a javascript error message

<img width="818" alt="pwrecover" src="https://cloud.githubusercontent.com/assets/238730/16983313/935769a6-4e74-11e6-97f9-55e0c628a46f.png">

[2016-07-20 10:37] shivenmian commented on #720
solved with #721 @mariobehling @Orbiter

[2016-07-20 10:37] #720 closed

[2016-07-20 13:32] treba123 commented on #604
https://github.com/loklak/loklak_server/pull/714

[2016-07-20 13:32] #604 closed

[2016-07-20 13:32] DengYiping commented on #634
Hi! @daminisatya Have you started yet. I've just implement scraping user info page, but it requires a logined account. I will post it tomorrow if you need.

[2016-07-20 13:34] DengYiping commented on #613
Be careful about crawling rate. Jsoup is a good solution, you are on the right track.

[2016-07-20 13:34] daminisatya commented on #634
@DengYiping I got stuck with other work item which were marked as high priority, You can create a PR for the following  :)

[2016-07-20 13:36] daminisatya commented on #613
@DengYiping Yes, i guess it will block after certain rate?

[2016-07-20 13:36] daminisatya commented on #668
#722

[2016-07-20 15:00] smokingwheels opened #723 "Will loklak pick up Public Groups?"
Please close this Issue if already does.
[TweetKalgoorlie/lists/everything-and-everyone-k](https://twitter.com/TweetKalgoorlie/lists/everything-and-everyone-kl)

[2016-07-20 15:02] Orbiter commented on #711
I believe we should have hierachy of scores which are appropriate to a given set of rules, each for a specific goal. We should have a scored-goal advise. I already thought about that but right now thats not finished. For this issue I believe this is solved because we know that the current score system works.

[2016-07-20 15:02] #711 closed

[2016-07-20 15:04] Orbiter commented on #580
Our rules syntax is now already a bit more complex beyond this requirement. Damini described the basic examples in http://blog.loklak.net/all-about-susi/ so this can be closed

[2016-07-20 15:04] #580 closed

[2016-07-20 15:04] Orbiter commented on #579
solved and described in http://blog.loklak.net/all-about-susi/

[2016-07-20 15:04] #579 closed

[2016-07-20 15:29] #668 closed

[2016-07-20 16:17] daminisatya opened #726 "Add few generic rules to Susi"
This issue aims at adding more generic questions which we come across daily chat, for example,

- How was your day?

- How are things going on?

- How to deal with situations when I'm stressed?

- I need some help

- Susi please help me with my math.

Currently these generic questions are being retrieved from urban dictionary or wikidata, but having a specific answer is useful and will increase th

[2016-07-20 16:18] daminisatya commented on #726
@Orbiter I need your views on this and suggestions.

[2016-07-20 17:07] daminisatya commented on #726
The answer we get when we ask Susi the question [```How was your day?```](http://loklak.org/api/susi.json?q=how%20was%20your%20day?) is this
```To the law enforcement men & women gettin' off work for the day, or goin' to work for the night: Thank you for your service. Merica.``` and it is variable. Instead adding such generic rules can help in giving the best humanly answers.

[2016-07-20 17:15] mariobehling commented on #723
Not sure, if that really needs to be covered. The example does not work for me:

![screenshot from 2016-07-20 19 14 35](https://cloud.githubusercontent.com/assets/1583873/16995723/3a771fe0-4eae-11e6-9212-1b823ee55b05.png)

[2016-07-20 17:16] mariobehling commented on #544
@sudheesh001 Could you take care of this issue or who would be best to help out here?

[2016-07-20 17:18] sudheesh001 commented on #544
I am not sure if this is still reproducing. @Low012 can you please confirm ?

[2016-07-20 17:21] mariobehling commented on #491
I think the status is pretty advanced. @Orbiter Please let us know, if/when you have added it. Cheers.

[2016-07-20 17:43] mariobehling opened #728 "Improve documentation"
We need to make it easier for people to contribute. Please add more relevant info to
* [x] Readme.md
* [x] Docs folder
* [ ] Contributing.md

[2016-07-20 18:02] mariobehling commented on #298
This is a topic outside this repository now.

[2016-07-20 18:02] #298 closed

[2016-07-20 18:04] mariobehling commented on #414
This topic needs to be followed up outside of this repository at a later time.

[2016-07-20 18:04] #414 closed

[2016-07-20 18:06] mariobehling commented on #386
Woocommerce was a nice idea, but it actually adds too much complexity and we basically need a more simple approach for now. Also, Stripe for example has a good documentation and we can use this service pretty quickly to add payment capabilities. Closing this issue therefore.

[2016-07-20 18:06] #386 closed

[2016-07-20 18:10] mariobehling commented on #360
@sudheesh001 Any progress on this issue yet?

[2016-07-20 18:15] mariobehling commented on #345
@sudheesh001 Any progress on any of these? Would be great to get an update.

[2016-07-20 18:17] mariobehling commented on #297
Should be discussed outside this repository if needed.

[2016-07-20 18:17] #297 closed

[2016-07-20 18:20] mariobehling commented on #307
@sudheesh001 Any chance we can still see this going forward during GSoC?

[2016-07-20 18:22] mariobehling commented on #278
Closing this as the project has advanced and there is a dedicated wall project.

[2016-07-20 18:22] #278 closed

[2016-07-20 18:23] mariobehling commented on #267
Closing this due to inactivity. If anyone needs this still, please reopen and submit a PR.

[2016-07-20 18:23] #267 closed

[2016-07-20 18:24] mariobehling commented on #251
@sudheesh001 In the meantime we have implemented CI and more tests. Inhowfar is this still needed? And how much effort would the integration require?

[2016-07-20 18:26] mariobehling commented on #234
Thanks for this initial input pushing everyone into the right direction! Travis and other CIs are integrated. If you have suggestions for more test suites, please open another issue.

[2016-07-20 18:26] #234 closed

[2016-07-20 18:27] mariobehling commented on #247
As the code base of loklak has changed a lot, it is difficult to track this issue now. If the issue persists, please open an issue with log files or anything else that could be useful to detect the root of issues.

[2016-07-20 18:27] #247 closed

[2016-07-20 18:30] mariobehling commented on #212
@DengYiping As the code base has changed a lot since this report, it is difficult to follow up. If the issue persists, please open a new issue and provide detailed info and any logs you find on the system. Thank you!

[2016-07-20 18:30] #212 closed

[2016-07-20 18:33] mariobehling commented on #187
If this is still a feature request, please open a dedicated issue with the request. The issue as mentioned in the headline has been cleared up before as loklak does not take care of port forwarding.

[2016-07-20 18:33] #187 closed

[2016-07-20 18:34] mariobehling commented on #175
@treba123 Would you like to help out and check if this issue still persists?

[2016-07-20 18:38] mariobehling commented on #182
@Orbiter I did not follow up in a timely manner. Sorry. I think we do not need to integrate the students work, but it would still be nice to have more information in the peers.api. At the moment there are only 24 peers online and I wonder if we are really covering all peers are actually online.

[2016-07-20 18:39] mariobehling commented on #182
@Orbiter Not sure, if we could assign someone from the team to help with this.

[2016-07-20 18:40] mariobehling commented on #149
@smokingwheels Thanks for this feedback, but as mentioned in other issues - the codebase has changed a lot since the report and I am closing this issue therefore. If you encounter similar issues again, please report them. Thank you again. Great to see your engagement!

[2016-07-20 18:40] #149 closed

[2016-07-20 18:42] mariobehling commented on #131
@gojomo Cool idea! But, as mentioned we cannot take on this task as we don't have the necessary resources. I am closing this issue therefore.

[2016-07-20 18:42] #131 closed

[2016-07-20 18:44] mariobehling commented on #127
@smokingwheels We might not be able to discover what was the issue and priorities have changed away from loklak.net. So, I am closing this issue.

[2016-07-20 18:44] #127 closed

[2016-07-20 18:45] mariobehling commented on #100
@Orbiter Can anyone from the team help to solve this before this issue is a year old?

[2016-07-20 18:47] mariobehling commented on #109
I cannot verify that this bug still exists. All seems to be fine and working now. Closing this issue therefore.

[2016-07-20 18:47] #109 closed

[2016-07-20 18:49] mariobehling commented on #105
@sudheesh001 As you are part of the team, please confirm this still happens and help to solve it, if it is still required. Otherwise close this issue.

[2016-07-20 18:52] mariobehling commented on #81
@Orbiter This would still be a nice option to have, but I am not sure how much effort this entails and what priority this should have. Also this issue has been open for a year soon. So, what is the relevance with the current direction?

[2016-07-20 18:54] mariobehling commented on #50
@jig08 As your main project is data crawler and parser, could you please follow up on this issue that is open for too long already.

[2016-07-20 18:59] mariobehling commented on #49
@Orbiter Where could we see, if this is working?

[2016-07-20 19:14] mariobehling commented on #94
@Orbiter This would still be a great feature, but do you think this should actually be on the list to be implemented?

[2016-07-20 19:17] mariobehling commented on #34
@treba123 Could you help with this feature? It is on the list for a super long time.

[2016-07-20 19:18] mariobehling commented on #225
@DengYiping A long time has passed since this issue was reported. Would be great to follow up and solve or close this issue very soon now.

Any info?

[2016-07-20 19:20] mariobehling commented on #182
@treba123 Wanna take this on?

[2016-07-20 19:22] mariobehling commented on #69
@sudheesh001 Please help with the documentation.

[2016-07-20 19:23] mariobehling commented on #82
Actually still an important feature as it would allow us to answer questions like "show my accounts that tweeted the hashtag xyz with more than 100 followers"

[2016-07-20 19:25] mariobehling commented on #96
I think this can be safely closed for now as we are shifting priorities. It might be still a nice to have thing in future and be reopened then.

[2016-07-20 19:25] #96 closed

[2016-07-20 19:28] #70 closed

[2016-07-20 19:29] mariobehling commented on #71
Closing it as this is already possible.

[2016-07-20 19:29] #71 closed

[2016-07-20 19:30] treba123 commented on #175
Will look into it

[2016-07-20 19:32] mariobehling commented on #38
@Orbiter Is this still needed?

[2016-07-20 19:44] mariobehling opened #730 "Research and propose a way to add Susi as a contact/friend to messenger services to enable chat communication"
The idea is to use the existing messenger infrastructure of other services and enable people to talk to Susi through their existing chat client. If Susi could be a contact in Telegram or a friend in Facebook people could talk to her directly. We need to understand what options and APIs there are to implement this.
* [ ] Telegram
* [x] Facebook
* [ ] Whatsapp
* [ ] Line
* [ ] Viber
* [ ] Google Han

[2016-07-20 19:45] shivenmian commented on #730
@mariobehling also Slack.

[2016-07-20 20:19] mariobehling commented on #730
@shivenmian Simple edit the list and add whatever messengers comes to your mind.

I am closing this issue in favor of https://github.com/loklak/asksusi_messenger/issues/1

[2016-07-20 20:19] #730 closed

[2016-07-20 20:21] sudheesh001 opened #731 "Architecture for running all different messaging services from one single repository"
This involves creating the repository and the deployment of the individual services i.e. those mentioned in #730

[2016-07-20 20:25] mariobehling commented on #731
https://github.com/loklak/asksusi_messenger/

[2016-07-20 20:25] #731 closed

[2016-07-20 20:27] sudheesh001 commented on #731
Moved the issue there

[2016-07-20 21:18] mariobehling commented on #482
Ok, actually Azure is not a focus at the moment and maybe never. Closing it therefore.

[2016-07-20 21:18] #482 closed

[2016-07-20 22:27] jig08 commented on #711
@Orbiter Sure. I think we should start with `score` hierarchy , any plans for this soon ?

[2016-07-20 22:30] jig08 opened #732 "Adding Date-Time service in console for SUSI"
Similar to other services like `wordpress`, `meetups`, `eventbrite` etc, creating a console utility which enables _SUSI_ to answer queries related to date and time

[2016-07-20 22:53] jig08 commented on #726
+1 for this .

[2016-07-20 23:14] jig08 commented on #728
@mariobehling We already have a [docs](https://github.com/loklak/loklak_server/tree/development/docs) folder.

We can add other information like.. maybe

- [ ] How to add rules, categories , fillers and synonyms etc to _SUSI_
- [ ] A tutorial on how to make a new console service for _SUSI_

[2016-07-21 00:20] daminisatya commented on #728
@jig08 Also write a blog post on adding new console services, that would help a lot.

[2016-07-21 00:37] daminisatya opened #733 "The readme.md has broken badge images"
The following badges are getting the badge images from this [host](https://img.shields.io/) which is currently broken.
- Docker pulls
- twitter badges

Try to get a reliable provider for these badges.

[2016-07-21 00:38] daminisatya commented on #733
![selection_205](https://cloud.githubusercontent.com/assets/6227784/17007841/8a75f948-4f09-11e6-8722-93fdb65f2302.png)

[2016-07-21 01:25] jig08 commented on #728
@daminisatya , well that is exactly the theme of my next blog post !

[2016-07-21 01:35] daminisatya commented on #733
Not a high priority work item, but can invest some time. If the shields.io is up, we can close this issue.

[2016-07-21 01:39] DengYiping commented on #634
@daminisatya

Could you explain a little bit about how to push to the back-end?
Right now I have implement decoder (Weibo put html in `<script></script>`), and parsing html becomes really easy.
[https://github.com/DengYiping/WeiboSpider/blob/master/src/main/scala/com/sd/spider/DecodeWeibo.scala](url)

[2016-07-21 01:43] daminisatya commented on #634
@DengYiping The code base is in Java, Im not sure if .scala fits along with other scrapers.

[2016-07-21 01:55] DengYiping commented on #225
OK, here is my implementation:

https://github.com/DengYiping/loklak-scala/blob/master/src/main/scala/org/loklak/crawler/tweets/TweetComp.scala#L91-L110
[code]
I just use regex to extract the data.

In loklak, it check the tag.
https://github.com/loklak/loklak_server/blob/master/src/org/loklak/harvester/TwitterScraper.java#L248-L261
[code]

Those are the code that need to be changed.

Please conta

[2016-07-21 01:58] DengYiping commented on #634
@daminisatya I know, what I am thinking of is push to the RESTful service.

[2016-07-21 01:59] DengYiping commented on #634
@daminisatya I also have Java implementation, so it won't be a problem, but I haven't figure out how to push to the backend.

[2016-07-21 02:19] daminisatya commented on #634
@DengYiping You can place your code [inside this folder,](https://github.com/loklak/loklak_server/tree/development/src/org/loklak/api/search) and register the API endpoint in the [LoklakServer.java](https://github.com/loklak/loklak_server/blob/development/src/org/loklak/LoklakServer.java). Hope this is what you wanted!

[2016-07-21 03:02] DengYiping commented on #634
@daminisatya
I post a helper function here. I will keep working on it.
#735

How about login credentials?

[2016-07-21 05:53] shivenmian commented on #498
@mariobehling The SignUp and login is functional on loklak.org, so this issue is not a priority right now. I'd just call this an enhancement.

[2016-07-21 06:39] mariobehling commented on #498
Good. Closing this issue then. It this becomes necessary, the issue can be reopened.

[2016-07-21 06:39] #498 closed

[2016-07-21 06:52] shivenmian commented on #574
@mariobehling we are already adding questions in Susi so can this be closed now?

[2016-07-21 06:53] shivenmian commented on #426
@mariobehling the Sign Up system is already secure and working, I think enhancing security using CAPTCHA can come later

[2016-07-21 06:55] sudheesh001 commented on #251
For checkstyle I think this should be pretty quick, let me have a look into it today

[2016-07-21 06:59] daminisatya commented on #726
#727

[2016-07-21 07:13] mariobehling opened #736 "Add more tests and continuous integration"
There are number of automated test that can be integrated with loklak. Which ones are suitable for the technologies used in the project?

A list is here https://github.com/integrations

Please propose and integrate more tests e.g.
* [ ] https://www.codacy.com
* [ ] Cirlce CI
* [ ] Code Climate
* [ ] https://codecov.io
* [ ] https://coveralls.io
* [ ] https://gemnasium.com

[2016-07-21 07:17] shivenmian commented on #736
@Orbiter disabled codacy. We don't need code quality tests atm I believe.

I think the tests are outdated though. @Orbiter I think the test folder hasn't been updated for a long time.

[2016-07-21 07:20] #574 closed

[2016-07-21 07:27] #732 closed

[2016-07-21 08:09] mariobehling commented on #736
@shivenmian We need more tests and everyone should make tests as part of their PRs. Enable codacy and add other tests, please.

[2016-07-21 08:13] mariobehling commented on #736
@Orbiter Codacy and other test CIs could give out "wrong error" messages. This is often the case, if different code conventions are followed. What conventions need to be followed?

[2016-07-21 08:19] shivenmian commented on #736
@Orbiter do you believe the ```test``` directory needs updating? It hasn't been updated for a long while imo. Once that is set up well, we can enable codecov as well.

And do you believe codacy is needed? Because @sudheesh001 had enabled codacy at one point but you asked us to disabled it.

[2016-07-21 08:49] mariobehling commented on #634
@DengYiping

For what? To login where?

[2016-07-21 08:58] sudheesh001 commented on #733
Hopefully should be up soon.
Related to: https://github.com/badges/shields/issues/751

[2016-07-21 10:14] daminisatya opened #737 "[API documentation page] the alert box has some styling issues"
![selection_217](https://cloud.githubusercontent.com/assets/6227784/17019405/c30b2cb0-4f59-11e6-89f6-7f9011bdbc9c.png)

This has some styling issue. Here is the [link to the page.](http://loklak.org/api.html#programmingLanguages)

[2016-07-21 11:15] DengYiping commented on #634
@mariobehling Login is required to scape weibo information. I've tried multiple implementation to bypass it. Non of it actually works.

[2016-07-21 12:13] mariobehling commented on #634
@DengYiping Well, this is a problem then, cause it means our distributed peer to peer model would not work. Let's say we have 100 peers, it would mean that they all login with a pre-configured account, that we would have to define. Weibo servers would block us after a short period of time apparently. What do you think? Is there a solution to this?

[2016-07-21 12:14] mariobehling commented on #634
The only solution I see is, if we could implement auto registration, which is probably prevented through catpcha or other ways by weibo.

[2016-07-21 13:42] sudheesh001 commented on #559
Superset of #558

[2016-07-21 13:45] sudheesh001 commented on #307
As decided before I don't think we'd be seeing this, I had suggested the use of Paho library for MQTT before but there were decisions being made on automatic index generation and ability to make generic pushes.

[2016-07-21 13:46] daminisatya commented on #728
@mariobehling Are you planning to update any doc for the newly added APIs? other than the blog.
There are many scraper APIs and services which are being added to the server. I feel there must be a proper documentation on all these.

[2016-07-21 13:48] sudheesh001 commented on #345
@mariobehling This is in progress, the json data that's available here is present at the following link and an API endpoint can be created for the same. http://stuffin.space/TLE.json

Most data sets here deal with GPS or geolocation specific data, the support for which has been added with NMEA

[2016-07-21 13:49] sudheesh001 commented on #345
Also directly related to #504 since these options will be the tiles over there.

[2016-07-21 13:52] sudheesh001 commented on #344
I think this should be possible and also possible from susi. Taking this and starting with FedEx

[2016-07-21 13:55] DengYiping commented on #634
@mariobehling If we could manage a account pool, I think it will work. I am still experimenting on this issue.

[2016-07-21 15:11] jig08 opened #738 "Include rules for Date-Time in SUSI"
Using the console service implemented in PR https://github.com/loklak/loklak_server/pull/719, expand the ability of SUSI.

[2016-07-21 15:15] jig08 commented on #733
@daminisatya @sudheesh001 The server is up and the README badges are all fixed, guess we can close the issue for now.

[2016-07-21 15:19] jig08 commented on #344
@sudheesh001  Kindly elucidate ?

[2016-07-21 15:27] #733 closed

[2016-07-21 15:29] jig08 commented on #728
If required (least priority) we could use [gitbook.com](https://www.gitbook.com/) to make a lucid documentation.

[2016-07-21 15:33] jig08 commented on #737
@daminisatya On it.

[2016-07-21 15:35] mariobehling opened #739 "Document Crawler/Parser Services"
As we are adding more parsers, we need to keep an overview about the implementation. E.g. parsing tweets is done by collecting search terms and the search page, but it is unclear how is data collected from Eventbrite? What is tracking the collection of event data?

Please document the following:
* [x] Create a list of implemented services in `docs/parsers.md`
* [x] Describe where the parser code i

[2016-07-21 15:36] jig08 opened #740 "Including a parser for Github profile"
Developing a console service by implementing a Github profile scraper

[2016-07-21 15:38] jig08 commented on #739
@mariobehling On it !

[2016-07-21 15:45] jig08 commented on #50
@mariobehling Okay.

@Orbiter Do we need to identify the type of tweet (or a reply ?)  in this case ?

Reference:
https://github.com/loklak/loklak_webclient/issues/122#issue-85734919
https://github.com/loklak/loklak_webclient/issues/122#issuecomment-111865908

[2016-07-21 17:12] mariobehling opened #741 "How to add APIs and Parser for loklak/Susi"
There are a a lot of possibilities to extend Susi. Apart from our own data engine, we can also add APIs and define rules when these APIs are used. There is already the example of the Urban dictionary that we are using.

What are the steps to connect the service with more APIs? And how can we add more parsers and trigger the parsers?

Could you outline a step by step instruction, please?

File to k

[2016-07-21 17:14] jig08 commented on #741
@mariobehling As a side note, I was planning to write a blog-post on how to add new console services and using them in SUSI next.
Reference: https://github.com/loklak/loklak_server/issues/728

[2016-07-21 17:21] jig08 commented on #739
@mariobehling Started with it here : https://github.com/jig08/loklak_server/blob/documentation-parsers/docs/parsers.md
Feedback appreciated.

[2016-07-21 18:49] jig08 opened #743 "General Scraper Console Service"
Converting the general scraper ([loklak/loklak_server/src/org/loklak/api/search/GenericScraper.java](https://github.com/loklak/loklak_server/blob/development/src/org/loklak/api/search/GenericScraper.java)) to a console service for easy accessibility in _SUSI SU_

[2016-07-21 19:10] daminisatya commented on #738
@jig08 Will this date-time service give answers for questions like

- Difference between timezones?

- What is the current time now?

- Timezone of a particular place?

- Date of a particular place?

- Time of a particular place?

Im curious on what kinda rules this service can provide?

[2016-07-21 19:40] Orbiter commented on #741
I have a huge backlog of ideas how Susi unfolds artificial intelligence. Only a subset of the opportunities are opposed through the rules and the existing api implemententations in the console.

There are several ways to be 'intelligent'. One way (which is not an intelligent thing at all in my opinition) is the ability to reproduce information. To do that in Susi whe have the option to access the

[2016-07-21 19:47] jig08 commented on #738
@daminisatya Currently, it aims to answer queries like:
* What is the time ?
* What is the date today ?
* Which day of the week is it ?
* What timezone are we in ?
etc.

For questions like:

What is the current time now?
Timezone of a particular place?
Date of a particular place?
Time of a particular place?

I would have to make use of a third party service like [www.timeanddate.com](http://www.ti

[2016-07-22 03:02] #737 closed

[2016-07-22 06:05] jig08 opened #747 "Split date-time in console service for useful info"
Split date-time (day, date, year, hours, minutes, seconds etc.) in console service to expand the ability of SUSI.

[2016-07-22 06:09] sudheesh001 commented on #738
What is the date today ?
Which day of the week is it ?
What timezone are we in ? etc.

For these questions we can directly query from the client itself in susi rather than request and load the server, the aim here should be to scrape timeanddate.com and display the contents after the required computation for the query given. Please refer https://github.com/loklak/loklak_server/pull/745#issuecommen

[2016-07-22 06:30] jig08 opened #748 "Parse third party service (timeanddate.com) for expanding scope of SUSI"
To make SUSI answer questions like :

- [ ]  What's the current time/day/date ?
- [x]  What's the current time at `<location>` ?
- [ ]  What's the time difference between `IST` and `GMT` ?
- [ ]  How many `<hours/minutes/seconds>` is it to `6:00PM` in `<location>` ?

Parse third party services like [timeanddate.com](http://www.timeanddate.com/).

Follow up of Issues #732 , #747 and PRs #738 #745

[2016-07-22 06:35] sudheesh001 commented on #732
Moved to #748

[2016-07-22 06:36] sudheesh001 commented on #738
Moving to #748

[2016-07-22 06:36] #738 closed

[2016-07-22 06:36] sudheesh001 commented on #747
Moving to #748

[2016-07-22 06:36] #747 closed

[2016-07-22 06:41] sudheesh001 commented on #740
We can also get a lot of information from the publicly rate limited github APIs without the need of a key, Please look into that too.

[2016-07-22 06:49] jig08 commented on #740
@sudheesh001 Yes. I was going through [developer.github.com/v3/rate_limit](https://developer.github.com/v3/rate_limit/) .

The rate_limited API can be easily integrated, should I go ahead and make a console service by using them or go the traditional way of parsing the HTML ?

[2016-07-22 07:07] jig08 commented on #740
The traditional way but have the fallback in case of failure to the regular API

@sudheesh001 Sounds good. Shall make changes to PR #746  accordingly ...

[2016-07-22 15:52] daminisatya commented on #743
@jig08 I feel this must be on hold, as of now the scraper is not doing the expected job. I will let you know when I update the Generic scraper.

[2016-07-22 15:53] jig08 commented on #344
@sudheesh001 Cool.

Exactly. Are you working on this ? If not, I could contribute

[2016-07-22 15:53] jig08 commented on #743
@daminisatya Okay, cool.

[2016-07-22 15:54] jig08 commented on #743
@daminisatya Okay, let know when it is updated.. I'll make a console service for the same.

[2016-07-22 20:24] jig08 commented on #344
@mariobehling @sudheesh001
Here I am adding the sample URLs for tracking:

- [ ] FedEx: [ https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=<-tracking-id->]( https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=920241085725456)
- [ ] DHL: [http://www.dhl.com/en/express/tracking.html?AWB=<-tracking-id->&brand=DHL](http://www.dhl.com/en/express/tracking.html?AWB=10007d1213

[2016-07-23 04:04] mariobehling commented on #344
What about the samples? How should I test them?

[2016-07-23 04:09] mariobehling opened #750 "Propose and implement Amazon API"
There are product APIs (https://affiliate-program.amazon.com/gp/advertising/api/detail/main.html) and a number of other APIs (https://developer.amazon.com/). Which ones could be relevant for Susi?

* [x] List relevant APIs in this issue
* [ ] As a start implement an API that offers information on products

[2016-07-23 05:25] jig08 commented on #344
@mariobehling Sample tracking numbers for FedEx.

![screenshot from 2016-07-23 10 53 59](https://cloud.githubusercontent.com/assets/9291400/17075992/0145ff94-50c4-11e6-926d-2af4d353ab72.png)

[2016-07-23 05:40] jig08 commented on #739
@mariobehling Feedback pls, is this issue good to close ?

[2016-07-23 14:06] mariobehling commented on #739
@jig08 @daminisatya There is a list of points. Please go through each point and click on it, if it has been done.

At the moment, I do not see any info how these parsers are triggered. When do they collect information? How are they started? How is JSoup integrated into loklak now?