[2016-07-23 14:08] mariobehling commented on #739
Is this data added to the loklak index? Are we constantly collecting data like we do from twitter? I do not see this.

[2016-07-23 14:17] jig08 commented on #739
@mariobehling `JSoup` is a java library which has been included in Loklak to parse the HTML pages.
No, the data in not added to the Loklak index and neither are we constantly collecting data like we do from twitter.
The connection to the required web page is made upon request (Susi Query or corresponding API call) and the web page is parsed and `JSONObject` returned.

[2016-07-23 14:19] sudheesh001 commented on #739
I think the documentation for a single level page scraper is actually good and available here https://github.com/jig08/loklak_server/blob/documentation-parsers/docs/parsers.md which was merged in https://github.com/loklak/loklak_server/pull/742

Adding the data to the loklak index is something that's left out, the harvester (i.e. what runs the scraper and pulls data and stores needs to be integrat

[2016-07-23 14:19] #739 closed

[2016-07-23 14:24] jig08 opened #751 "Pushing data collected from other scrapers to an index"
Currently the data collected from scrapers is not stored anywhere.

The aim is to push the data collected from each of the scraper to an index , i.e. integrating the harvester.

---

_EDIT:_ Pushing scraped data for :-
- [ ] Github Scraper
- [ ] Wordpress Crawler
- [ ] EventBrite Crawler

[2016-07-23 14:24] jig08 commented on #739
@sudheesh001 Here it is https://github.com/loklak/loklak_server/issues/751

[2016-07-23 14:40] sudheesh001 commented on #751
I think the best way to have this would be to have a generic `pushtoindex` and `createindex`.
The `pushtoindex` could potentially be used by other scrapers in the future.

[2016-07-23 14:47] #69 closed

[2016-07-23 14:49] jig08 commented on #751
+1

[2016-07-23 14:53] daminisatya opened #753 "[Loklak] Improve the example URLs in API documentation"
There are few example URLs which point towards localhost, which is not suggested. The preferred change is to point all the URLs to loklak.org.

[2016-07-23 14:54] daminisatya commented on #753
A quick fix can be made, cause without a local setup the URLs point towards 404.

[2016-07-23 15:02] mariobehling commented on #753
@daminisatya could you just make it related to the local set up, please, e.g. ./api or whatever is the relevant internal link?

[2016-07-23 15:10] mariobehling commented on #344
What do do with this information? Is it available in loklak/Susi now? Where do you store the info in the index? Usually there is also geolocation info available for each stop. Please add this as well.

[2016-07-23 15:12] jig08 commented on #344
@sudheesh001 Have you started with FedEx tracking , now that we a pool of test data ?

[2016-07-23 15:13] jig08 commented on #344
@mariobehling This was a set of sample data I found online. I will explore for more test datasets with geo-location info as well.

[2016-07-23 15:15] sudheesh001 commented on #344
@jig08 Yes i've started with it

[2016-07-23 15:16] sudheesh001 commented on #753
Good catch, this has been pending since quite some time. There are a few APIs which are restricted and need ot be localhost only (eg. `settings.json`). Leaving the localhost only ones we need to move all to loklak.org whereever it supports

[2016-07-23 16:16] mariobehling commented on #634
@DengYiping Account pool could be partly a solution. We could see, if it works continuously. What about the documentation of Weibo parsing here: https://github.com/loklak/loklak_server/blob/development/docs/parsers.md I missed if this parser is also parsing the results from the search page of weibo and continuously searches terms just as we do for twitter. @daminisatya @jig08 Could you please help

[2016-07-23 16:23] jig08 commented on #634
@mariobehling Sure. I will add the required details in _parsers.md_

[2016-07-23 16:45] daminisatya commented on #634
@mariobehling @jig08 Please keep the documentation for weibo on hold. The parser is not available yet. I made a PR and it requires some change with @DengYiping 's patch.

[2016-07-23 16:49] jig08 commented on #634
@daminisatya Okay..

[2016-07-23 22:16] mariobehling commented on #741
Yes, it makes sense. What about the data collection in loklak? Querying other services could make Susi relatively slow. How can we continue our way of storing data on loklak and get a certain number of results faster?

[2016-07-23 22:18] mariobehling commented on #728
Yes, gitbook is nice. Let's collect more content first.

[2016-07-24 03:05] #426 closed

[2016-07-24 03:13] shivenmian commented on #750
@mariobehling There's a full list of their APIs on their API Gateway. Had to make an AWS account for it. Filled the company as FOSSASIA but they were asking me for credit card info. Skipped that part. They said account will take up to 24h to activate.

[2016-07-24 03:16] shivenmian commented on #750
@mariobehling They actually don't have a consolidated list of APIs anywhere. It's all in random places, but from what I could find, the Product API seems to be the only one of use.

[2016-07-24 07:11] mariobehling commented on #750
@shivenmian Ok, good. So, please proceed to integrate the Product API.

[2016-07-24 10:13] shivenmian commented on #750
@mariobehling do you want me to use the API or just scrape Amazon?

[2016-07-24 10:25] mariobehling commented on #750
Use the API. Scraping Amazon is too complex and need to be planned out in detail. Use the API that where we could add our affiliate key. So, this could be one possibility to earn an income with Susi.

[2016-07-25 14:51] Orbiter commented on #713
Bug: it must be $4$, not $3$. It's the fourth pattern

[2016-07-26 04:42] jig08 commented on #713
@Orbiter It was a typo.

I have tried with this as well

[code]

No luck.

[2016-07-26 04:45] jig08 commented on #740
Resolved in PR #746

[2016-07-26 04:45] #740 closed

[2016-07-26 04:46] shivenmian commented on #713
@jig08 Modify it to $4$ in your PR though. The reason the utilities aren't working is cuz of the score system which is a known problem I think.

[2016-07-26 04:47] jig08 commented on #713
@shivenmian Which PR are you referring to ?

[2016-07-26 04:49] shivenmian commented on #713
Oh okay. I thought the wordpress rule was already there in the file. Nothing, ignore.

[2016-07-26 09:11] sudheesh001 opened #756 "Add a /vis/ API for the piecharts parsing."
Similar to how we have the /vis/map.png, we should also be haivng /vis/piechart.png which on passing the required JSON generates the image and provides to the user.

[2016-07-26 09:29] shivenmian commented on #756
@sudheesh001 I recommend [charts4j](https://code.google.com/archive/p/charts4j/).

[2016-07-26 10:01] Orbiter commented on #756
👎
There are really good libraries to draw graphs, doing so in a server-side application is not only a lot of work, will produce less beautiful images but also does not solve any problem that I see makeing graphs.

[2016-07-27 01:01] jig08 commented on #344
Sample tracking numbers for UPS.
![screenshot from 2016-07-27 06 30 15](https://cloud.githubusercontent.com/assets/9291400/17160611/cc9b6ea2-53c3-11e6-91c6-a5cb28bd4222.png)

[2016-07-27 08:08] DengYiping commented on #736
@mariobehling @Orbiter

Besides this, I believe that loklak should be refactored in order to do unit test and integration test.

Looking into the code, most of the java code in loklak uses `class Foo` instead of 'interface Foo'. This issue prohibits us to mock a object, say, for example, data access object. We are not able to change its implementation and mock a test dao object for other service.

[2016-07-27 09:01] #634 closed

[2016-07-27 14:38] jig08 opened #759 "Fixing erroneous results in Location Wise Time"
Follow up of PR https://github.com/loklak/loklak_server/pull/757 wrt Issue #748

Results in _JSONObject_ aren't completely fine, a few blank entries also exist.

[2016-07-28 16:36] daminisatya opened #761 "[Loklak.org] The top nav bar is not shown on Loklak.org"
![selection_242](https://cloud.githubusercontent.com/assets/6227784/17220960/44e6c324-550f-11e6-86b5-d0b611111a3c.png)

The local setup is working fine, but not sure about the cause of this.

[2016-07-28 16:41] daminisatya opened #762 "[Loklak Apps Page] IOT category not able to filter the app under it."
When clicked on the left nav bar for filtering the apps according to the categories the IOT section is not able to filter it.

![selection_243](https://cloud.githubusercontent.com/assets/6227784/17221164/42747d9c-5510-11e6-834d-4720c5b2588a.png)

[2016-07-28 16:50] #762 closed

[2016-07-28 17:01] daminisatya commented on #761
![selection_245](https://cloud.githubusercontent.com/assets/6227784/17221783/f44d8e6c-5512-11e6-91f9-18295b0d4bb7.png)

[2016-07-28 17:01] daminisatya commented on #761
working fine, closing this.

[2016-07-28 17:01] #761 closed

[2016-07-28 17:11] mariobehling commented on #762
Thanks, but let's focus on Susi and get something running.

[2016-07-28 18:18] daminisatya commented on #681
This issue is related to asksusi, where we need to handle the answers returning data with type ```table```.
This is safe to close .

[2016-07-28 18:18] #681 closed

[2016-07-28 18:37] #753 closed

[2016-07-28 19:25] #726 closed

[2016-07-28 21:53] smokingwheels opened #766 "Is it possible to time each keystroke into the system?"
No Rush just have a look when you have time.
I wrote a program about money after I had Finished making my car a daily driver.
I'm unsure if you can time a keystrokes in Java.
You would then feed this information into parts of this program at [Western Blue Sky Mining](http://westernblueskymining.tripod.com/)
Happy to answer any questions.
Have Robot keyboard in arsenal, asleep at the moment, if req

[2016-07-29 02:23] DengYiping commented on #766
@smokingwheels I do not get what you mean, and how it gonna affect loklak. Please explain it more specifically.

[2016-07-29 07:03] smokingwheels commented on #766
@DengYiping Could you reference you education and experience in **general** terms so I have some idea where to start?
This is the document I used to design mine .[Here](http://www.computer-engineering.org/ps2protocol/)

[2016-07-29 11:10] Orbiter opened #767 "Susi Rule-Score Hierarchy Brainstorming"
For Susi's score system, we need a hierarchy to assign good score values to the rules. To do so we should develop a hierarchy to find an easy system that can be used to assign scores to new rules.

Please add your suggestions below, as you add your ideas we will change a score hierarchy  suggestion below.

### Primary Consideration: Purpose
We have three kinds of purposes for Susi answers:
- (A) t

[2016-07-29 15:39] mariobehling commented on #756
@sudheesh001 Why should we use this instead of libraries? Is there any advantage for messenger services? Is it easier to integrate that in the FB messengers? Please tell us some more background.

[2016-07-30 04:54] jig08 opened #769 "Make Github rules for SUSI"
Utilizing the API `/api/githubprofilescraper.json` create rules for _SUSI.

Sample API Endpoint: [http://loklak.org/api/console.json?q=SELECT * FROM githubProfile WHERE profile='mariobehling';](http://loklak.org/api/console.json?q=SELECT%20*%20FROM%20githubProfile%20WHERE%20profile=%27mariobehling%27;)

[2016-07-30 10:24] smokingwheels opened #771 "Fresh clone from Master wont start."
Fresh clone from Master 3 times tested.
Log file Zero bytes.
No rush yet.
Minor spelling error no problem.

BUILD SUCCESSFUL
Total time: 7 seconds
root@Debian:/usr/loklak_server# bin/start.sh
starting loklak
cat: data/startup.tmp: No such file or directory
bin/start.sh: 47: [: =: unexpected operator
loklak server failed to start. See data/loklag.log for details
root@Debian:/usr/loklak_server#

[2016-07-30 12:59] jig08 commented on #771
@smokingwheels I tried cloning, building and running the `master` branch of Loklak and it works just fine for me.

[code]

As it says `loklak server failed to start. See data/loklag.log for details` could you kindly let know what exactly the logs say ? Maybe we can have a better insight.

[2016-07-30 12:59] jig08 commented on #771
@smokingwheels

As it says `loklak server failed to start. See data/loklag.log for details` could you kindly let know what exactly the logs say ? Maybe we can have a better insight.

[2016-07-30 16:14] smokingwheels commented on #771
@jig08 The data/loklak.log file is empty and also Cloud PC Loklak had never been installed before.
I am not asking you to Format anything you have.
It also has been running Yacy for over 20 days but Yacy is stopped.
I'm like thingking usual error?

[2016-07-30 16:46] smokingwheels commented on #771
I managed to clone a copy locally and I had and upload to VM.
My Susi's address is [Here](http://mysusi.remote.mx/)
I have not changed any of the default rules Please Try.

[2016-07-30 17:58] jig08 commented on #771
@smokingwheels With `rules` you mean that Susi is not answering properly ? I didnt quite get your issue.

[2016-07-30 20:33] smokingwheels commented on #771
@jig08 I had a clean system and cloned from the master branch and it did not start.
I’m not a man of many words.
I overcome the problem (Work around) and is now working then invited people to try it.
Hope that helps.

[2016-07-31 06:26] DengYiping commented on #751
I implement a wrapper class. Use it as a builder, and finally `persisit()` to store the data. @jig08

[2016-07-31 18:08] #759 closed

[2016-08-01 06:19] sudheesh001 commented on #544
Load tested with updates in https://github.com/loklak/loklak_python_api/pull/52
1000 push objects simulated into loklak in a threaded manner. Doesn't break. Good to close

[2016-08-01 06:19] #544 closed

[2016-08-01 14:27] treba123 commented on #771
For some errors (when the log backend doesn't even start) there's a second log file at /tmp/loklak_(date) (we should probably move that somewhere or atleast give a hint).
Can you check that?

Also, i'm not sure if running as root is currently a good idea, as we don't yet have a mechanism to drop previleges at runtime.

[2016-08-02 03:17] DengYiping commented on #767
Actually I believe that natural language processing will be a good idea. Instead of using our own rule, we will tuning a NLP engine and classify the question.

[2016-08-02 06:13] sudheesh001 commented on #756
@Orbiter This would be used in places where susi cannot send interactive charts, like to accounts consuming susi services from chat clients like Whatsapp, Telegram, Slack, Facebook Messenger. The susi's data result will be converted into png images so that these services can see the piecharts, on the susi application as a whole, we'll behaving interactive charts either with d3 or highcharts.

[2016-08-02 10:27] smokingwheels commented on #771
@treba123 Sorry Ive had to send the razor gang around to my cloud9, so I will think about when time permits.
I have dug out an old P4 1.8 GHz 512 MB Box and Loaded Debian 8.5 and have Loklak Server running currently in private mode it seems to work ok.
Cheers.

[2016-08-02 17:42] sudheesh001 commented on #771
This is good to close, since it's running and there are no problems of running the code from master / development branches.

[2016-08-02 17:42] #771 closed

[2016-08-02 18:15] smokingwheels commented on #767
What about Text to Speech on the output, just an idea?
[Here ](http://freetts.sourceforge.net/docs/index.php)

[2016-08-02 18:18] jig08 commented on #767
+1

Once _SUSI_ is stabilized and has a wide scope, I think this is a good idea to go with..

[2016-08-02 18:40] #769 closed

[2016-08-02 19:40] #736 closed

[2016-08-03 04:03] jig08 opened #779 "Error while using DAOWrapper"
Error faced while using the `DAOWrapper ` class implemented in PR #772
`The type DAOWrapper.GenericJSONBuilder is not visible`

Fix is to make it public/visible ?

.. Related to issue #751

[2016-08-03 04:03] jig08 commented on #779
@DengYiping Your views pls.

[2016-08-03 04:37] #779 closed

[2016-08-03 05:15] jig08 opened #781 "Add rules wrt Wordpress Scraper"
_SUSI_ can now use the console service for wordpress scraper as [http://loklak.org/api/console.json?q=SELECT * FROM wordpress WHERE url='http://ishothim.com/';](http://loklak.org/api/console.json?q=SELECT%20*%20FROM%20wordpress%20WHERE%20url=%27http://ishothim.com/%27;)

Task is to implement new rules wrt Wordpress Scraper to widen the scope of _SUSI_.

[2016-08-03 05:33] jig08 commented on #751
@DengYiping Using `DAOWrapper.builder().addField(key, value).persist();` for each field in `SUSIThought` shall work fine in case of addition.

Because `user_name` is unique, we can use `setUser()` method to push unique entries and then use `existsUser()` method to implement a check before scraping ?

[2016-08-03 05:38] DengYiping commented on #751
@jig08 `setUserid()`

[2016-08-03 05:52] DengYiping commented on #493
#751 Consider close this issue due to duplication.

[2016-08-03 11:07] treba123 commented on #519
@shivenmian @Orbiter @mariobehling The installation page is now functional, but i've got some questions before we can merge it:

1. Should the installation page be displayed by default (on first run)?
  - One problem with that would be the one-click deployments, as one would have to make sure to complete the installation so no stranger does it.
  - What happens with installations that just do an u

[2016-08-03 11:52] mariobehling commented on #519
How does the page look like? Any screenshot?

[2016-08-03 11:55] mariobehling commented on #519
I am not clear on your idea of the implementation, but as of now the service always restarted itself after an update/upgrade. And as loklak is constantly providing updates/upgrades the goal was always to provide upgrades that work without the need of any user actions. Do I understand you correctly, that this is no longer possible in the way you propose it here?

[2016-08-03 12:14] treba123 commented on #519
It's totally possible. The question is, how do we want it. If you say installation should not happen on upgraded installations, I'll try to make it that way.

Here are some fast screenshots:

![installation0](https://cloud.githubusercontent.com/assets/6313774/17365089/75d14238-5984-11e6-9679-f498b17071f1.png)
![installation1](https://cloud.githubusercontent.com/assets/6313774/17365088/75cd2d60-598

[2016-08-03 14:19] treba123 commented on #519
Ok, I would propose the following:
- the installation is launched with an extra start script. If it's started, only the webserver will start, only with the installation
- the normal start.sh will prompt if the user wants to do the installation (if not done already). It will provide 'yes', 'no' and 'ask next time' and remind the decission in some extra file. It will time out after 10-20 seconds (de

[2016-08-03 14:33] jig08 commented on #751
@DengYiping Oh Yes, implementing it ..

[2016-08-03 14:47] #756 closed

[2016-08-03 16:43] treba123 opened #782 "JavaFX not bundled with OpenJDK"
https://github.com/loklak/loklak_server/commit/2f8184b2ba1c1c7dc4c48f051aac3182bec0a5ef imports JavaFX, which is fine for oracleJDK, which bundles it with jdk8, but not for openjdk, which is used by many linux distributions.

As the used functionality is rather trivial, we should better replace that lines.

[2016-08-03 16:53] treba123 opened #783 "Add OpenJDK to travis"
OpenJDK is the java reference implementation, therefor to avoid usage of non-standard oraclejdk specific features (as happened in https://github.com/loklak/loklak_server/issues/782), we should include OpenJDK in the travis build process.

[2016-08-03 17:44] smokingwheels opened #785 "Git clone on windows Ant fails to build. "encoding Cp1252""
Cloned a copy 4 aug 2016 Windows as per wiki ant fails on Webo.
Will try again to download zip.
Confirmed same error with zip file.

Used to work fine I wrote [this](https://github.com/loklak/loklak_server/wiki/Setting-up-Loklak-on-Windows-32-Bit)
Also yacy is a service now.

Command prompt output.
init:

build:
   [delete] Deleting directory f:\loklak_server\classes
    [mkdir] Created dir: f:\lo

[2016-08-04 00:56] daminisatya opened #786 "[Susi] Pie chart response must be made more generic"
Here is the sample JSON response giving a Pie chart response.

[code]
The key along with the percentage must be made more generic to either name or label. ``` "president": "hillary2016"```

[2016-08-04 00:56] daminisatya commented on #786
followup of [#5](https://github.com/loklak/asksusi_com/issues/5)

[2016-08-04 02:19] daminisatya opened #787 "[WebScraper] JSON result must be collapsible."
As of now the websraper is aimed to give out the JSON result from a webpage aiming at structuring the data. The JSON response is pretty huge for certain webpages, which needs to made collapsible. This is an enhancement, where the text JSON is made to look like this.

![selection_251](https://cloud.githubusercontent.com/assets/6227784/17388167/019e7cac-5a18-11e6-8c7d-836b9cb0e0a1.png)

[2016-08-04 02:40] DengYiping commented on #782
@treba123 Thanks for mention. Fix is here: #788

[2016-08-04 02:49] daminisatya opened #790 "[Apps] Code clean up"
Currently, the Apps page is facing issues with loading the apps at once. Due to few miss checks, few apps had included heavy library files leading to redundancy. This is a must clean up for making it much uniform, this fix takes less time.

[2016-08-04 02:51] daminisatya commented on #613
This is a follow up for making the scraper work. and queue the service. Using @DengYiping 's patch.

[2016-08-04 03:03] daminisatya opened #791 "[WebScraper] Integrating the existing scraper data into the webscraper"
Currently the Generic Scraper is able to convert the webpage data into a structures key objects. This will go on with a standard format which are included in the generic scraper.
There are many website related scrapers like wordpress, eventbrite, rss feaders, which can be used when the URLs related to these sites are mentioned.

**[Aim]** The webscraper app can be made to internally recognize cert

[2016-08-04 03:06] daminisatya commented on #791
#598

[2016-08-04 03:53] #787 closed

[2016-08-04 04:24] daminisatya opened #792 "[Webscraper] Styling issues with the JSON output"
This Issue is a follow up #787 and PR #789 Where the PR got merged. Where the issues are intended to go in the previous PR.

The JSON result which gets displayed misses the alignment of it and also requires the proper placing of it for easy selection of the result.

[2016-08-04 04:31] daminisatya commented on #452
This issue is a follow up for #458 Where in we an have two different ways to implement it .
* By making use of the accounts_depot for getting the username into the leaderboard.
* By making a separate service to take the username from user whenever there is a deployment.

[2016-08-04 05:38] #782 closed

[2016-08-04 05:44] sudheesh001 commented on #785
@smokingwheels This looks more like an issue with the character encoding that's there, the file contains chinese characters which isn't being recognized in the default charset, can you specify the `javac encoding` to compile with charset of UTF-8 than in ASCII, That should hopefully fix the problem or you need to have the charset installed. Had no problems with installing it on windows with the ch

[2016-08-04 05:54] jig08 commented on #713
Issue with scores. Fixing Issue https://github.com/loklak/loklak_server/issues/767 (Susi Rule-Score Hierarchy Brainstorming ) will resolve this automatically.

[2016-08-04 05:54] #713 closed

[2016-08-04 16:09] #792 closed

[2016-08-04 16:10] #781 closed

[2016-08-04 16:13] mariobehling commented on #781
What does wrt mean?

[2016-08-04 16:30] smokingwheels commented on #785
See
[dos2unix.sourceforge.net](http://dos2unix.sourceforge.net/)
I ran this tool "unix2dos.exe" with no options in the loklak_server folder compiles ok.
I have used ant on Yacy about a month ago, had no problems.

[2016-08-04 16:49] jig08 commented on #781
@mariobehling **WRT** is an abbreviation that stands for **with respect to** or **with regard to**.

[2016-08-05 01:20] jig08 opened #796 "Update AskSUSI sample queries"
Adding new sample queries in [docs/AskSUSI.md](https://github.com/loklak/loklak_server/blob/development/docs/AskSUSI.md) whose rules have already been added in [conf/susi/susi_cognition_000.json](https://github.com/loklak/loklak_server/blob/development/conf/susi/susi_cognition_000.json)

[2016-08-05 01:52] #796 closed

[2016-08-05 08:55] smokingwheels opened #798 "Other Susi's get redirected to asksusi.com"
I have extra 2 installs = 3
The link susi when click on in the apps page redirects to asksusi.com.
Haven’t a clue where to start!

[2016-08-06 00:23] jig08 commented on #743
@daminisatya Is the `generic web scraper` ready to be implemented as a console service now ?

[2016-08-06 01:41] daminisatya commented on #743
@jig08 i dint submit any patch yet

[2016-08-06 01:43] daminisatya commented on #743
@jig08 please refer #598. involes that extra work and engineering.

[2016-08-06 02:00] daminisatya commented on #743
@jig08, its interesting to see this scraper as a console service. Cause i thought its main aim is to convert the source of webpages into structured data. Which is simply straighy forward. Can you give me a use of susi using it? Like what sort of questions it can ask? To the sevice, we need to give the URL of the website , which is similar to diffbot. Are you thinking about questions like ```susi g

[2016-08-07 06:49] #790 closed

[2016-08-08 02:19] jig08 commented on #342
@Orbiter Hey, any update on this issue ?

[2016-08-08 02:22] jig08 commented on #343
@DengYiping In this case too, majority of the information is inside the `<script>...</script>` tags.
On exploring. `JSoup`+ manual Parsing of the javascript seems to be a feasible option.
Any pointers on this one ?

[2016-08-08 02:28] jig08 commented on #743
@daminisatya Sounds legit.
Was just planning to have all the scrapers as a console services in case of requirement by _SUSI_ at a later stage. If not necessary, I guess we can close this issue then ?

[2016-08-08 02:30] jig08 commented on #748
Suggested alternative instead of [timeanddate.com](http://www.timeanddate.com/) :-
 [stackoverflow.com/questions/589870/should-i-use-java-date-and-time-classes-or-go-with-a-3rd-party-library-like-joda](http://stackoverflow.com/questions/589870/should-i-use-java-date-and-time-classes-or-go-with-a-3rd-party-library-like-joda)

[2016-08-08 02:44] DengYiping commented on #343
@jig08 Take a look at helper function for Weibo. Maybe it will help you.

[2016-08-08 02:47] jig08 commented on #343
@DengYiping [loklak_server/src/org/loklak/api/search/WeiboUserInfo.java](https://github.com/loklak/loklak_server/blob/development/src/org/loklak/api/search/WeiboUserInfo.java) here , this one ?

[2016-08-08 02:59] daminisatya opened #803 "[Social Wall] Images are not displayed on the cards"
Social wall is a wonderful twitter wall with proper masonry layout. There is a small bug where in the code is not able to display the images from the tweets.

![selection_275](https://cloud.githubusercontent.com/assets/6227784/17468099/20dc64f8-5d42-11e6-95f7-1eeb0a2dad66.png)

[2016-08-08 03:08] daminisatya opened #804 "[Generic Scraper] Implement the crawler capabilities to the API"
As of the the generic scraper is able to scrape the webpage details. Adding the crawler capabilities is an add on.

- [ ]  Implement the crawler

- [ ] Crawl according to the depth.

[2016-08-08 03:24] daminisatya opened #805 "[Weibo] Evaluate the source code under script tags"
The Weibo source code is under the ```<script>``` ```</script>``` . The current weibo user scraper must compile the source code for getting the proper html.

[2016-08-08 03:25] daminisatya commented on #805
@jig08 Please point out the possibilities.

[2016-08-08 03:41] jig08 commented on #805
@daminisatya Maybe you should utilize the helper function implemented (here: [WeiboInfoScraper.java](https://github.com/loklak/loklak_server/blob/development/src/org/loklak/harvester/WeiboInfoScraper.java) ) by @DengYiping to scrape information within the `<script>...</script>` tags

[2016-08-08 12:45] #783 closed

[2016-08-08 12:55] treba123 commented on #182
@mariobehling sorry, but this is too similar to the tasks that were unassigned from me.

[2016-08-08 13:37] treba123 commented on #175
This is still the case (you can check by copy pasting content from a dump [here](http://jsonlint.com/)

There are two issues:
- No commata at the end of each line
- The dumps are just a collection of objects, an array basicly. So to be valid, there would need to be square brackets at the beginning and the end of the file. Don't know if we can guarantee that we will get it on at the end.

[2016-08-08 14:56] #343 closed

[2016-08-08 15:04] sudheesh001 commented on #798
Similar issue here. https://github.com/loklak/asksusi_com/issues/14#issuecomment-238265855

The susi app has been moved out of loklak server and kept standalone, hence the redirect.

[2016-08-08 15:04] #798 closed

[2016-08-08 15:06] sudheesh001 commented on #785
@smokingwheels I would need more time to go through the unix2dos tool that might be causing these problems, but without that, if you run ant from the CLI, Does it perform fine ?

[2016-08-08 15:07] sudheesh001 commented on #766
@smokingwheels Are you referring to the input from the console ? timing the duration of each keystroke, that is definitely possible, How can something like this affect loklak ?

[2016-08-09 02:38] daminisatya opened #807 "[Scrapers] The invalid URLs must be handled gracefully"
As of now the scrapers which are implemented are able to scrape data for a particular URL formats. If in case there is an unsupported input, the output should be handled gracefully instead of throwing a ```server error```

Here's a sample erroneous output on using genericscraper.
![selection_276](https://cloud.githubusercontent.com/assets/6227784/17502772/636677f2-5e08-11e6-8eef-68d8e761afc5.png)

[2016-08-09 02:53] jig08 commented on #807
+1

[2016-08-09 14:31] Orbiter opened #808 "Console Service Source URL Collection"
There are a lot of angular.js-driven web pages out there which we all could use as data source for Susi, implemented as Console Service. Lets collect a large number of urls as suggestion for add-on implementations. Please just add the host names, we can identify the API url later.

[2016-08-09 14:37] Orbiter commented on #808
https://www.wolframalpha.com/
http://dict.leo.org/
http://stackoverflow.com/
https://answers.yahoo.com/
http://stackexchange.com/
https://voat.co/

[2016-08-09 14:50] Orbiter commented on #766
Keystrokes can be measured with javascript. But we don not have an application for this. This is really OT.

[2016-08-09 14:50] #766 closed

[2016-08-09 14:53] Orbiter commented on #342
+1 yes implement the Wiki GeoData API

[2016-08-09 14:58] shivenmian commented on #808
@Orbiter @sudheesh001 What about wit.ai?

[2016-08-09 15:01] Orbiter commented on #491
The Youtube Scraper is already implemented, see https://github.com/loklak/loklak_server/blob/development/src/org/loklak/harvester/YoutubeScraper.java
To use this as a console service there is no search api service required. Should be ready to be implemented as console service. Please go ahead and implement that.

[2016-08-09 15:11] Orbiter opened #809 "Create an OpenSearch/YaCy-json compliant result writer for /api/susi.json"
Then it is easy to use https://github.com/yacy/yacy_webclient_bootstrap as search result of Susi.
The application may be different than the usual question-answer Schema; this writer and search api should be used if normal web search sources are used as console search services (something which we do not have yet, but may be possible then to integrate)

[2016-08-09 18:59] jig08 commented on #342
@Orbiter Implemented.

[2016-08-10 11:39] treba123 commented on #783
Had to revert #784 (https://github.com/loklak/loklak_server/pull/811) because of run errors.
We can try again in some time when the support is more stable.

[2016-08-10 12:41] treba123 commented on #175
@Orbiter making the dump files valid json objects would mean a format change of dump files (see comment above).
If I get it right, that would require changes to dump writes, the dump importer and especially a mechanism to either convert old dumps or atleast to stay compatible with them.

Should I do that or is it enough to maybe write explanation how to handle the files?

[2016-08-11 08:45] sudheesh001 commented on #175
I think I brought this up very long back during the initial phases of the project, I believe that is by design. Not really sure. @Orbiter can answer better. :smile:

[2016-08-11 11:18] Orbiter commented on #767
@DengYiping NLP engines are complex, large, dictionary (and license)-dependent beasts which do not give much benefit in my opinion. I developed Susi's rule system as a direct approach to make it 'greedy' and easy.
@smokingwheels on a mobile app: sure!

[2016-08-11 11:20] daminisatya commented on #767
@Orbiter @smokingwheels along with TTS, it would be cool to have STT too !

[2016-08-11 11:39] Orbiter commented on #767
Using the classification as developed above as declaration elements in rules would give us the opportunity to compute a score automatically. Lets see what we need for that:

- ```purpose: {answer, question, reply}``` purpose would have to be defined
- ```pattern: {false, true}``` with/without pattern could be computed from the rule string
- ```prior: {false, true}``` overruling (prior=true) or def

[2016-08-11 15:22] #342 closed

[2016-08-11 15:22] jig08 opened #813 "Registering missing servelets in loklakserver.java"
It has been observed that many services which have been successfully implemented as console services are not registered individually in `loklakserver.java`

- [ ] Github Profile Scraper
- [ ] Wordpress Scraper
- [ ] Instagram Scraper
- [x] RSS Reader
- [x] Event Brite Scraper
- [ ] Wiki Geo Data Provider
- [ ] Location Wise Time Provider
- [ ] Time an Date Service
- [x] Meetups Scraper

[2016-08-11 15:30] jig08 commented on #342
@Orbiter Implemented :)

[2016-08-11 17:45] shivenmian commented on #813
Er, they are there on loklakserver.java. look closely

[2016-08-11 17:54] jig08 commented on #813
@shivenmian Where to look closely ?

[2016-08-11 17:56] shivenmian commented on #813
Check lines 490-526 and 535-593 in https://github.com/loklak/loklak_server/blob/development/src/org/loklak/LoklakServer.java. Servlets are registered here.

[2016-08-11 17:58] jig08 commented on #813
@shivenmian I dont see any `servletHandler.addServlet(..)` for them

[2016-08-11 17:59] shivenmian commented on #813
Check lines 527-532, they are added in a loop.

[2016-08-11 18:00] jig08 commented on #813
Also, adding them in `Class<? extends Servlet>[] services = new Class[]{...}` is left, which I am pushing in the next commit.

[2016-08-11 18:01] shivenmian commented on #813
No you're doing it wrong.

[2016-08-11 18:02] shivenmian commented on #813
Just add the 5 remaining servlets on the list inside the Class extends servlet and you are done.

[2016-08-11 18:02] jig08 commented on #813
@shivenmian
[code]

I get the point that they are being added in the loop. But I guess I need to add them in the list of `services` at least ?

[2016-08-11 18:03] jig08 commented on #813
@shivenmian That's what I meant, rectifying in the next commit.

[2016-08-11 18:03] shivenmian commented on #813
490-526 exactly is the list of services. Just add them there.

[2016-08-11 18:03] jig08 commented on #813
@shivenmian Got that already :)
Thanks.

[2016-08-11 18:09] jig08 commented on #813
@shivenmian A new PR has been opened https://github.com/loklak/loklak_server/pull/815/files

[2016-08-11 18:25] #813 closed

[2016-08-11 18:39] jig08 opened #816 "Inclusion of new rules in SUSI"
With respect to new services like that of _Instagram Profile Scraper_, _Location Wise Time Provider_ and _Wiki Geo Tagged Article Provider_ included in *Loklak*, there should be corresponding rules added in *SUSI* to expand her scope

[2016-08-11 18:41] jig08 commented on #751
_Updates:_

* Pushing of Data Implemented using the DAOWrapper
* Retrieval of Data to be tested
* Overall testing left

@DengYiping Is helping out to do the needful.

[2016-08-11 18:42] jig08 commented on #344
@sudheesh001 updates on this ?

[2016-08-11 18:43] jig08 commented on #50
@Orbiter I am still not clear about this issue, any updates pls.

[2016-08-11 18:45] #743 closed

[2016-08-11 18:46] jig08 commented on #743
Closing this issue as the console service for this is no longer required, apparently :)

@daminisatya :v:

[2016-08-12 04:01] DengYiping opened #817 "Open Loklak in a non-deamon mode"
Loklak is by default running on the background, and use log4j to do logging. However, if we could bring it to the front, and print the log directly, we will be able to use something like `docker logs`, and debugging will be easier.

[2016-08-12 04:17] DengYiping opened #818 "Add DAO mock for testing"
Right now me and @jig08 are developing scrapers. I implemented a DAO wrapper, which allows us to send non-Twitter data to backend.

 However, DAOWrapper do not have <b>any test because we cannot use DAO without startup.</b> Maybe considering adding a DAO mock class to the test folder, so that we could write unit test and do continuous integration.

[2016-08-12 04:22] smokingwheels commented on #785
@sudheesh001 What is CLI ?

[2016-08-12 04:25] jig08 commented on #785
@smokingwheels CLI is Command Line Interface or the Terminal

[2016-08-12 04:36] smokingwheels commented on #785
@jig08 Maybe I should re phrase the error. Many Thanks.

[2016-08-12 04:45] jig08 commented on #785
@smokingwheels Yes, it might help.

[2016-08-12 07:54] sudheesh001 commented on #785
So the encoding issue seems more to be fixable with the `file.encoding`. Can you try setting
`JAVA_OPTS='-Xmx384m -Xss512k -XX:+UseCompressedOops -Dfile.encoding=UTF-8'`
or
`JAVA_TOOL_OPTIONS='-Dfile.encoding=UTF-8'`

[2016-08-12 08:02] smokingwheels commented on #785
@sudheesh001 Ok so I will Delete and Clone again and try to reproduce Error, then add changes as you suggest.

[2016-08-12 09:19] sudheesh001 commented on #785
Any luck ?

[2016-08-12 15:52] jig08 commented on #818
+1.

Yes, there have been prevelant issues of testing the users's presence for instance.

@Orbiter Any help,  pls?

PS: Follow up of Issue #751

[2016-08-13 05:43] #807 closed

[2016-08-13 09:36] Orbiter commented on #613
I don't have  recommendation here because I don't know JSoup

[2016-08-13 09:49] Orbiter commented on #786
I don't understand what you need exactly when asking do be more generic. In this example the key shoud denote the word "president" where it currently contains the value "country". That is simply an error in the rule definition.

[2016-08-13 09:49] #786 closed

[2016-08-13 09:50] Orbiter commented on #448
Please implement this.

[2016-08-13 20:30] smokingwheels commented on #785
@sudheesh001
Its something about Uppercase Strings in java.
I added a system setting to system properties like you suggested and it compiled.
 [See](http://stackoverflow.com/questions/361975/setting-the-default-java-character-encoding)
  [javac] f:\loklak_server\src\org\loklak\api\search\WeiboUserInfo.java:88: er
ror: unmappable character for encoding Cp1252
    [javac]

[2016-08-13 20:53] smokingwheels commented on #785
Updated Wiki 32 Bit but Loklak wont start.

[2016-08-13 21:19] smokingwheels opened #821 "Console Errors when Loklak is running in Windows."
Errors when starting and running in Windows.

Possible solution [Here](http://stackoverflow.com/questions/7896773/instantiationexception-on-simple-reflective-call-to-newinstance-on-a-class) Not sure though.
`<Picked up JAVA_TOOL_OPTIONS: '-Dfile.encoding=UTF-8'
ERROR StatusLogger No log4j2 configuration file found. Using default configurati
on: logging only errors to the console.
java.lang.Instant

[2016-08-14 11:18] sudheesh001 commented on #344
This is pretty vague, i've been facing failures on the searches continuously and have been hitting blank endpoints.
<img width="1440" alt="screen shot 2016-08-14 at 4 48 13 pm" src="https://cloud.githubusercontent.com/assets/4545925/17648765/ef173144-623e-11e6-888f-cce820d01404.png">

Can you give this a shot @jig08

[2016-08-14 15:37] sudheesh001 commented on #786
@Orbiter I think @daminisatya was referring to
[code]
As you mentioned correctly, the `key` will change from `president` to `country` or depending on context, but the data set passed for charting visualizations so that we can leverage the library needs data in a `name` and `y` format thus requiring as
[code]
and as mentioned the `"key":"president"` so that we can pull the information to display as

[2016-08-14 22:12] #816 closed

[2016-08-14 22:18] jig08 opened #822 "Update AskSUSI document"
Adding new sample queries in [docs/AskSUSI.md](https://github.com/loklak/loklak_server/blob/development/docs/AskSUSI.md) whose rules have already been added in [conf/susi/susi_cognition_000.json](https://github.com/loklak/loklak_server/blob/development/conf/susi/susi_cognition_000.json) related to new services like that of _Instagram Profile Scraper_, _Location Wise Time Provider_ and _Wiki Geo Ta

[2016-08-15 03:59] #822 closed

[2016-08-15 06:53] Orbiter commented on #786
I still don't see any requirement for implementation changes. The 'percent' key name can also be changed in the rule using a different percent name assignment in the console query.

[2016-08-15 06:54] Orbiter commented on #786
However, the piechart must have that flexibility, not the rule. The rule fully declares what should be shown in the piechart.

[2016-08-15 10:03] smokingwheels commented on #808
@shivenmian There is a lot of terms and conditions that come with it.

[2016-08-15 10:31] smokingwheels commented on #808
Is this What you are looking for?[
Here](http://techslides.com/over-2000-d3-js-examples-and-demos)
Bubble visualisation of any web page [Here](http://www.infocaptor.com/bubble-my-page?url=http://loklak.org)

[2016-08-15 10:34] #723 closed

[2016-08-15 10:43] #274 closed

[2016-08-15 18:17] smokingwheels opened #824 "Have the option not to compress the Dump Files or Store both."
No rush.
I may want to have my server up to date but for processing the dumps I may want them uncompressed.
Storing both compressed and uncompressed could also be an option.
Open to comments.

[2016-08-15 19:09] jig08 opened #825 "Console Service to scrape Quora User Profile"
Implementing a Console Service to scrape **Quora User Profile**

[2016-08-16 15:34] treba123 commented on #448
Alright, will work on it tomorrow

[2016-08-17 10:34] treba123 commented on #175
Oh never mind, I got this wrong. That is clearly by design. The bug report was about characters that are not allowed unescaped. Will recheck if this still persists.

[2016-08-17 10:49] treba123 commented on #448
Alright, so from what I understand, there is a standard for signing json objects called [jose](http://jose.readthedocs.io/en/latest/), but it is much much bigger than what we actually need.

So for now I will implement a much simpler method which can directly used without interfering with any other loklak component.
It will as simple as adding a `signature` field to the object, which contains a si

[2016-08-17 13:01] treba123 commented on #448
Implementation here: https://github.com/treba123/loklak_server/commits/signatures
Needs some more testing if the signature stays valid under various circumstances.

@Orbiter should I add this to the timelines? The creation of signatures and the verification?

[2016-08-17 17:30] Orbiter commented on #448
Is there a lot of computation required, or space? If not, give it a try.

[2016-08-17 17:30] Orbiter commented on #448
Is there a lot of computation required, or space? If not, give it a try.

[2016-08-19 05:10] JeremyRand opened #828 "RSS feeds missing channel elements "description" and "link""
RSS feeds from Loklak don't seem to be valid RSS, according to the W3C Feed Validation Service.  For example, see the following validation result: https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Floklak.org%2Fapi%2Fsearch.rss%3Fq%3Dfrom%3Ayacy_search

It shows the following 2 errors:

[code]

I believe, but am not certain, that this is responsible for the feeds being rejected by Icedove.

[2016-08-19 17:29] #345 closed

[2016-08-19 18:51] #750 closed

[2016-08-19 19:08] shivenmian commented on #750
@mariobehling fixed in #800

[2016-08-19 19:40] shivenmian opened #830 "Add rules for Amazon API to implement monetisation"
@mariobehling We need to add Susi rules to Amazon API. The API gives links which use our associate tag. Once a user goes on those links, we get paid for it. So we need to add rules.

[2016-08-19 19:43] shivenmian commented on #488
I think this is already in place because of Susi, we just need to add Susi to the homepage + other things probably.

[2016-08-20 18:36] sudheesh001 commented on #598
Implemented with boilerpipe library for NLP

[2016-08-20 18:36] #598 closed

[2016-08-21 07:15] daminisatya commented on #791
https://github.com/loklak/loklak_server/pull/831
The issue is resolved by using an NLP analysis based extractor(Boilerpipe) which is quite generic.

[2016-08-21 07:15] #791 closed

[2016-08-21 07:16] daminisatya commented on #804
The model of the scraper is being changed by using the boilerpipe jar.
https://github.com/loklak/loklak_server/pull/831

[2016-08-21 07:16] #804 closed

[2016-08-21 18:49] #825 closed

[2016-08-21 18:53] jig08 opened #833 "Add new rules to SUSI for Quora Profile Scraper"

[2016-08-22 02:36] #833 closed

[2016-08-22 13:53] jig08 opened #835 "Add sample queries in AskSUSI document wrt Quora Profile Scraper"
Adding new sample queries in [docs/AskSUSI.md](https://github.com/loklak/loklak_server/blob/development/docs/AskSUSI.md) whose rules have already been added in [conf/susi/susi_cognition_000.json](https://github.com/loklak/loklak_server/blob/development/conf/susi/susi_cognition_000.json) related to _Quora Profile Scraper_

[2016-08-22 17:47] sudheesh001 opened #838 "Implement additional NLP parsers functionality from boilerpipe for genericscraper"

[2016-08-22 17:48] daminisatya commented on #838
+1

[2016-08-24 13:50] treba123 commented on #448
https://github.com/loklak/loklak_server/pull/837

[2016-08-24 13:50] #448 closed

[2016-08-24 13:53] treba123 commented on #175
Didn't encounter any issues regarding wrong encoding.

[2016-08-24 13:53] #175 closed

[2016-08-24 15:39] #835 closed

[2016-08-26 05:28] sudheesh001 commented on #560
Implemented [loklak/loklak_IBM_Home_Automation](https://github.com/loklak/loklak_IBM_Home_Automation)

[2016-08-26 05:28] #560 closed

[2016-08-27 09:59] Orbiter commented on #681
the table answer must now have another json object in the actions: a list of columns.

[2016-08-27 10:13] daminisatya commented on #681
@Orbiter Cool. Will check out the sample JSON. and update asksusi.

[2016-08-27 12:03] Orbiter commented on #681
Oh great! That columns list must be there because the result data table may also contain more attributes from a process I called 'mindmeld'.

[2016-08-29 14:52] #517 closed

[2016-08-29 20:58] jig08 commented on #818
@Orbiter Help required, pls.

[2016-09-09 20:06] frankenstein91 opened #842 "Please update Elasticsearch"
The newest version of kibana requires Elasticsearch 2.4.0, please update.

At the moment it is Elasticsearch v2.3.5.

Thank you

![error](https://cloud.githubusercontent.com/assets/2527348/18401175/7c843744-76d9-11e6-9854-0d3da9adbe2c.PNG)

[2016-09-09 20:47] frankenstein91 commented on #842
i also can't connect with elasticsearch-head.
No error shown.

[2016-09-09 20:48] MisterX2000 commented on #842
Same problem here

[2016-09-11 13:30] Orbiter commented on #842
https://github.com/loklak/loklak_server/commit/fe7bd2a8b9852ee64b9699b8927a3c775e68c4fe

[2016-09-11 13:30] #842 closed

[2016-09-17 02:07] DengYiping commented on #805
Please close this issue.

[2016-09-17 05:22] #805 closed

[2016-09-18 04:55] DengYiping commented on #225
This issue is still pending here, any update? Need any help? @Orbiter

[2016-09-18 15:43] Orbiter commented on #519
implemented

[2016-09-18 15:43] #519 closed

[2016-09-18 15:44] Orbiter commented on #362
must be implemented in https://github.com/fossasia/susi_server/

[2016-09-18 15:50] Orbiter commented on #809
this idea is deprecated in the context of loklak_server. https://github.com/fossasia/susi_server/ shall implement an opensearch result writer, then Susi is able to be the query parser for loklak

[2016-09-18 15:50] #809 closed

[2016-09-25 15:06] AdiChat commented on #828
This issue could be closed as #845 has taken care of this.
@shivenmian

[2016-09-25 20:07] #828 closed

[2016-10-04 08:32] sudheesh001 commented on #785
Reopening, fails to start the loklak server on a fresh install.

[2016-10-15 14:11] #830 closed

[2016-10-15 14:12] #728 closed

[2016-10-15 14:12] #717 closed

[2016-10-15 14:14] #493 closed

[2016-10-15 14:14] #741 closed

[2016-10-15 14:15] mariobehling commented on #32
Closing this issue due to inactivity. Please reopen, when it becomes relevant again.

[2016-10-15 14:15] #32 closed

[2016-10-15 14:16] mariobehling commented on #38
Closing this issue due to inactivity. Please reopen, when it becomes relevant again.

[2016-10-15 14:16] #38 closed

[2016-10-15 14:16] mariobehling commented on #49
Closing this issue due to inactivity. Please reopen, when it becomes relevant again.

[2016-10-15 14:16] #49 closed

[2016-10-15 14:18] mariobehling commented on #54
As we are following a different approach, this issue should be reformulated following the latest architecture. Closing this issue therefore due to inactivity. Please open new issues, when issue becomes relevant.

[2016-10-15 14:18] #54 closed

[2016-10-15 14:20] mariobehling commented on #81
Closing this issue as this is not a focus atm. Please reopen, when it becomes relevant again.

[2016-10-15 14:20] #81 closed

[2016-10-15 14:23] mariobehling commented on #105
As loklak_search will take care of the front end, I am closing this.

[2016-10-15 14:23] #105 closed

[2016-10-15 14:28] mariobehling commented on #225
@DengYiping Please make a pull request, if possible.

[2016-10-15 14:28] mariobehling commented on #248
As the code basis has changed a lot since the reported error, I am closing this.

[2016-10-15 14:28] #248 closed

[2016-10-15 14:29] mariobehling commented on #251
Closing this issue due to inactivity. Please reopen, when it becomes relevant again.

[2016-10-15 14:31] mariobehling commented on #363
Basic accounting is implemented, but the plan is to separate the accounting system. So, I am closing this issue.

[2016-10-15 14:31] #363 closed

[2016-10-15 14:33] mariobehling commented on #767
As we split the Susi project I am closing this issue.

[2016-10-15 14:33] #767 closed

[2016-10-15 14:34] mariobehling commented on #575
Closing this issue.

[2016-10-15 14:34] #575 closed

[2016-10-15 14:34] mariobehling commented on #488
This will be taken care of from the new loklak_search client.

[2016-10-15 14:34] #488 closed

[2016-10-15 14:36] mariobehling commented on #452
Apps will be part of the loklak_search client and not in the server anymore.

[2016-10-15 14:36] #452 closed

[2016-10-15 14:38] mariobehling commented on #504
This is a great idea, but should be implemented in an external app. Loklak server can provide the data.

[2016-10-15 14:38] #504 closed

[2016-10-15 14:39] #748 closed

[2016-10-15 14:41] #491 closed

[2016-10-15 15:06] mariobehling commented on #838
It seems to be related to Susi. Otherwise reopen and provide more details.

[2016-10-15 15:06] #838 closed

[2016-10-16 22:50] mariobehling opened #846 "Propose alternatives to live queries to reduce load on server and increase result speed."
Currently we query loklak for results live. This works well, if there is little load on the server, but also here results are not always superfast.

How can we speed up the result output? What about high load? What options do we have?
- Is there a way to cache common requests
- Could we make something like an index available instead of querying the live system?
  - E.g. we give access to search th

[2016-10-17 14:44] mariobehling opened #847 "How to display results from Youtube"
Currently it seems results are only displayed from Twitter. What is required to display youtube results?

[2016-10-17 20:10] mariobehling opened #848 "Propose and implement configuration options/settings of server as Web UI"
The server has a number of options, but we don't have a web UI where it is implemented. There are also configuration options that could be useful to run a server with limited resources, e.g. restrict the IP addresses that can query the server or control the number of results that are provided by default.

Please implement a UI that offers administrators a UI to control settings like these.
- [ ] M

[2016-10-17 21:09] niccokunzmann opened #849 "Loklak docker image stops"
When I start lokak with

[code]

I get this output with `docker ps -a`:

[code]

To me it looks like the docker image always closes. Can anyone reproduce this?

[2016-10-23 12:58] Orbiter commented on #846
offline-search for specific time ranges in small indexes are already implemented. Example:

```http://loklak.org/api/search.json?timezoneOffset=-120&source=cache&q=potus+since%3Ahour```
searches for "potus" only in the search index which contains only tweets from the last hour.

We have specific small indexes for the time range "hour", "day" and "week". The limitation to the index-only (what you c

[2016-10-23 13:15] mariobehling commented on #846
So, how about we implement this as a standard search in loklak_search and display a message "there are no results yet available, please check back later"?

[2016-10-23 13:29] Orbiter commented on #846
the standard is currently, to search first in hour, then, if no results are found in hour and then in week. That happens if no modifier is given.

Anothen speed up is, to prevent the waiting for cached/internal search results if the remote (twitter) search result is faster. That is the case on loklak.org. The latest fix implents this.

[2016-10-23 13:40] mariobehling commented on #846
Ok, understand.

Currently I get the result of http://loklak.fossasia.org/search?query=potus in about 4-5 seconds only.

[2016-10-29 04:56] sudheesh001 opened #854 "Ant: Include complete lib/ directory for jars instead of manually including jars."
Currently the build consists of a build file with all the jars present in them manually listed.
This causes it to be bulky and creates a lot of errors among new developers because they either forget to add a jar or something similar.

The best thing to do would be to remove the manual listing and include all the jars `**.*.jar` from the directory into the build file.

[2016-10-29 04:57] sudheesh001 opened #855 "Gradle: Include complete lib/ directory for jars instead of manually including jars."
Follow up on https://github.com/loklak/loklak_server/issues/854

Similar for gradle files.

[2016-10-29 09:58] #854 closed

[2016-10-30 13:45] sudheesh001 commented on #785
It still seems like adding `-Dfile.encoding=UTF-8` seems to fix it, Also we really need to give those Weibo scrapers another rewrite.

[2016-10-30 13:45] #785 closed

[2016-10-30 16:58] Ceilican opened #857 "CashTags"
It would be nice if the JSON result showed metadata about the [cashtags](http://money.cnn.com/2012/07/31/technology/twitter-cashtag/) that appear in the tweet, analogously to how it shows hashtag metadata.

Moreover, in addition to the six emotions that you extract by sentiment analysis, a "buy/sell" sentiment about stocks could be extracted for tweets that contain cashtags.

PS: I'm the person wh

[2016-11-01 11:08] sudheesh001 commented on #821
@smokingwheels I did a fresh install on a windows 10 system and it seems to be working fine. Just in case, can you do the following, generate the jar for loklak and execute the jar.
[code]

Does this still throw an error for you ?

[2016-11-03 10:28] mariobehling opened #858 "Search should include account names with search term just like twitter"
Search for "mariobehling" only includes results of other accounts, but not of the account with the name "mariobehling" itself. The twitter search includes these results.

Expected behavior: Results of account name should be included.

Test at: http://api.loklak.org/api/search.json?timezoneOffset=-480&q=mariobehling

[2016-11-04 11:25] smokingwheels commented on #821
Ok will give it a go in a few weeks, many thanks.

[2016-11-04 20:16] mariobehling opened #859 "Hide shortener URL"
The shortened URL of the loklak server currently shows something like loklak.org/someURL.

It should rather display the target URL.

If it is longer than 22 characters it should show the 20 characters an 2 dots "..".

The link should be the loklak URL shortener, but the displayed URL should be the target URL.

[2016-11-04 20:23] mariobehling commented on #849
@niccokunzmann The build is failing.

On dockerhub it shows: Build failed: The command '/bin/sh -c ant' returned a non-zero code: 1

I have invited you to dockerhub. Please help to resolve this issue.

[2016-11-04 20:35] mariobehling opened #860 "Build failing on Heroku"
Some recent changes have resulted in failed builds at heroku: https://loklak-server-dev.herokuapp.com/

Please ensure it works again.

[2016-11-04 21:52] mariobehling commented on #821
Thanks. Closing this for now then. @smokingwheels Please reopen if issue persists later. Cheers.

[2016-11-04 21:52] #821 closed

[2016-11-05 22:36] niccokunzmann commented on #849
@mariobehling my name on dockerhub is niccokunzmann. Currently, I do not have administrative access to [https://hub.docker.com/r/mariobehling/loklak/](mariobehling/loklak).

[2016-11-06 09:11] niccokunzmann commented on #817
To use `docker logs`, we can use `tail -f data/loklak.log` to monitor the log and let it look like it runs in foreground.

Once #861 is merged, I want to do this.

[2016-11-11 08:58] #849 closed

[2016-11-11 23:49] niccokunzmann opened #863 "Update Docker Documentation"
TODO:
- update the documentation for where the docker file is located
    - in [installation_docker.md](https://github.com/loklak/loklak_server/blob/development/docs/installation_docker.md) and in README.md
        - [ ] Bluemix
        - [ ] Amazon AWS
        - [ ] google cloud
        - [ ] DigitalOcean
        - [ ] add automatically built image: mariobehling/loklak:latest
        - [ ] add ho

[2016-11-12 00:00] niccokunzmann commented on #863
@sudheesh001 do you see any other locations where we need a documentation update?

[2016-11-13 03:29] sudheesh001 commented on #863
No I think this looks great.

[2016-11-14 09:00] DengYiping commented on #817
@niccokunzmann  Great suggestion. Please add a new Dockerfile and shell script to do so

[2016-11-14 09:01] DengYiping commented on #225
@mariobehling I will do so.

[2016-11-14 14:38] sudheesh001 opened #864 "Github issue creation template"
Include the github issue creation template for loklak_server

[2016-11-14 14:38] sudheesh001 opened #865 "Github pull request template"

[2016-11-14 15:55] #864 closed

[2016-11-14 15:55] #865 closed

[2016-11-16 14:36] niccokunzmann commented on #817
@DengYiping Have a look at #867. It enables `docker logs`. Does it close the issue?
@sudheesh001 Suggests that I create a commit which closes this issue.
I am not sure.

[2016-11-18 13:05] niccokunzmann commented on #863
@sudheesh001 I read through all the documentation. It works so far.
The only thing left, as I see it, is #868 - updating the docker-compose.yml file.

[2016-11-25 21:49] Orbiter commented on #859
implemented with https://github.com/loklak/loklak_server/commit/427a88800878082699e1106ea0aee009c7479e53
and
https://github.com/loklak/loklak_server/commit/928ec1552efc735088b60fc274d3af9eca75e26b

front-end iplementation can be done with https://github.com/fossasia/loklak_search/issues/108

[2016-11-25 21:49] #859 closed

[2016-11-27 12:45] Orbiter commented on #858
implemented with https://github.com/loklak/loklak_server/commit/df57ae5324f995ecf9ebac2966491ca6dd40e262

[2016-11-27 12:45] #858 closed

[2016-11-27 12:46] Orbiter commented on #857
this is a good idea and I hope to implement that soon

[2016-11-27 20:17] Ceilican commented on #857
Great!

[2016-11-28 22:31] yukiisbored opened #870 "Declaration of project names on Gradle"
The name of the project should be declared inside `settings.gradle`. The reason for this is the fact if it doesn't exist, Gradle will assume the folder as the name of the project. To ensure the generated JAR files are named as the absolute project name (which is `loklak_server`), It is mandatory to declare the project name inside `settings.gradle`.

The usual reason why people will rename the fold

[2016-11-28 22:31] yukiisbored opened #871 "Declare source compability to 1.8 for Gradle"
Java has this feature where you can declare the minimum required version needed to run a Java application. This should be declared by the developers. The other reason is to tell the IDE to use 1.8 because usually IDEs assumes you want to use 1.5/1.6 which can cause a ton of errors.

This should be declared in `build.gradle` to tell Gradle that this source is made for 1.8 and should be run with 1.8

[2016-11-30 04:57] yukiisbored opened #873 "Add Gradle generated classes to classpath for start/stop scripts"
The start/stop scripts on Loklak doesn't use Gradle generated classes at all. It only uses the ones generated by Ant. Gradle generated classes should be added because not everyone have Ant or want to use it.

[2016-12-01 10:59] niccokunzmann opened #874 "Add Loklak Google Code-In task - Programming"
- Issue type: Feature request

### Short description
Currently, we are running the Google Code-In Contest.
There are [tasks for Loklak](https://codein.withgoogle.com/tasks/?sp-organization=6707477701722112&sp-search=loklak) but no development task.

### Expected behaviour
- [ ] I would like to see some issues tagged as GCI here on the loklak Issue tracker.
- [ ] I would like to see a task for lokl

[2016-12-07 03:23] mariobehling opened #875 "Document how to switch to "aggressive mode""
It is possible to increase the number of collected tweets without getting blocked if you are using cloud services.

Please document how to switch to aggressive mode in the Readme.md.

[2016-12-07 03:26] mariobehling opened #876 "Implement a settings page for loklak"
There are a number of configuration options for loklak. These are not shown in the UI yet. Please implement a settings page at "http://loklak.org/settings" to show the configuration.

Configurations are stored in the folder /conf. Please use these for the settings. (https://github.com/loklak/loklak_server/tree/development/conf)

The next step after this issue will be to make the settings editable

[2016-12-07 03:32] smokingwheels commented on #875
I would rather deploy lots of Front Ends to avoid the problem.

[2016-12-07 03:46] mariobehling commented on #848
duplicate.

[2016-12-07 03:46] #848 closed

[2016-12-07 03:47] mariobehling commented on #824
Sorry, but this seems out of scope right now given the available developers.

[2016-12-07 03:47] #824 closed

[2016-12-07 03:49] mariobehling commented on #803
Apps should go into a separate repository to keep the server set up neat. Therefore closing it.

[2016-12-07 03:49] #803 closed

[2016-12-08 08:40] yukiisbored commented on #855
May I work on this?

[2016-12-08 11:27] jayvdb commented on #871
Note this is solved by https://github.com/loklak/loklak_server/pull/851 . I presume that makes it ineligible for GCI .  (I'm still seeking clarification regarding prior work for a different org at https://www.mediawiki.org/wiki/Talk:Google_Code-in_2016/Mentors )

[2016-12-08 11:29] jayvdb commented on #873
Note this is solved by https://github.com/loklak/loklak_server/pull/852 . I presume that makes it ineligible for GCI due to anti-plagiarism rules at least. (I'm still seeking clarification regarding prior work for a different org at https://www.mediawiki.org/wiki/Talk:Google_Code-in_2016/Mentors )

[2016-12-08 11:29] jayvdb commented on #870
Note this is solved by https://github.com/loklak/loklak_server/pull/850 . I presume that makes it ineligible for GCI due to anti-plagiarism rules at least. (I'm still seeking clarification regarding prior work for a different org at https://www.mediawiki.org/wiki/Talk:Google_Code-in_2016/Mentors )

[2016-12-08 12:17] #870 closed

[2016-12-08 12:17] #817 closed

[2016-12-08 12:30] jayvdb commented on #871
@mariobehling , why was this issue closed?

[2016-12-08 13:26] mariobehling commented on #871
Sorry, by mistake. I just read it "is solved". So, what are the next steps here?

[2016-12-09 02:45] jayvdb commented on #871
@mariobehling , re-open and merge #851 ?
If you want , after re-opening the pull request, the commit can be amended so that this issue number can be added to the commit body, to comply with the recently added rules.

[2016-12-09 03:14] #871 closed

[2016-12-09 08:29] yukiisbored opened #878 "Gradle: Declare source set instead of using scripts"
Currently Loklak uses scripts to move the current source folder to Gradle's default. Gradle has a feature to declare the source folder (aka source sets in Gradle). The problem with using scripts is making the feature to add the project via cloning that most IDEs has impossible and problematic.

[2016-12-09 08:56] mariobehling commented on #874
@niccokunzmann I have added more tasks and specifically this one: https://codein.withgoogle.com/tasks/6036955466825728/

Regarding tagging things GCI: In my mind all tasks are open to GCI students, but you can tag them anyways, if you like.

[2016-12-09 08:56] #874 closed

[2016-12-09 09:20] #878 closed

[2016-12-09 09:52] yukiisbored opened #880 "Gradle: Generate Uber Jar/Fat Jar"
Currently Loklak doesn't have any form of binary distribution thus making the Docker image quite large. To decrease the size of running loklak and making it easier to run, It's a good idea to generate a Uber Jar/Fat Jar (JAR file with dependencies). The reason why Gradle is used is because Ant is lacking features such as merging service files which is required for running the JAR file without prob

[2016-12-09 09:55] yukiisbored opened #881 "Gradle: Use dependencies from remote repositories"
Currently loklak repository is quite large and it's a pretty big hurdle for other developers who has limited internet access. To decrease it, It's a good idea to grab dependencies from remote repositories than having it included with the repository. Git also cannot handle binary files that well.

This issue requires https://github.com/loklak/loklak_server/issues/880 in order to run loklak.

[2016-12-09 09:58] yukiisbored opened #882 "Gradle: Add tasks to start/stop/setup Loklak"
In Gradle, You can define tasks that's able to do a lot of things which includes starting the project itself. It's pretty neat to have start/stop/setup within the build.gradle file. With this setup you run loklak just by executing `gradle start`, If you have the source code. It also makes it handy for some Java IDEs that supports executing gradle tasks.

[2016-12-09 10:01] yukiisbored opened #883 "Gradle: Add Unit Testing"
Loklak has a couple of classes that are JUnit Test cases. Gradle has a feature to run unit testing and support for JUnit. It's a good idea to use it for testing the project and PRs.

[2016-12-11 08:49] #873 closed

[2016-12-12 04:26] yukiisbored opened #886 "Decrease redundant/duplicate code on scripts"
Loklak has a number of scripts that have redundant/duplicate code on the scripts. This decreases maintainability. The solution to do this is to separate the same instructions to it's own script and run them via the `source` instruction.

[2016-12-13 09:07] niccokunzmann opened #888 "Allow websites to find available loklak instances"
- Issue type: Feature request

### Short description
Help websites find out which loklak instances run and are available

### Expected behaviour
Loklak is a distributed application, also hosted by the community. Not every loklak server may be available all the time. Websites should be able to function nonetheless.

### Actual behaviour
However, websites tend to hard-code the loklak instance they u

[2016-12-15 22:43] #886 closed

[2016-12-16 09:40] mariobehling opened #890 "Add documentation for pagination"
Documentation pending in loklak_server as mentioned here: https://github.com/fossasia/loklak_search/issues/41#issuecomment-258678931

Changes need to roll out for pagination support in all the SDK Wrappers on Python, Ruby, PHP and Go

pagination is now implemented, for query parameters the SRU 2.0 standard was implemented.
See https://github.com/loklak/loklak_server/commit/92f8fe33006f8083412803f3

[2016-12-16 11:12] yukiisbored opened #891 "Minimize Docker Image"
The size of the docker image for loklak_server is pretty large. The size is `752 MB` and that's quite large. What we can do to minimize it is to remove the source code (and other unnecessary stuff) after it's compiled and use a minimal Linux distribution as the base (like Alpine Linux)

[2016-12-16 13:55] niccokunzmann commented on #891
We can squash installation steps, that add packages and remove the cached packages.
Also, the question is if we need ant, we we switch of the compiling - this will be even smaller.

I suggest, we create a new Dockerfile for this and test it out.

[2016-12-18 08:50] niccokunzmann commented on #891
We can still minimize the image much more. If we turn of the auto-updating, we can create the files with ant and remove almost all installations.
Also, we can use Alpine Linux as described.

[2016-12-18 08:50] #891 closed

[2016-12-18 08:53] niccokunzmann opened #893 "Create Alpine Linux Docker File"
Resulted from #891.

Using Ubuntu as a basis for the docker image makes it larger. Maybe we do not need the whole Ubuntu. There is an Alpine Linux available which is very small.

Task: Use a smaller Linux as a  basis and create a new docker file. If it does not work with any of the small Linuxes, please tell.

[2016-12-18 08:57] niccokunzmann opened #894 "Minimize Docker Image: uninstall useless software"
Resulted from #891.

It is possible to put all software installation into one line like this:

[code]

And uninstall all installed software in the last commands.

Task: reduce the image size by adding and removing the software in one step which is only required for installation purposes.

[2016-12-18 09:58] mariobehling opened #895 "Generate a documentation site from the md files in a gh-pages branch"
The idea is to have one stop resource for loklak tech questions at http://dev.loklak.org

Please autogenerate a simple documentation site on each new commit in the gh-pages branch.

There is already a site documenting java classes here http://loklak.github.io/loklak_server/

What is the best option to put the documentation together in one place?

[2016-12-18 10:28] adarsh-ideal commented on #895
@mariobehling Yeah sure! I I'll do this.

[2016-12-18 13:54] gaeun commented on #888
Could I work on this? It seems like the issue on the GCI website was solved, but other websites might still rely on https.

[2016-12-18 16:31] adarsh-ideal commented on #895
@mariobehling Completed the documentation site.

[2016-12-20 14:31] yukiisbored opened #897 "Add Gradle Wrapper"
Having gradle wrapper inside loklak_server really helps user who doesn't have `ant` or `gradle` installed on their machine. Because, gradle wrapper runs a local version of gradle without having to install it. So for users who just want to use and run loklak can do it easily without having the hassle of installing `ant` or `gradle`.

[2016-12-21 07:26] BrainBuzzer commented on #876
I am working on this.

[2016-12-23 04:43] yukiisbored commented on #893
Can this be a GCI task, please? I'd love to do this issue, but I already did https://codein.withgoogle.com/dashboard/task-instances/4893210574848000/.

[2016-12-23 10:11] djmgit commented on #876
Hi mario,
I would like to work on this.
So for now, the settings page will just show the various configurarion options available for loklak server, to make the users aware of them, right?

[2016-12-23 10:31] niccokunzmann commented on #893
@yukiisbored I created a more general task which is waiting to be published: https://codein.withgoogle.com/dashboard/tasks/5143294927437824/

[2016-12-23 10:56] mariobehling opened #898 "Ensure html site renders Markdown correctly"
Looking through the html documentation site, e.g. http://loklak.github.io/loklak_server/docs/parsers.html, shows that some Markdown is not rendered correctly, e.g. compare here https://github.com/loklak/loklak_server/blob/development/docs/parsers.md

Please help to solve this issue.

@adarsh-ideal Would you be interested to look into this?

[2016-12-23 11:00] mariobehling opened #899 "Move loklak Architecture outline from website to docs/architecture.md"
We want to keep all loklak developers info in one place. Therefore we need to move the information on http://dev.loklak.org/architecture.html into the repository at docs/architecture.md.

Please ensure a simple markdown is in place.

Once the information is moved, delete the architecture html in the repo and the top links.

[2016-12-23 11:20] mariobehling commented on #895
@adarsh-ideal I think I did not describe the goal entirely correctly. It seems like the site is not auto-generated from the md files in the development branch on each commit. This would be the goal.

Or is it done that way already? Then could you point me to the code that auto-generates it, please?

[2016-12-23 11:24] mariobehling opened #900 "Auto-Generate HTML site on each commit from md files in development branch"
We have got a basic html site that uses md files in the gh-pages branch here http://loklak.github.io/loklak_server/

Please automatically render this page using the md files from the development branch on each commit. You might use travis to trigger this.

Ensure all links work in the rendered site.

[2016-12-23 13:59] mariobehling opened #901 "Move loklak.org download page to docs/download.md"
We want to keep all loklak developers info in one place. Therefore we need to move the information on http://dev.loklak.org/download.html into the repository at docs/download.md.

Please ensure a simple markdown is in place.

Once the information is moved, delete the architecture html in the repo and the top links.

[2016-12-23 14:00] mariobehling opened #902 "Move loklak.org download page to docs/tutorials.md"
We want to keep all loklak developers info in one place. Therefore we need to move the information on http://dev.loklak.org/tutorials.html into the repository at docs/tutorials.md.

Please ensure a simple markdown is in place.

Once the information is moved, delete the architecture html in the repo and the top links.

[2016-12-23 14:04] adarsh-ideal commented on #900
@mariobehling To autogenerate this site from development branch we need to create the site in development branch instead of gh-pages branch ( but github pages supports for master branch, gh-pages branch and master/docs folder to generate sites ). Current site will be updated with each commit on gh-pages branch.

If you want we can, create a documentation site on master branch, but it will be updat

[2016-12-23 15:21] mariobehling commented on #900
Please use travis and an automatic site generator to build the site.

[2016-12-23 15:26] mariobehling commented on #876
@djmgit Yes, correct.

Please query the config options and the status from the config file. Thank you.

[2016-12-23 19:13] niccokunzmann commented on #900
There is also the possibility to use readthedocs: It can build for every branch, usually the docs folder.
It uses Sphinx which has an easy-setup script. Also, it allows linking to code snippets. Many sites use readthedocs. Maybe that is something to look into.

[2016-12-24 08:12] mariobehling commented on #897
Very good idea. Could this also be relevant for the Heroku deployment? Currently it is not working. Would be great, if you could help with it.

[2016-12-24 08:47] mariobehling opened #903 "Fix parsing collection from twitter"
Twitter has changed their website. This causes challenges for the loklak parser and reduces the number of tweets collected. Please adapt the parser to work with the updated design.

Please see the error log below:

[2016-12-24 08:56] yukiisbored commented on #897
@mariobehling Can you give more detail about the heroku deployment, like logs?

[2016-12-25 10:59] Orbiter commented on #903
fixed with https://github.com/loklak/loklak_server/commit/306fb56bfd81a48f2bd854ab5ab0e5b826632efb

[2016-12-25 10:59] #903 closed

[2016-12-25 12:35] adarsh-ideal commented on #900
@mariobehling I'm working on it, will let you know after completing it.

[2016-12-25 13:04] Velociraptor85 opened #906 "Dashboard links incorrect"
- Issue type: Bug report

### Short description
Links in the Dashboard reference to the local server with attached URL.

### Environment
 - Operating system: Linux
 - Software source: github clone

### Steps to reproduce
1. setup like discribed via ant
2. install.sh
3. start.sh
4. look in the WUI and check the Links

### Expected behaviour
Dashboard with URLS correct to the local Server Or directl

[2016-12-25 14:48] yukiisbored commented on #906
I think it should use `/about.html` instead of `http://loklak.org/about.html`. This can be easily fixed, but I'm not quite sure if `/about.html` is their intention.

[2016-12-25 21:03] Velociraptor85 commented on #906
@yukiisbored yap what I thought, its to be fixed in the html/index.html also I am not sure if loklak.net is the correct URL but this might be a different issue

[2016-12-25 23:53] mariobehling commented on #906
@yukiisbored Thanks. Please feel free to fix it. As we are separating documentation, search and other areas, the design will change as well soon. For now a quick fix would be fine as well.

[2016-12-26 09:30] adarsh-ideal commented on #900
@mariobehling  @niccokunzmann Created the site and it also rebuilds after each commit. Also it uses development branch. Check the site: http://loklak-server.readthedocs.io/
It shows all md files, which are inside docs/ folder. But unfortunately, it doesn't show README.md because its in the root folder. We need to put the README.md file inside docs/ folder to show it. Java Docs will be also added a

[2016-12-26 09:36] mariobehling commented on #900
Thank you. Looks good.

How could we adopt Read The docs to a more custom design?

Where are the javadocs?

[2016-12-26 09:53] #897 closed

[2016-12-26 10:40] #906 closed

[2016-12-26 10:40] #893 closed

[2016-12-26 10:46] mariobehling commented on #897
@yukiisbored I have added you to the Heroku app. Please accept the invitation and have a look. The app should be working here https://loklak-server-dev.herokuapp.com/

[2016-12-26 11:29] djmgit commented on #876
@mariobehling How should I query the config.properties file. Is there any api available for this or should I try to parse the file manually by keeping a copy in the html folder?

[2016-12-26 11:38] mariobehling commented on #876
Having a manually parsed page is not a suitable solution. Please propose a solution.

[2016-12-26 11:52] yukiisbored commented on #900
@mariobehling I think it's better to seperate the docs into it's own GitHub repo and we can use `sphinx` to generate the documentation page.

[2016-12-26 12:00] mariobehling commented on #900
@yukiisbored There are many ways that can work somehow. Keeping the documentation with the project is standard in many projects and anyone forking the repo would have everything at hand. We are already following the way to make use of different branches in this project and other FOSSASIA projects, e.g. in Open Event. So, this could be regarded as our best practices.

[2016-12-26 13:51] BrainBuzzer commented on #876
Using regex to do this would be easy. Take the file configuration and pass it through. Using angular or node, this would be quite easy

[2016-12-26 14:12] #860 closed

[2016-12-26 19:51] #901 closed

[2016-12-27 14:48] yukiisbored commented on #876
Hello,
Where should I put the class for `SettingsServet`?
`org.loklak.api.tools`?

[2016-12-27 15:03] yukiisbored commented on #876
Does Loklak have a templating system, like the one on Jekyll?
I can't find it.

[2016-12-27 15:35] yukiisbored commented on #876
@mariobehling Is it okay if I modify `org.loklak.api.admin.SettingsServlet`?
I want to do something like `POST` will handle settings update and SettingServlet will have two context paths (`api/settings.json` and `settings.html`)

[2016-12-27 16:07] yukiisbored commented on #876
Anyway, I'm gonna move this conversation to the gitter room.

[2016-12-27 18:34] fatimarafiqui commented on #902
Can I do this?

[2016-12-28 05:53] jig08 commented on #902
Sure, go ahead.

[2016-12-28 08:07] yukiisbored opened #913 "org.loklak.server.Query isn't working properly for HTTP POST"
It looks like `org.loklak.server.Query` isn't working properly for HTTP POST

**HTTP `GET`**:
`yuki@matsuoka ~ $ curl -X GET -i 'http://loklak.org/api/search.json?q=loklak&source=twitter'`
[code]

**HTTP `POST`**

`yuki@matsuoka ~ $ curl -X POST -i 'http://loklak.org/api/search.json' -d 'q=loklak&source=twitter'`
[code]

I've confirmed the problem is caused by `Query` with this little `Servlet` to

[2016-12-28 08:20] yukiisbored opened #914 "Add support for various Content-Type on Query"
Currently, Query can only parse `application/x-www-form-urlencoded` (even though, it fails `POST` requests. See #913).

It would be nice to add support for `text/xml` and `application/json` to make Loklak's API easier to use with various programming languages.

[2016-12-28 10:39] Marauderer97 opened #915 "Invalid Link"
Clicking on Home,API,Architecture,Tutorials,Apps,Downloads in the nav-bar in loklak.org redirects to an invalid link, and gives the following error
![image](https://cloud.githubusercontent.com/assets/20185076/21519949/cae59f5c-cd16-11e6-9623-bd464a69827b.png)

[2016-12-28 11:35] Marauderer97 commented on #915
I see that this issue has already been reported and corrected in #906 , but only the Blog link works now, the rest still direct me to invalid pages.

[2016-12-28 12:31] yukiisbored commented on #915
@Marauderer97 The Navbar items are defined by `/cms/topmenu.json` HTTP GET, which is handled by `org.loklak.api.cms.TopMenuService`.

I think the problem is caused by `loklak.js`, because If you see the generated navbar items the `href` have an extra `/` at the beginning, this caused the browser to think the content is on the same host.

I'm actually have no idea which line on `loklak.js` causes i

[2016-12-29 13:26] mariobehling opened #919 "Implement an admin role to change the configuration on the settings page"
The settings page already enables changes on localhost. Please also implement the ability of an admin on systems on the Internet.

* [ ] Use the account apps to administer roles
* [ ] Make settings viewable to anonymous users only
* [ ] Make settings editable by admin users
* [ ] Merge the dumps page in the settings page

[2016-12-30 05:12] Abhi2424shek commented on #895
I would like to work on it please

[2016-12-31 11:09] #876 closed

[2017-01-02 08:56] Abhi2424shek commented on #900
Can we have the Travis solution then @mariobehling @adarsh-ideal

[2017-01-02 09:18] mariobehling commented on #900
Sure, travis sounds good.

[2017-01-02 09:24] Abhi2424shek commented on #900
@mariobehling I would do that pls wait...

[2017-01-02 18:09] fatimarafiqui commented on #902
Just to be sure I am deleting html/tutorials.html and removing tutorials.html link from the Top Menu.

[2017-01-02 18:10] fatimarafiqui commented on #899
Can I take this issue?

[2017-01-02 18:26] fatimarafiqui commented on #898
The html link you gave i.e http://loklak.github.io/loklak_server/docs/parsers.html is not working.

[2017-01-02 18:51] adarsh-ideal commented on #898
@mariobehling We are making another documentation site for loklak server which can be auto updated on each commit to the development branch and Abhishek is making use of Travis to get it done.
We talked and he will do it, I am learning all the functionalities of Travis right now.

You can close this issue because this file doesn't exist anymore.

[2017-01-02 18:54] mariobehling commented on #898
@fatimarafiqui @adarsh-ideal Currently Javadocs are rendered in the gh-pages branch on each commit. They overwrote the previous page. I am not seeing how this is done though.

[2017-01-02 19:07] mariobehling opened #921 "Move Javadocs to subfolder on gh-pages"
Javadocs are generated with travis through the script here: https://github.com/loklak/loklak_server/blob/development/.utility/push-javadoc-to-gh-pages.sh

Please change the deployment so, that the docs move into a subfolder "javadocs".

[2017-01-02 19:08] mariobehling commented on #898
Ok, I found it the javadocs are generated through a script. I filed a follow up issue here: https://github.com/loklak/loklak_server/issues/921

[2017-01-02 19:36] fatimarafiqui commented on #921
Can I give it a try?

[2017-01-02 19:54] mariobehling commented on #921
Sure.

[2017-01-02 19:58] #902 closed

[2017-01-03 08:01] #915 closed

[2017-01-03 08:26] mariobehling commented on #919
The account apps were taken out some time ago when we moved the "apps" to http://apps.loklak.org. Please re-add the account apps in order to proceed. Compare to http://apps.loklak.org/#AccountsAPI

[2017-01-03 08:36] mariobehling opened #922 "Move http://loklak.org/api.html to docs/API"
As part of the process to unify documentation, please move http://loklak.org/api.html to docs/API.

[2017-01-03 14:14] yukiisbored commented on #919
Hi @mariobehling, Which GCI task can I do for this?

[2017-01-03 14:19] fatimarafiqui commented on #922
I will do this. Will open a PR shortly.

[2017-01-03 15:21] mariobehling opened #923 "Implement one button deployment to Google Cloud"
We have one button deployments to a number of solutions. Please implement the one-button deployment to Google cloud and add the button to the readme.md.

[2017-01-03 15:29] KukkadapuSushma commented on #923
I want to work on this task! @daminisatya

[2017-01-03 15:30] mariobehling opened #924 "Add Continuous Integration and automatically deploy Master branch to Google Cloud"
Please implement deployment to Google Cloud from Master branch to "test.loklak.org".

Currently the actual loklak.org website is still deployed manually. A better and faster way would be continuous integration with Google cloud. Here is an article with a tutorial: https://cloud.google.com/solutions/continuous-delivery-with-travis-ci

[2017-01-03 15:31] daminisatya commented on #923
@KukkadapuSushma You can work, but for some reason I'm not able to assign a member to this issue.

@mariobehling Please have a look.

[2017-01-03 16:01] mariobehling commented on #923
@KukkadapuSushma I have invited you to loklak friends. Please accept the org invite and we assign you.

@daminisatya Only people who are organization members can be assigned to issues. Please invite people to the friends team as a starter.

[2017-01-03 16:23] daminisatya commented on #923
@mariobehling Sure :D

[2017-01-04 01:54] smokingwheels opened #925 "To be asked a port number as part of the installation process."
- Issue type: Bug report/Feature request

### Short description

Unable to install Loklak because port 9000 is in use by a ThinLinc Server.
The installer is terminated with a blank log file.

### Environment

 - Operating system: Ubuntu 14.04
 - Software version: 64 bit
 - Software source: Cloned today 4-1-17

### Description

Ask a user a question on which port to be mapped to before trying to st

[2017-01-04 05:53] #913 closed

[2017-01-04 10:04] #919 closed

[2017-01-04 10:11] mariobehling opened #928 "Enable Admin Account and Sign up on Heroku deployment"
Currently the sign up on the Heroku test account is disabled. Please enable this.

Also add mariobehling@gmail.com as an admin account.

[2017-01-04 10:19] mariobehling opened #929 "Create a page showing all users and their role for admins"
As loklak will have more features tied to user accounts in future, we need to get features for admins and specifically a users page.

Please create a page listing all users with a link to edit the user accounts for admins.

This page should only be accessible for admins.

[2017-01-04 19:17] #899 closed

[2017-01-04 19:34] mariobehling commented on #900
@Abhi2424shek How is it going?

[2017-01-04 19:41] mariobehling opened #931 "Settings Page: Use same menu bar as on other pages"
The settings page currently uses a different top bar. Please ensure it uses the same menu bar as other pages.

[2017-01-05 02:04] Abhi2424shek commented on #900
@mariobehling just a sec would push a PR today itself...

[2017-01-05 05:41] fatimarafiqui commented on #931
I would like to work on this.

[2017-01-05 14:00] yukiisbored opened #932 "Add missing `ssi` folder to Docker Image"
It looks like the `ssi` folder is missing from the docker image, this is bad because it makes the UI looks pretty bad.

![wwww](https://my.mixtape.moe/czxouc.png)

[2017-01-05 14:08] yukiisbored opened #934 "Establish consistent code style"
Currently the project has inconsistent code styles, it kills maintainability of the project, and makes it harder for everyone to contribute.

The reason to have a single and consistent code style is because:
1. It makes the code easier to read because if everything is using the same style we can read code faster and see the purpose/logic faster without having to read it bit by bit.
2. It's easier

[2017-01-05 14:12] yukiisbored opened #935 "Translate Non-English comments"
Currently most of the Weibo parts of Loklak have comments or documentation that doesn't use English, this is bad because it makes other developers that doesn't understand Chinese harder to maintain.

[2017-01-05 15:34] Heredroky commented on #928
@mariobehling Does it have to be created?

[2017-01-05 15:46] #932 closed

[2017-01-05 16:46] Heredroky commented on #928
@mariobehling Can you please give more information about this task?

[2017-01-05 16:56] fatimarafiqui commented on #929
Can I take this?

[2017-01-05 16:59] jig08 commented on #929
@fatimarafiqui Sure you can, go one step (read: issue) at a time. Resolve the previous one and you can surely have this. Cheers :)

[2017-01-05 18:54] #931 closed

[2017-01-05 18:58] mariobehling opened #938 "Create a logs page"
The server keeps logs, that can be accessed by a server administrator. The goals of this task is to make the logs available on the frontend for logged in admins.

Please implement a logs page that is accessible for admins at /logs.

[2017-01-05 19:00] mariobehling opened #939 "Propose and implement ways to collect more messages"
The current way messages are collected at points is slow. Please propose ways to increase message and tweet collection. Also consider the implementation of an "aggressive mode", that could be switched on/off by an admin.

[2017-01-05 21:47] #924 closed

[2017-01-05 23:19] mariobehling commented on #934
Sounds good.

[2017-01-06 08:56] yukiisbored opened #941 "Missing whitespace between headings on docs/download.md"
There's a missing space between the headings and the text on docs/download.md, this makes it unreadable without it being rendered. The docs should be readable without having it rendered (e.g via the text editor)

[2017-01-06 08:57] yukiisbored opened #942 "Update Docker documentation"
The documentation for using Loklak via docker is outdated, it should be updated because it requires the repository as the context when building it not just the docker folder

[2017-01-06 09:10] yukiisbored opened #945 "Use new encrypted key"
The travis configuration still uses the old key even though a new one is added.

[2017-01-06 09:14] #942 closed

[2017-01-06 09:15] #945 closed

[2017-01-06 09:24] yukiisbored commented on #939
We can start by having multiple "Harvesting strategies", basically have multiple types of ways to do `Harvesting`. It's kinda like a CPU scheduler, but not quite. The reason to have multiple Harvesting strategies instead of just one strategy is because everyone's machine is different. One guy is probably running this on his main computer so we don't Loklak to intefere with his activites and anothe

[2017-01-06 09:29] mariobehling opened #946 "How can Kubernetes help us scaling loklak and running it more reliably? What is the best approach?"
We are using Kubernetes in the eventyay project. How could it help us scaling loklak and running it more reliably? What is the best approach?

[2017-01-06 09:42] yukiisbored opened #948 "Google Cloud Deployment failure caused by wrong file location"
The key location on .travis.yml is wrong, it should be fixed

[2017-01-06 12:04] mariobehling commented on #939
@yukiisbored I think it is not only about the resources of the server, but also about the number of connections to sources like twitter. Services might also block servers that make a lot of requests, but if many requests come from cloud servers, that share IPs e.g. Bluemix, that should not be a problem. So, maybe defining different modes like home mode, laptop mode, server mode and cloud mode coul

[2017-01-06 12:05] #948 closed

[2017-01-06 12:31] yukiisbored opened #951 "Remove Heroku Deploy from Travis"
It's not required anymore because http://loklak-server-dev.herokuapp.com/ is connected to the GitHub repository and it deploys automatically everytime there's a push.

[2017-01-06 14:00] #951 closed

[2017-01-06 14:46] yukiisbored opened #953 "Prevent self-merging pull requests"
Anyway, this issue started to prevent something like https://github.com/loklak/loklak_server/pull/952 from happening again (I **really** regret that). Pull requests should be reviewed by other people and nobody should be allowed from merging their own PRs.

We can utilize something like [rultor](http://www.rultor.com) to do the pull request merging for us instead of using the tempting big green bu

[2017-01-06 14:49] yukiisbored commented on #953
@rultor hello

[2017-01-06 14:50] rultor commented on #953
@yukiisbored Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2017-01-06 15:08] sudheesh001 commented on #946
Will have a look into this. Added to my todo list.

[2017-01-07 14:26] mariobehling opened #954 "Implement the collection of photos and add this feature as an option in the config/settings"
loklak currently does not collect images from its sources.

Please implement the collection and add it as a configurable option, that can be switched on or off in the config/settings.

[2017-01-07 16:49] fatimarafiqui commented on #929
@jig08 @mariobehling I am done with all my previously assigned issues. Now, Can I take this?

[2017-01-07 19:58] #922 closed

[2017-01-07 23:21] mariobehling opened #956 "Propose and implement deployment solution for loklak main server"
The current loklak main server resides on a IBM Bluemix server. The goal is to move it to the Google Cloud system.

[2017-01-07 23:37] Orbiter commented on #956
The current home of the loklak.org server is a two-server system where each of the two servers has four physical disc drives with one terabyte each. With the current index of 1.6 billion tweets the disk state on the host000 (the first the the two servers) is
[code]
On the second server host001 the situation is similar, the second also hosts a full copy of all compressed tweets which takes up 200GB

[2017-01-08 05:58] fatimarafiqui commented on #941
Does this need to be done yet?

[2017-01-08 07:48] yukiisbored opened #957 "Allow having multiple harvesters"
Currently, Loklak only has one Harvester. There a lot of ways or approach to do query collecting, twitter scraping, etc. Since replacing or modifying the original Harvester can cause disagreements, it's better to have multiple so the users can choose.

[2017-01-08 07:56] yukiisbored opened #958 "Add the ability to modify Harvester variables"
Allowing the modification of the Harvester variables can allow the user to tweak it to their usage

[2017-01-08 08:13] yukiisbored opened #959 "Allow to get integer values from config"
Currently DAO.getConfig(...) only has double, long, boolean, and strings. There should an integer value to fill the gap.

[2017-01-08 08:29] yukiisbored opened #961 "Find a way to get more than 20 tweets with TwitterScraper"
Currently, TwitterScraper can only search up to 20 tweets via Twitter's Search page. This is due to the fact Twitter only gives 20 and you can only get more if you run the Javascript code (which we can't).

[2017-01-08 09:09] Orbiter commented on #956
I added the hq-plugin to elasticsearch which enables monitoring of the search cluster. Here are screenshots:
<img width="1230" alt="hq_dash" src="https://cloud.githubusercontent.com/assets/238730/21748650/24b33014-d58a-11e6-9a51-8592daa8c0c4.png">
<img width="1232" alt="hq_diagnostics" src="https://cloud.githubusercontent.com/assets/238730/21748653/2b5697bc-d58a-11e6-8027-2d64268c02f9.png">
<img w

[2017-01-08 12:38] yukiisbored commented on #956
We can use two docker containers and I'm not quite sure how you scale Elastic, is there a way to make it remote?

[2017-01-08 12:51] yukiisbored opened #962 "Alternative Harvester that focuses the usage of the Twitter API"
Currently, the original `Harvester` doesn't use the Twitter API, that's good but what if some people just want it to also utilize Twitter's API (and sacrifice their own API keys) to get more data and share it with others.

This alternative harvester will be made to utilize it and get more data from it whether it'll be queries or meta data without removing or modifying the original Harvester.

[2017-01-08 12:54] yukiisbored opened #963 "Create schema for settings"
Currently how Loklak stores settings is keeping it as a simple java properties file with comments, that's good but what if we want to give Loklak descriptions and the purpose of the options, makes some of the settings viewable by Anonymous users, or to restrict what type it is. What we can do for this is to have a separate JSON file acting as the schema and contains the meta-data for the settings.

[2017-01-08 12:55] yukiisbored commented on #963
This is a follow-up to https://github.com/loklak/loklak_server/pull/960

[2017-01-08 15:02] #941 closed

[2017-01-08 16:24] #957 closed

[2017-01-08 16:24] #959 closed

[2017-01-08 16:24] #962 closed

[2017-01-08 19:53] mariobehling commented on #895
@Abhi2424shek Any updates?

[2017-01-08 20:02] mariobehling opened #964 "Autogenerate html documentation site from docs folder and put javadocs in subfolder"
Currently on each pull request there are javadocs automatically generated and everything gets deleted on the gh-pages branch.

Expected:

* [ ] Create a site in dev.loklak.org (gh-pages branch)
* [ ] Generate a site automatically from the /docs folders in the development branch
* [ ] Add the javadocs into the subfolder -> change the script that is used to generate the javadocs here: https://github

[2017-01-08 20:02] mariobehling commented on #900
Closing this issue in favor of https://github.com/loklak/loklak_server/issues/964

[2017-01-08 20:02] #900 closed

[2017-01-08 20:03] mariobehling commented on #964
Closing this issue in favor of https://github.com/loklak/loklak_server/issues/964

[2017-01-08 20:03] mariobehling commented on #895
Closing this issue in favor of https://github.com/loklak/loklak_server/issues/964

[2017-01-08 20:03] mariobehling commented on #898
Closing this issue in favor of https://github.com/loklak/loklak_server/issues/964

[2017-01-08 20:09] mariobehling commented on #921
Closing in favor of: https://github.com/loklak/loklak_server/issues/964

[2017-01-08 20:09] #921 closed

[2017-01-08 20:09] #895 closed

[2017-01-08 20:37] mariobehling commented on #964
@jig08 Please follow up here, if you have questions: Closing this issue in favor of #964

[2017-01-08 20:37] mariobehling commented on #964
ah sorry. I see.

[2017-01-08 20:38] #898 closed

[2017-01-09 11:56] Abhi2424shek commented on #964
I have a query, should the site be built like a readme file that we on github or like a professional site enhanced with rich buti full material design ;)

[2017-01-10 00:05] mariobehling commented on #964
@Abhi2424shek The source and structure of the site should come from the md files, but good design is the goal. What approach are you taking?

[2017-01-10 01:27] Abhi2424shek commented on #964
I think I would use the readme files as it is with the help of material themes.

[2017-01-10 02:17] yukiisbored commented on #964
IMVHO, we shouldn't care about designs and other unnecessary stuff. We should think about how to get this to work and get it to work properly. I recommend using read the docs or sphinx because we can use it to render viewable HTML pages.

[2017-01-10 04:56] yukiisbored opened #965 "Add support for non-daemonize on start scripts"
Currently, the start scripts only starts Loklak daemonized, this is bad for Docker, Heroku, and other container services because they don't know when Loklak is down, crashed, etc.

[2017-01-10 11:11] Abhi2424shek commented on #964
Here is my approach on the gh-pages branch we would place some layout information, including a theme. Then for each commit made in the development branch (commits can also include PR merge commits and not PRs) if it updates any of the documents, a new commit will be made to the gh-pages branch via Travis and a bot or my account with an access token! The index.md file would be updated which of cour

[2017-01-10 15:44] adarsh-ideal commented on #863
@niccokunzmann What else is left, sir?

[2017-01-10 15:52] niccokunzmann commented on #863
I do not know. But I assumed partial fix does not imply the issue is solved.

[2017-01-10 15:57] niccokunzmann opened #968 "Merge docker build sections"
There are two sections that should be merged or restructured:

https://github.com/loklak/loklak_server/blob/development/docs/installation_docker.md#get-a-loklak-docker-image

https://github.com/loklak/loklak_server/blob/development/docs/installation_docker.md#build-your-own-docker-container

Constraints:
- We need to know where to get an image from at the start of the documentation

[2017-01-10 16:00] niccokunzmann commented on #863
@adarsh-ideal I checked and all seems fine. Closing it. You can comment if I forgot something. Thanks!
I also opened #968 for restructuring. What are your thougts on what it should look like?

[2017-01-10 16:00] #863 closed

[2017-01-10 17:28] adarsh-ideal commented on #863
@niccokunzmann I said partial because I solved a part of it.

[2017-01-10 17:33] adarsh-ideal commented on #863
I'll check the issue. Thank you.

[2017-01-10 17:45] adarsh-ideal commented on #968
I'll restructure it.

[2017-01-11 15:21] #968 closed

[2017-01-12 10:55] yukiisbored opened #970 "Fix Invalid Markdown used on documentations"
Invalid Markdown are all over the documentations resulting in problems with a lot of warnings/errors with various renderers or parsers.

like this:
[code]

[2017-01-12 11:03] #970 closed

[2017-01-12 11:13] #965 closed

[2017-01-12 14:34] niccokunzmann opened #972 "Host documentation on readthedocs"
The documentation is generated by sphinx #971. The next step is to use [readthedocs](http://readthedocs.org/) to show the documentation. benefits:

- There is a documentation for each branch.
- There is a badge for documentation build.
- We can go back and forth between docs and docs files.

[2017-01-12 14:41] yukiisbored commented on #972
Isn't better if we use reStructuredText for the documentation instead of Markdown?
Other than the obvious reason that `docutils`, `sphinx`, etc supports it natively, it has cool features like directives, roles, etc and it has more things that we can do than Markdown, anyway. Also as of now the `sphinx` setup doesn't parse the table correctly.

[2017-01-12 14:48] niccokunzmann commented on #972
Zes, this could be another issue.

[2017-01-12 14:56] yukiisbored opened #973 "Use reStructuredText over Markdown for documentation"
Continuation from https://github.com/loklak/loklak_server/issues/972#issuecomment-272179763.

The reason for this is because:
  1. Obvious native support with `sphinx`
  2. Not as primitive as Markdown
  3. You're likely generate more issues with Markdown than reStructuredText (e.g Headings)

I'm open for everyone to put their opinions in this issue so we can discuss if this is a good idea or not.

[2017-01-12 16:50] mariobehling commented on #973
Well, this would divert from other FOSSASIA projects. It would also not be formatted correctly in GitHub itself as far as I understand. This is really nice if devs want to just go through things here. The Open Event Orga Server now uses Jekyll and generates the site from md files in the project: https://github.com/fossasia/open-event-orga-server/tree/gh-pages Compare: http://dev.eventyay.com

[2017-01-12 16:54] mariobehling commented on #972
Ok, let's discuss this a bit more. With Readthedocs we don't seem to have as much control over the site as with our own deployment in our own gh-pages branch. The documentation should be hosted on http://dev.loklak.org and the javadocs are already in the repo. So, we are now separating the documentation with the readthedocs approach, whereas the goal of the recent documentation efforts was to unif

[2017-01-12 17:06] mariobehling commented on #964
@niccokunzmann Sorry, but this is issue is still pending. The gh-pages branch still only autogenerates the javadocs on commits. A CNAME dev.loklak.org has been added, that only shows javadocs at the moment, but is still lacking other information.

[2017-01-12 17:14] mariobehling commented on #972
So, looking over this, I think there does not need to be an either or approach. We can have both: Documentation on Readthedocs and on the gh-pages branch. To make this sustainable the documentation should be kept in md-files though.

In the Open Event Orga Server we use the script here: https://github.com/fossasia/open-event-orga-server/blob/development/scripts/push_api_docs.sh to do the following

[2017-01-12 18:39] smokingwheels commented on #961
Try a few Frontends 5 or More and adjust DOS settings accordingly on your Backend and see what happens.
Count the number of lines in you Dump file when on a Hot Topic. Also you can watch Twitter to see the number over the harvest period to reference from.

[2017-01-12 19:45] smokingwheels commented on #956
I'm no Linux admin.
1. Is it possible to plot Data Growth over time (julian days)?
If so estimate Data acceleration over time just on a graph by looking into the future?
From memory there was about ~80GB I had harvested in 4 months.
2. Test actual bandwidth between Data centers (Not at just at each end.)
Use wget with resume options on a few GB test file. Put test in a loop pipe output to file >>.

[2017-01-12 23:05] yukiisbored commented on #964
@mariobehling that's because the script that updates it only runs when it's on master, want me to remove that condition?

[2017-01-12 23:21] mariobehling commented on #964
@yukiisbored I think we should build a documentation site on each commit, development and master.

[2017-01-13 07:38] #964 closed

[2017-01-13 09:32] mariobehling opened #976 "CNAME in gh-pages gets deleted by script"
The javadocs script purges the gh-pages branch when it is run. This means the CNAME dev.loklak.org is lost. Expected: CNAME stays in repo.

[2017-01-13 10:23] yukiisbored opened #977 "Documentation deployment is failing"
For some reason the deployment for the documentation page is failing

[2017-01-13 10:30] mariobehling commented on #977
Please move the script to the repo itself. It might be related to this.

[2017-01-13 10:31] yukiisbored commented on #977
@mariobehling The script on the server is for the google cloud deployment.

[2017-01-13 10:43] mariobehling commented on #977
@yukiisbored Yes, would it be an option to host it here and to put the keys into travis? Did you follow a tutorial to create it? Link? Actually if the script would be in the repo, it would also allow others to use the same deployment method, would it? However, this is probably unrelated to this issue.

[2017-01-13 14:03] Abhi2424shek commented on #953
@niccokunzmann or @mariobehling @rultor is awesome can you add him as a collaborator and use him to  merge and deploy

[2017-01-13 14:04] rultor commented on #953
@abhi2424shek I see you're talking about me, but I don't understand it. If you want to say something to me directly, start a message with @rultor

[2017-01-13 14:13] #977 closed

[2017-01-13 14:13] #976 closed

[2017-01-14 01:45] yukiisbored opened #979 "Fix static files aren't loaded properly on gh-pages"
dev.loklak.org doesn't serve folders that starts with `_` because silly github reasons. `.nojekyll` can be added to tell GitHub to serve folder that starts wtih `_`.

[2017-01-14 10:30] #979 closed

[2017-01-14 13:20] mariobehling opened #981 "Move table of contents into main content area"
The Table of Contents of each page is visible on the left sidebar. Some pages have their own "hand-made" table at the beginning of the article.

Please implement a common way: Move the Table of Contents from the sidebar to show up below the Title/Heading of each page.

Or: Is it better to create the table of contents manually?

![screenshot from 2017-01-14 14-17-07](https://cloud.githubusercontent

[2017-01-14 13:31] mariobehling opened #982 "Merge docs/index.rst into Readme.md and use Readme.md as start page for dev.loklak.org"
The Readme.md from the repo currently does not appear in dev.loklak.org. However there is already an index page with important information.

Therefore I think the best would be to merge these two pages. The Readme.md already has a section "Why to use loklak" at the beginning. Please add the current index.rst (https://github.com/loklak/loklak_server/blob/development/docs/index.rst) into this sectio

[2017-01-14 13:35] mariobehling commented on #981
On second thoughts: Actually the sidebar with the Table of Contents is pretty nice in the API documentation page (http://dev.loklak.org/development/api.html). I am not familiar with Sphinx. Can we define "No Table of Contents" like in a wiki alternatively on specific pages?

[2017-01-14 13:40] mariobehling opened #983 "Take out Susi from documentation"
The Susi documentation is not relevant for the loklak server anymore. Please take out the susi section from index.rst and the susi folder.

[2017-01-14 13:43] mariobehling opened #984 "Take out "This Page" and "show source" from documentation"
As we are generating the documentation from the loklak server /docs folder the source information from Sphinx is not relevant.

Please take out "This Page" and "Show Source" from the documentation pages.

![screenshot from 2017-01-14 14-41-47](https://cloud.githubusercontent.com/assets/1583873/21955269/c4ac54e2-da67-11e6-9dcb-e30a544188da.png)

[2017-01-14 14:07] #983 closed

[2017-01-14 14:19] mariobehling opened #986 "Update documentation and fix outdated areas"
The documentation is partly outdated and can be structured better. Please help to improve it.

[2017-01-14 14:45] #986 closed

[2017-01-14 14:50] mariobehling opened #988 "Update documentation for API to use api.loklak.org instead of loklak.org"
In the documentation there are still a number of references and mentioning API calls to loklak.org. As we moved the API to its dedicated location at api.loklak.org all documentation needs to be updated. Please help to find areas where the documentation needs to be updated and do the necessary.

[2017-01-14 14:55] mariobehling opened #989 "Add javadoc link to Navigation"
The folder javadoc in the gh-pages branch is currently not linked in the documentation main navigation. Please add a link /javadoc and add a link "Development" to the menu of the javadoc site.

[2017-01-14 15:00] mariobehling opened #990 "Add the loklak top menu bar with search and links to the documentation site"
The loklak sites have a top menu bar. Please add the top menu bar to the documentation site in the same design as loklak.net. Please implement it with:
* the loklak logo in Courier New font and same size as loklak.net
* search bar in top area instead search bar on the left sidebar
* add links on right hand side to: Search, Apps, Blog, Developers, API

[2017-01-14 17:56] mariobehling opened #993 "Improve top bar with logo and add Search and Developers links to top menu bar"
* Please add the logo with the light pinkish background to the top bar on the left and set the link to the home directory. Use css to make it. loklak should use the font Courier New.
![screenshot from 2017-01-14 18-14-59](https://cloud.githubusercontent.com/assets/1583873/21956632/7a11ad1a-da85-11e6-9627-28778775d1c4.png)

* Also take out "Home"

* Add "Search" (http://loklak.net) and "Developers"

[2017-01-15 10:52] yukiisbored commented on #981
@mariobehling I don't think we can do that, I think it's better to remove the ToCs that the original file has because they're made before this was implemented.

[2017-01-15 11:03] yukiisbored commented on #993
Are you talking about loklak.org?

[2017-01-15 11:46] #984 closed

[2017-01-15 11:46] #989 closed

[2017-01-15 11:46] #988 closed

[2017-01-15 12:02] mariobehling opened #995 "Developer Documentation: Take out "Page source" from footer"
Please take out "Page Source" from footer.

![screenshot from 2017-01-15 13-01-07](https://cloud.githubusercontent.com/assets/1583873/21962302/cb249684-db22-11e6-83a8-ba81144ff284.png)

[2017-01-15 12:20] yukiisbored opened #996 "Include README on documentation site index"

[2017-01-15 12:20] mariobehling commented on #993
Yes, on the server application itself which is on loklak.org/api.loklak.org.

[2017-01-15 12:26] mariobehling commented on #996
Related to https://github.com/loklak/loklak_server/issues/982

Please include the information that was previously on the welcome page with the images as well.

[2017-01-15 12:30] #996 closed

[2017-01-15 12:54] yukiisbored opened #998 "Update README links"
README links are outdated because of the new documentation system

[2017-01-15 12:59] #998 closed

[2017-01-15 13:10] #995 closed

[2017-01-15 13:19] mariobehling opened #1001 "Deployment buttons do not work for all platforms everywhere"
The following two have issues:

* Heroku a) works from the Readme file in the repo, but does not work from dev.loklak.org
* Deploy to Docker does not work on Readme or on dev.loklak.org

[2017-01-15 17:08] mariobehling opened #1002 "Implement Swagger and generate static version in gh-pages"
Swagger is a great way to document APIs.
* [ ] Please add Swagger to the system at `/api/v1/`
* [ ] On pull requests also generate a static version in the pages branch at http://dev.loklak.org/api/v1/

[2017-01-16 04:39] mariobehling opened #1003 "Building a common site with docs from different loklak repositories"
We have a number projects repositories. If we want to keep the documentation in each project repo, how could we generate a common developers documentation website?

An idea would be to create a common repo and run a script regularly that takes the docs from different repos.

Or any other idea?

How can this be implemented using different repositories and GitHub pages?

[2017-01-16 10:55] sudheesh001 commented on #973
I would like to be more in favour of jekyll than read the docs. The codebase so far has primarily been java, and readthedocs involves python to be integrated through something that I am not against but something I am sure isn't really needed. Do we really need 2 programming languages and builds to get this repo up and running for a contributor ? Not really. I think we should stick to jekyll and no

[2017-01-16 10:56] sudheesh001 commented on #946
With some research done, I can say that this will definitely work, since we package fat-jar's in the ant jar build process, we can run the jars on the kubernetes cluster. I've started experimenting with an openshift instance which uses kubernetes to do this. Will report back.

[2017-01-16 10:59] sudheesh001 commented on #1003
CoderDojo maintains a repo specifically for documentation which I think they periodically build and deploy, but the problem of breaking the documentation from the code would be that they'll quickly go out of sync.

[2017-01-16 13:20] yukiisbored commented on #1003
@mariobehling We can setup multiple gh-pages for them like what we did with this repository and just give the links on the Navigation section.

[2017-01-16 13:26] yukiisbored commented on #946
@sudheesh001 We currently do not have a way to generate a "fat jar". I don't know how you can do it correctly with Ant because some of the libraries have "services" which should be handled carefully. I know how you can do it with Gradle by using [the shadow plugin](https://github.com/johnrengelman/shadow).

[2017-01-16 14:05] mariobehling commented on #1003
@yukiisbored Yes, that is alwasys possible, but I do not see how we can host them on one subdomain though with github pages.

[2017-01-16 14:51] yukiisbored commented on #1003
@mariobehling I think it's impossible to host them on one subdomain (unless we have a server that we can run `nginx` on).

[2017-01-16 15:26] mariobehling commented on #1003
@yukiisbored Sure, agree. Server would always be possible, but we don't want to administer a server to keep the systems we need to take care of as few as possible. How can we run subdirectories of one subdomain on different github repos? I think it is not possible.

[2017-01-16 16:07] mariobehling commented on #1003
Ok, so an idea could be: We run the script as of now, but we deploy a gh-pages branch in another repository here: https://github.com/loklak/loklak/ in the gh-pages repo. Then the Readme.md will be the index.rst and other repos can be deployed into a subdirectory,

[2017-01-16 16:08] yukiisbored opened #1004 "Move deployment script from server to repository"
It would help other people to have a script that automatically updates and redeploy loklak.

[2017-01-16 17:11] #1004 closed

[2017-01-16 17:31] sudheesh001 commented on #946
@yukiisbored Would you like to give the shadow plugin a try, it's new for me and I would love to see how it works.

[2017-01-16 23:17] yukiisbored commented on #946
@sudheesh001 Sure, I'll create a PR.

[2017-01-17 02:54] Abhi2424shek commented on #953
Can we have it

[2017-01-17 11:58] yukiisbored commented on #946
@sudheesh001 https://github.com/loklak/loklak_server/pull/1006

[2017-01-17 17:25] #880 closed

[2017-01-17 23:17] yukiisbored opened #1007 "Self-extract required contents just from the JAR file"
Loklak requires some of the files externally (see the Dockerfile). To make Loklak run from a JAR File without the required project, we can do something like extract the required contents to the working directory.

[2017-01-17 23:20] yukiisbored opened #1008 "Binary Distribution"
Currently Loklak distributes via `git` and the source code. To make deployment easier, we can distribute the a single JAR file to run Loklak.

[2017-01-17 23:20] yukiisbored commented on #1007
Related to https://github.com/loklak/loklak_server/issues/1008

[2017-01-18 04:36] sudheesh001 commented on #1008
I think it's best to use `git tag` and tag a release. Let me look into this today.

[2017-01-18 04:59] sudheesh001 commented on #1008
Update: V1 Released https://github.com/loklak/loklak_server/releases/tag/v1.0

[2017-01-18 05:03] sudheesh001 commented on #953
I am in favour of rultor for doing the merges, allows us for stronger reviews and better quality. Can someone set this up ? I'll add rultor to the contributors.

[2017-01-18 05:06] sudheesh001 commented on #934
Related to #251 This is definitely good to have.

[2017-01-18 05:11] sudheesh001 commented on #925
The installation process also uses `System.Env` so you can save the port on your system if it doesn't conflict with anything else.
[code]
then run the installation procedure again, Can you check if this works @smokingwheels .

[code]

[2017-01-18 05:53] yukiisbored commented on #1008
euhm, I'm not done yet :sweat_smile: The JAR files doesn't contain the default configuration and the HTML pages.

[2017-01-18 05:58] yukiisbored commented on #1008
We have to solve this first: https://github.com/loklak/loklak_server/issues/1007

[2017-01-18 06:04] yukiisbored commented on #1008
Also you uploaded the wrong JAR file, the jar file is on `build/libs/loklak_server-all.jar` and it can be built with `gradle shadowJar`

[2017-01-18 06:14] yukiisbored commented on #251
Re-opened because this issue is related to https://github.com/loklak/loklak_server/issues/934

[2017-01-18 08:23] #882 closed

[2017-01-18 11:36] Abhi2424shek commented on #953
Thanks

[2017-01-18 11:37] Abhi2424shek commented on #953
Can we check it up

[2017-01-18 15:07] yukiisbored opened #1011 "Google Cloud Deployed loklak keeps crashing"
Loklak's instance of elasticsearch keeps crashing after a while. It's better to have it into it's own container instead of run them with Loklak.

[2017-01-18 19:52] #1011 closed

[2017-01-18 19:56] mariobehling opened #1013 "Ensure _assets folder are copied to gh-pages from /docs on main branches"
Images for the Readme.rst were added to the folder at /docs/_assets. Please ensure the folder gest copied to the gh-pages branch and the links to the images are updated when the Readme.rst is copied into the gh-pages branch to generate the documentation site (http://dev.loklak.org/).

![screenshot from 2017-01-18 20-51-16](https://cloud.githubusercontent.com/assets/1583873/22080659/adf75268-ddc0-1

[2017-01-18 20:32] mariobehling opened #1014 "Unify documentation and implement function in script to generate documentation from different repositories"
The documentation currently generates the loklak server documentation at dev.loklak.org. There are other sub projects that are part of the loklak project. A list of projects has been started at https://github.com/loklak/loklak

Please adapt the script of the loklak_server project and make it to generate a new page on each PR just as is.

Please use [this repository](https://github.com/loklak/lokla

[2017-01-19 01:18] yukiisbored commented on #1008
Anyway, I think we should release every time we rebase development to master, and nightlies on development.

[2017-01-19 02:43] #1007 closed

[2017-01-19 04:30] sudheesh001 commented on #1008
Did you test by running the `jar` ? I used ant to build it instead of gradle and i understand that the gradle release moves to `build/libs/`. Can you run the jar and see if it's executing correctly.

I agree with the release pattern. Master merge should create release and every other development should create a pre-release nightly.

[2017-01-19 04:47] sudheesh001 commented on #1008
Updated the release with a compressed `build` along with all required dependencies and added an extra item.

[2017-01-19 08:57] yukiisbored commented on #1008
@sudheesh001 It runs and runs nicely! https://asciinema.org/a/99867

[2017-01-19 09:03] yukiisbored commented on #1008
I actually have no idea how to achieve the same thing with `ant` (like Service merging and properly correct conflicts)

[2017-01-19 09:18] #1008 closed

[2017-01-19 09:22] yukiisbored opened #1016 "Versioning system"
Since we're able to release binaries for Loklak, it's a good idea to think of a versioning system. We can do the usual [Semantic Versioning](http://semver.org/), but with a couple of rules:
  1. Append `-pre` for nightly releases and add a number with a period before it to indicate how many nightly releases we have for the upcoming version like `-pre.1` for the next nightly release.
  2. Append `-

[2017-01-19 14:15] #1013 closed

[2017-01-20 03:50] yukiisbored opened #1020 "Generate shadowJar on Build"
Currently the build task doesn't run the shadowJar task, this can cause confusion for new users.

[2017-01-25 11:31] #1020 closed

[2017-02-07 08:23] daminisatya commented on #1002
@mariobehling Can we use RAML too?

[2017-02-07 08:58] mariobehling commented on #1002
Oh, RAML looks like a nice alternative. We can go with this, if it works for the project.

[2017-02-08 04:29] daminisatya commented on #953
@sudheesh001 How can we progress with adding rultor, cause we should be able to integrate it before the gsoc period starts.

[2017-02-08 10:16] Abhi2424shek commented on #953
@daminisatya i think it's integrated already.

[2017-02-08 10:17] Abhi2424shek commented on #953
@rultor hello

[2017-02-08 10:18] rultor commented on #953
@abhi2424shek Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2017-02-08 10:20] daminisatya commented on #953
@Abhi2424shek Then we are good to close this?

[2017-02-08 10:26] Abhi2424shek commented on #953
@daminisatya we could try it on a PR try to make a simple PR and merge it. We should check it shouldn't we?

[2017-02-09 00:00] Orbiter opened #1022 "Move to gradle build, remove ant build"
Today loklak builds are based on libraries we ship within the git repository.
We should use gradle builds exclusive in the future.

We already have a gradle build which uses these libraries
[code]
We should move to a build using maven libraries like
[code]

also, we should use gradle run as start method.
All cloud deployment options must be migrated to use the gradle build process as well.

If thi

[2017-02-09 14:18] yukiisbored commented on #1022
We already have a start task on Gradle. Do you want to make it into run instead?

[2017-02-09 14:33] yukiisbored commented on #953
No, it's not that simple. We require a configuration file to make it work properly.

[2017-02-09 16:33] AnaghHegde opened #1023 "Create contributor guide page"
Currently `README.md` page contains lot of information, also contains some information related to contributors guide but its not solid. So its better to divide the `README.md` into :

1.contributor-guide page and give a link from readme to contributor-guide page

   - This contains all the contents under the sub head `How to compile using Gradle?` and
      `How do I install Susi: Download, Build,

[2017-02-10 04:20] yukiisbored commented on #1023
Hello, We already have it on dev.loklak.org. Do you have any suggestions or what kind of documentations we should add?

[2017-02-10 07:37] AnaghHegde commented on #1023
@yukiisbored Even the `dev.loklak.org` has the same contents of `README.md` file. Its not organised. It contains irrelevant data. It looks good if its divided into multiple files. This applies to `readme` file also.
It also doesn't contain any info on the branch policy.

[2017-02-10 09:39] yukiisbored commented on #1023
@AnaghHegde Euhm, look at the side panel

[2017-02-10 10:07] #982 closed

[2017-02-10 10:36] AnaghHegde commented on #1023
@yukiisbored ok then why does the home page of [](dev.loklak.org) contains all the information in readme?  Its repeated right ?. I am not saying contributor guide is not there. I am saying its just not organised. It needs refactoring in such a way that everything will be in a organised manner. None of them doesn't say anything about `How to contribute?` - creating PR, branch policy.  So i thought

[2017-02-10 11:19] mariobehling commented on #1023
@AnaghHegde There are always pros and cons of separating pages or keeping all info on one page. A reason for separation was often to reduce load times in the past. A reason for keeping it one page is to make it easier for mobile phone users sometimes. For the moment we have decided to keep info on one page.

A big improvement would be to get the documentation of all loklak components into one page

[2017-02-10 11:19] #1023 closed

[2017-02-10 11:34] AnaghHegde commented on #1023
@mariobehling ok sure. I will work on that.

[2017-02-10 13:50] shiri04 commented on #875
Can I work for this documentation

[2017-02-10 13:54] daminisatya commented on #875
@shiri04 get the context before taking up an issue. Please write here first on what you are going to document.

[2017-02-10 14:21] yukiisbored opened #1024 "Gradle: Javadoc failing"
Javadoc is failing due to the new `doclint` system introduced in JDK 1.8. We can disable this by adding `-Xdoclint:none` to the command line options when invoking javadoc.

[2017-02-12 10:18] mariobehling opened #1026 "Add harvesting of images to service as an option"
loklak currently harvests tweets, but does not collect the images of tweets. Please implement a way to collect images add the option to the settings/config to be switched on/off.

[2017-02-12 11:42] yukiisbored opened #1027 "Update Deployer Script"
test.loklak.org has been updated to orchestrate Loklak instances with docker-compose and load balanced with nginx.

The deployer script should be updated to handle the new setup.

[2017-02-12 12:31] #1027 closed

[2017-02-12 12:34] mariobehling commented on #1027
How stable is it running on Gcloud? Can we use it for api.loklak.org now?

[2017-02-12 12:39] mariobehling opened #1029 "Automatic deployment to heroku failing"
After the last update of the script the deployment to Heroku is failing. Please help to make it run again.

Check at http://loklak-server-dev.heroku.com

[2017-02-12 13:18] jig08 commented on #1029
@mariobehling @yukiisbored Seems to pass now. Guess we can close it now..

[2017-02-12 13:27] yukiisbored opened #1030 "Find a better way to scale Loklak with Compose"
It turns out `docker-compose` can scale containers out of the box. Find a way to load balance the scaled containers.

[2017-02-12 13:28] mariobehling commented on #1029
Build failed
There was an issue building your app. Please ensure your app is deployable to Heroku and try again.
-----> Java (using Apache Ant 1.9.8) app detected
-----> Installing OpenJDK 1.8... done
-----> Installing Apache Ant 1.9.8..... [start]
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left

[2017-02-12 13:33] #1030 closed

[2017-02-12 13:51] #881 closed

[2017-02-12 13:51] #1022 closed

[2017-02-12 13:51] #1024 closed

[2017-02-12 13:53] yukiisbored commented on #1029
It looks like the link for Apache Ant on the build pack is dead. Since, we're going to move to Gradle now. We can use a gradle buildpack that I made while doing GCI. Here's the repo for it: https://github.com/yukiisbored/heroku_buildpack_gradle_loklak

[2017-02-12 13:57] yukiisbored commented on #1029
It's up now http://loklak-server-dev.heroku.com ✨👏

[2017-02-12 13:57] #1029 closed

[2017-02-12 14:04] mariobehling commented on #1029
@yukiisbored Nice work! Please merge it to the buildpack repo and rename the repo in loklak. Let's have all project related stuff here.

[2017-02-12 14:05] mariobehling opened #1032 "Clean up unused files in html folder of repository"
Please do the following:
* [ ] delete `/html/apps` except the accounting apps for the moment as they are not working on the apps page. We are hosting apps on http://apps.loklak.org already
* [ ] delete `/html/artwork`. It has been moved to its own repo already https://github.com/loklak/loklak_artwork
* [ ] delete other unused files, e.g. javadoc.html is already in dev.loklak.org, so not needed her

[2017-02-12 14:20] mariobehling opened #1033 "Write an overview of loklak projects for about page"
We have a number of loklak projects. The current about page does not cover all of these projects yet. Write a concise overview of the projects.

[2017-02-14 06:07] daminisatya commented on #1002
@mariobehling I have the RAML file ready for search API(initial flow). [Here](https://gist.github.com/daminisatya/427193a8d5b8b67a0993ef2e16ac2a11).

Any suggestions on how to read the RAML to HTML? Do you suggest to write our own parser? or use a third party plugin?

[2017-02-14 07:31] mariobehling commented on #1002
@daminisatya What plugins exist?

[2017-02-16 10:50] sudheesh001 opened #1034 "Upgrade elasticsearch so that latest Kibana can be used."
- Issue type: Feature request

### Short description

The latest kibana release is beautiful and provides some amazing visualizations compared to the older kibana 4.x.x series. To use the latest version, the elasticsearch needs to be upgraded.

[2017-02-16 16:31] KukkadapuSushma commented on #1032
I would like to work on this issue @mariobehling

[2017-02-18 13:41] yukiisbored opened #1035 "Fix Windows batch scripts"
The windows batch scripts are broken due to the deletion of the lib folder. It should be modified to just use the uber JAR file located at `build/libs/loklak_server-all.jar`.

[2017-02-18 13:42] yukiisbored commented on #1035
I can't do this issue because I don't have a Windows machine.

[2017-02-18 14:25] KukkadapuSushma commented on #1035
I can work on this!

[2017-02-18 15:30] KukkadapuSushma commented on #1035
Yup i can fix this!

[2017-02-18 15:36] yukiisbored opened #1036 "Create stop script for Windows"
Currently, there's only a start script for Windows. The problem here is Windows users doesn't know how to stop the Loklak daemon.

[2017-02-18 16:21] KukkadapuSushma commented on #1035
#1037 - PR

[2017-02-18 16:37] KukkadapuSushma commented on #1032
I have finished it,
- Removed /html/apps (Except accounting apps)
- Deleted /html/artwork
- Deleted unused files.

Here's the PR : https://github.com/loklak/loklak_server/pull/1037  (Along with other commit it is!)

[2017-02-18 17:31] kavithaenair commented on #993
Please assign me this issue.I would like to work on this @mariobehling

[2017-02-19 05:05] yukiisbored commented on #1035
@KukkadapuSushma To automatically close the issue when your commit is merged, just add `Closes <link to commit>` or `Fixes <link to commit>` in your commit message, preferably the botttom of it.

[2017-02-19 05:05] #1035 closed

[2017-02-19 10:06] AnaghHegde commented on #981
@mariobehling @yukiisbored can i work on this ?. Can you please brief me a little ?.

[2017-02-19 14:41] yukiisbored commented on #981
@AnaghHegde Loklak uses sphinx to generate the documentation and it's generated via CI. The script that does this is located inside the .utility folder, but I don't think that can solve this enhancement. The configuration for sphinx is inside the docs folder as a file named `conf.py`.

[2017-02-20 06:29] #1032 closed

[2017-02-20 06:31] daminisatya commented on #993
@kavithaenair you can start working on this issue.

[2017-02-20 07:46] AnaghHegde commented on #981
@yukiisbored I don't know sphinx. Is it required or just python is enough ?.

[2017-02-20 08:01] daminisatya commented on #993
@mariobehling Im not able to assign @kavithaenair can you please assign her. thank you

[2017-02-20 08:37] jayvdb opened #1038 "Test on Appveyor"
AppVeyor allows Windows testing.

[2017-02-20 10:05] mariobehling commented on #993
@daminisatya New contributors have to join the organization first before we can assign issues to them.

@kavithaenair Invited you.

[2017-02-20 10:15] daminisatya commented on #993
@mariobehling Sorry i miss took it for fossasia org!

[2017-02-20 14:47] yukiisbored commented on #1038
I think it's better to do https://github.com/loklak/loklak_server/issues/1036 first, but I don't see it blocking this.

[2017-02-21 18:18] kavithaenair commented on #993
PR - #1039

[2017-02-22 02:12] #993 closed

[2017-02-22 02:22] kavithaenair commented on #990
I would like to work on this issue @daminisatya @mariobehling

[2017-02-22 10:50] AnaghHegde commented on #1001
@mariobehling This what i got in the docker documentation.

![screenshot from 2017-02-22 16-17-35](https://cloud.githubusercontent.com/assets/12005551/23208332/9a44a340-f91a-11e6-9787-7f9b504f06b4.png)

And i tried again after logging into docker account and now its working fine. So for the docker i will update the readme.md file. For heroku i am still workin.

[2017-02-22 11:14] AnaghHegde commented on #1001
@mariobehling

The basic requirements for creating a button are that your app has a valid app.json file in its root directory, and that the app source code is hosted in a GitHub repository.Heroku Button will not work with repos that have Git submodules. Heroku Button relies on the Build API and uses tarballs fetched from GitHub. GitHub does not include submodule contents when repo-content tarballs

[2017-02-22 16:17] vibhcool opened #1040 "Searching emoji on loklak api does not work"
searching emoji with loklak api doesn't work.

this isn't working -> http://loklak.org/api/search.json?q=%20%F0%9F%87%BA%F0%9F%87%B8

but is working for -> https://www.google.co.in/?#q=%F0%9F%87%BA%F0%9F%87%B8

[2017-02-22 18:28] jig08 commented on #1040
@vibhcool Would you like to take this up ?

[2017-02-22 19:49] vibhcool commented on #1040
i will like to take this up , but i need some guidance

[2017-02-24 13:32] AnaghHegde commented on #1001
@mariobehling Can i open a PR for this?

[2017-02-27 02:49] yukiisbored commented on #1040
@vibhcool The search handler is on `org.loklak.api.search.SearchServlet`. Feel free to ask us on gitter if you're having an issue.

[2017-02-27 02:54] yukiisbored opened #1043 "Do not use Elastic as a database"
Elastic shouldn't be used as the database for the messages. Elastic is made and meant to be a search engine and it should only keep indexes. We should use another database system to keep the data safely (other than dumps, because dumps aren't used directly, and it should be used as a backup).

We can go for the SQLite route but the main problem is flexibility. There are a couple of non-RDMS soluti

[2017-02-27 04:07] mariobehling commented on #1043
@yukiisbored Valid point, but the alternative is not clear as you say.

[2017-02-27 04:20] sudheesh001 commented on #1043
I think elastic is a perfect solution for the scale of data we're looking at. ELK stack has been proven to be scalable and the goto solution to build big data application. SQLite has a terrible performance, If a database change is ever considered I think it should be Postgres because of the SQL/NoSQL support. @Orbiter Your views please ?

I vote for closing this issue and do not favor a change in

[2017-02-27 08:44] yukiisbored commented on #1043
@mariobehling ORM basically helps making objects represented by regular java objects. It may help doing this. but I think @sudheesh001 has a better idea.

[2017-02-27 08:45] yukiisbored commented on #1043
@sudheesh001 The problem with Postgres is the user have to setup a database first. I think it's better to support the usual MySQL/PostgresSQL while leaving SQLite as the default.

[2017-02-27 08:51] yukiisbored commented on #981
@AnaghHegde Read the documentations on their site: http://www.sphinx-doc.org/en/stable/. Sphinx uses Python but I don't think you require a lot of Python knowledge (unless you're planning to create your own extension). Happy Hacking!

[2017-02-28 13:26] smsunarto opened #1045 "Replace the image logo in navigation bar with a text"
Related to #1039 and #993

The issue for the logo should be re-opened, since this is poorly done
Instead of using css, it's created using an image with many black borders surrounding it + there's a tiny white dot. --> http://loklak.org/images/loklak_logo.png

1. The logo shouldn't use an image, since it's extremely redundant (the logo is a text at the end of the day). And even if it's necessary to

[2017-02-28 15:23] singhpratyush commented on #1040
The following links may be helpful -
https://jolicode.com/blog/search-for-emoji-with-elasticsearch
https://github.com/jolicode/emoji-search/tree/master/esplugin

[2017-03-01 03:40] sudheesh001 opened #1046 "Automatic updates fail on windows because of execution of shell scripts"
[code]

Looks like the caretaker process fails upgrade because it's trying to run a shell script instead of a file execution format that windows understands.

[2017-03-01 13:45] #1045 closed

[2017-03-01 15:12] vibhcool opened #1048 "search keeps on executing with no search query"
The search method of SearchServlet class keeps on executing again and again even without any search query.

Thus the same lines of code keeps in executing to get solution for search query -> "" , thus leading to no solution.This can be checked by logging in this search method (in org/loklak/api/search/SearchServlet.java/SearchServlet.search()).

[2017-03-01 16:57] vibhcool commented on #1040
@yukiisbored @singhpratyush thank you for the hints :D , i am exploring the code and seeing how i can fix it :)

[2017-03-02 11:56] yukiisbored commented on #1046
Is there a full stack trace? It doesn't show which class causes the problem

[2017-03-03 03:53] sudheesh001 commented on #1046
[code]

[2017-03-07 23:16] Orbiter commented on #1034
there is a problem with the latest elasticsearch version because it cannot be embedded any more. We can move to an external elasticsearch, but that would require that new users have to set up elasticsearch themself.

[2017-03-07 23:17] Orbiter commented on #1043
well that is not an actual requirement because search portals need search engines in the back-end. And thats loklak. You can have fun with a fork of loklak where you may try that.

[2017-03-07 23:17] #1043 closed

[2017-03-08 02:53] smokingwheels commented on #939
I the past if I wanted to Harvester to collect more information I would recalculate the DoS settings divided by the number of FrontEnds you are running.

# settings to prevent DoS  Setting as per API safe limits of Twitter for a frontend.
DoS.blackout = 100
DoS.servicereduction = 1000

So if you had 100 FrontEnds your BackEnd setting would need to be in the order of.
# settings to prevent DoS
DoS.

[2017-03-08 04:36] sudheesh001 commented on #1034
Oh that wouldn't be a good thing 😢 Lets keep this open until we figure this out with elasticsearch.

[2017-03-08 13:42] smokingwheels commented on #939
After testing lots of HTTP transfers today there is bandwidth throttling going on from my ISP/internet.
There are ways around it.  I do not wish to make them Public though.
In early testing I performed it was possibly shown that the FrontEnds collect more data in total than the BackEnd when running close to limits.
Not sure if this is any help?

`    import java.io.*;
    import java.net.*;

    p

[2017-03-08 18:33] #1048 closed

[2017-03-14 07:55] niccokunzmann opened #1049 "Docker: Out of Memory"
- Issue type: Bug report

### Short description

I have been running the docker mariobehling/loklak image for three weeks.
I saw that http://loklak.quelltext.eu/ did not load.
I got this output:

    docker logs services_loklak_1 | tail -n 1
    Exception in thread "Thread-20735" java.lang.OutOfMemoryError: GC overhead limit exceeded

I appended the current [log](https://github.com/loklak/loklak_s

[2017-03-14 16:06] yukiisbored commented on #1049
It appears hub.docker.com/r/mariobehling/loklak isn't updated to the new image.

[2017-03-14 16:13] niccokunzmann commented on #1049
Error:

[code]
[source](https://hub.docker.com/r/mariobehling/loklak/builds/biyd7c5jwcuhwj4azynbabo/)

[2017-03-14 16:15] niccokunzmann commented on #1049
I believe, we should move the Dockerfile to the repository root. What do you think @yukiisbored ?

[2017-03-14 16:16] yukiisbored commented on #1049
Yeah, that's due to the new changes made to the Docker Image.

[2017-03-14 16:16] niccokunzmann commented on #1049
I will create a PR.

[2017-03-14 16:41] niccokunzmann opened #1051 "Docker: Add volume path"
- Issue type: Bug report/Feature request

### Short description

Currently, the docker image does not have a volume nor do i know where the data is stored that should be available when a new loklak version appears

### Expected behaviour

I would like to have a volume in

- [ ] Dockerfile
- [ ] docker-compose.yml

### Actual behaviour

There is no volume. I suppose, once the image is updated, all

[2017-03-14 20:05] vibhcool opened #1052 "HTML appears on user's name when there is emoji"
When querying on loklak server, in user's name, html text appears if name has emoji in it. When querying like this ->http://loklak.org/api/search.json?q=fossasia  , we get name field with value (if has emoji) with html string.

[2017-03-15 06:32] yukiisbored commented on #1051
Every runtime generated data is always stored on `data/`.

[2017-03-15 15:07] niccokunzmann opened #1056 "Create introduction issues"
- Issue type: Feature request

### Short description

I would like to see some issues for people who want to get into loklak development
Specifically #1051 is such an issue which is made easy, now.

### Expected behaviour

I would like to see issues labeled as "[first-timers-only](https://github.com/search?utf8=%E2%9C%93&q=label%3Afirst-timers-only+is%3Aopen&type=Issues&ref=searchresults)"

### Ac

[2017-03-15 16:36] yukiisbored opened #1058 "Update Documentation"
Due to a lot of changes on loklak, the documentation is severely outdated. The Documentation should be remade for scratch/updated to fit the changes made.

Key points that should be changed are:
* Use Gradle to build Loklak
* Guide to use Docker
* Settings Management
* New "inter-changeable" Harvester system (Alternate Harvester "Kaizen" and Classic Harvester)
* and possibly many more...

[2017-03-15 16:40] yukiisbored commented on #1049
Out of Memory on Java applications is usual and the `Xmx` variable should be increased.

[2017-03-15 16:44] yukiisbored opened #1059 "Remove and Ignore .DS_Store"
The repository has a ton of .DS_Store files. This should be removed because it's a type of cache generated by macOS.

[2017-03-16 02:24] smokingwheels commented on #1049
Does the Docker setup have a hosts file?
If so I find this [site](http://winhelp2002.mvps.org/hosts.htm) really good and blocking unwanted stuff.

[2017-03-16 09:43] niccokunzmann commented on #1049
@yukiisbored I would close this and you can create a new Issue for clarity. This is already full of unrelated discussion to your solution. You can re-open it, if you like.

[2017-03-16 09:45] niccokunzmann commented on #1049
@smokingwheels Could you tell me more about your assumptions? I do not see how java using up memory relates to setting the ip for a domain name.

[2017-03-16 13:07] #1049 closed

[2017-03-16 13:10] yukiisbored opened #1060 "Increase default Xmx value"
Continuation of https://github.com/loklak/loklak_server/issues/1049.

Due to "first timers" problems regarding Loklak running out of memory is due to the fact the default allocated memory for Java is set to 600 MB by default (defined here https://github.com/loklak/loklak_server/blob/development/conf/config.properties#L102).

I think it should be increased because Loklak requires more than 600 MB a

[2017-03-16 13:10] yukiisbored commented on #1049
This issue is now moved to https://github.com/loklak/loklak_server/issues/1060.

[2017-03-16 13:13] yukiisbored opened #1061 "Automate Loklak Installation"
To make setting up the "first time" installation settings possible on Heroku, Bluemix, Docker, etc is to make it automated.

A simple form of this can be seen on [the official mysql Docker image](https://hub.docker.com/_/mysql/). Where the environment variables such as `MYSQL_ROOT_PASSWORD` is used to set the root password without further user interaction.

It would be nice to have this implemente

[2017-03-16 13:13] yukiisbored commented on #1061
Currently, the best way to do this on Docker is to set the `customized_config.properties` as a volume.

[2017-03-16 22:27] vibhcool commented on #1060
If no one is fixing this, can I see to this issue? :)

[2017-03-17 08:58] yukiisbored commented on #1060
@vibhcool sure, feel free to fix it :)

[2017-03-17 21:32] vibhcool commented on #1060
#1062 fixes this issue :)

[2017-03-17 21:45] vibhcool commented on #1026
Shall i see to this if no one is on the way working on this issue?

[2017-03-18 06:46] yukiisbored commented on #1026
@vibhcool Sure, just do it if there's no assignee.

[2017-03-18 06:48] yukiisbored commented on #1060
No need to mention it here. GitHub will show it if the issue link is mentioned inside the commit message.

[2017-03-19 01:24] vibhcool commented on #1060
Oops, sometimes I forget that this isn't pagure, it is github :D

[2017-03-19 01:47] #1060 closed

[2017-03-19 14:45] niccokunzmann commented on #894
Thanks for all the changes @yukiisbored. I believe this can be closed.

[2017-03-19 14:45] #894 closed

[2017-03-19 21:50] kfrz commented on #1059
@yukiisbored I can't find more than one .DS_STORE (in the root dir), and there's a line `ln:19` in `.gitignore` that adsd `/.DS_STORE` to ignore. This is on development branch. Thoughts?

[2017-03-19 22:11] #1059 closed

[2017-03-19 22:13] niccokunzmann commented on #1058
I added the first-timers-only label because e.g. the documentation for setup can be checked quite well by people who do not know the project, yet.

[2017-03-19 22:14] #1001 closed

[2017-03-19 22:34] rogersachan opened #1067 "Tweet URL in Markdown README is broken"
- Issue type: Bug report

### Short description

The Twitter tweet url in the README is broken

### Steps to reproduce

1. Navigate to repo on github

### Expected behaviour
Working button

### Actual behaviour
Image with broken URL

[2017-03-19 22:37] niccokunzmann commented on #1067
You provided a pull-request at #1066.

[2017-03-19 22:38] rogersachan commented on #1067
@niccokunzmann #1068

[2017-03-19 22:50] #1067 closed

[2017-03-19 23:01] niccokunzmann commented on #1056
https://github.com/up-for-grabs/up-for-grabs.net/pull/575 - up for graps

[2017-03-19 23:02] niccokunzmann commented on #1056
Closing this as up-for-grabs/up-for-grabs.net#575 is beyond the reach of this project

[2017-03-19 23:15] niccokunzmann opened #1070 "Improve Code Quality following the Codacy Metric"
- Issue type: Bug report

### Short description

[Codacy][issues] shows a lot of issues with the current code.
Remove such an issue.

### Steps to follow

1. Go to the [Codacy issues][issues], you may sort them by file.
2. Remove an issue in the code without changing the behavior of the code.
3. commit:
  - Reference this issue
  - link to the codacy issue in the extended description (two newlines

[2017-03-19 23:22] niccokunzmann opened #1071 "Travis: remove download error"
- Issue type: Bug report

### Short description

Sometimes and unreliably, travis fails to build.
This seems to be due to a failure to download files.

### Environment

 - Operating system: Travis build

### Steps to reproduce

This is hard because it is not reliable.
[log.txt](https://github.com/loklak/loklak_server/files/853656/log.txt)

1. Create a pull-request
2. Wait for travis to succeed
3.

[2017-03-20 01:07] yukiisbored commented on #1058
I don't think that's a good idea. Documentation should be written by someone who's familiar with the project. There's a lot of outdated information inside the documentation. It's hard for them to see how Loklak works due to a lot of styling problems, lack of code documentation, etc.

[2017-03-20 09:53] sudheesh001 commented on #1056
This sounds good ! 👍

[2017-03-20 19:51] uttu357 commented on #954
Duplicate of #1026. Can be closed.

[2017-03-20 20:30] vibhcool opened #1072 "API returns link of post instead of image that is in the tweet text"
When we search for a keyword in loklak, it returns link of post having image (in tweettext) instead of image link

[2017-03-20 20:31] vibhcool commented on #1072
I am working on this issue

[2017-03-20 20:48] mad3E7cat commented on #1033
Do you need it for README.md or for the text on the main page of loklak.org?

[2017-03-21 03:12] niccokunzmann commented on #1072
Can you post an example?

[2017-03-21 03:19] niccokunzmann commented on #1033
I agree that one would want to see it in both locations.
I would say you can choose what you like best. We can reference it from the other locations. It can be moved if requirements change. Thanks for asking!

[2017-03-21 03:39] niccokunzmann commented on #973
@yukiisbored according to #1003 markdown is favored. We can use a [markdown2rst](https://github.com/kgryte/markdown-to-restructuredtext#cli) converter. This would require reading through the changes if anything is out of sync between the two files.
What do you think?

#1063 (related for me)

[2017-03-21 13:00] yukiisbored commented on #973
@niccokunzmann I don't think conversions are reliable. Currently, `sphinx` now supports markdown with an external "parser".

[2017-03-21 16:38] vibhcool commented on #1072
yep, exactly @Achint08 @niccokunzmann

[2017-03-22 11:45] yukiisbored commented on #1014
Working on this.
[Repository](github.com/loklak/dev.loklak.org)

[2017-03-22 12:06] mad3E7cat commented on #1033
My idea is to look through all the READMEs and try to make it more informative. Is that what you wanted?

[2017-03-22 12:31] yukiisbored commented on #1033
No, this issue is to add overviews to other loklak projects like app.loklak.org, the loklak APIs, etc.

[2017-03-22 13:50] yukiisbored commented on #1033
https://github.com/loklak/loklak_server/commit/681736a52f274db5d6d3d01981cdd99900d442c9 still doesn't give an overview about loklak projects.
Sorry about that, I'm pretty sleepy atm.

[2017-03-22 18:49] mad3E7cat commented on #1033
I understand that, working now.

[2017-03-23 06:14] jig08 commented on #1026
@vibhcool Join the org so that we are able to assign it to you. Also any updates on this ?

[2017-03-23 21:37] vibhcool commented on #1026
@jig08 i am working on a subissue of this i.e. #1072

And how to join the org ?

[2017-03-24 06:53] yukiisbored opened #1076 "Apply styling rules for commit messages"
Currently the commit messages are pretty messy and doesn't have any consistency applied to them.

I think it's a good idea to have this implemented so every messages are clear.

[2017-03-24 21:39] mariobehling commented on #1014
I am still getting a 404 on http://dev.loklak.org. Any idea?

[2017-03-25 07:10] vibhcool commented on #1070
@yukiisbored , this issue has hundreds of codacy issues in it , I have just solved 4 python codacy issues. This issue isn't completely solved.

[2017-03-25 10:57] jig08 commented on #1070
Re-opening this.

[2017-03-25 17:59] yukiisbored commented on #1070
@vibhcool I didn't close it, GitHub did. *Sigh*, now they'll close every commit messages containing the issue link, huh?

[2017-03-25 17:59] yukiisbored commented on #1070
As far as I remember, GitHub only closes `Fixes <issue link>` and `Closes <issue link>`

[2017-03-25 22:22] vibhcool commented on #1052
I am closing this issue, pr #1053 solves this

[2017-03-25 22:22] #1052 closed

[2017-03-25 22:26] vibhcool commented on #1070
@yukiisbored ,  oops, my bad, I didn't know that. I will take care next time.
hehe, github loves automation :)

[2017-03-26 04:37] yukiisbored commented on #1014
@mariobehling I'll invoke GitHub pages to rebuild it.

[2017-03-26 05:42] yukiisbored commented on #1014
It's up now ❤

[2017-03-26 05:42] #1014 closed

[2017-03-27 04:34] itspritish commented on #1051
I's looking for a first-timer-only and found few, but i thought this one i could give a try as i have some hands on with docker. I could try if i get some help to reproduce this issue on my Ubuntu.

[2017-03-27 04:58] aviaryan opened #1078 "HTML Liquid code not working on loklak homepage"
- Issue type: Bug report

### Short description
http://loklak.org homepage is unable to run dynamic code in HTML / liquid syntax is being outputted as is. This is what I see.
![screen shot 2017-03-27 at 10 21 19 am](https://cloud.githubusercontent.com/assets/4047597/24341418/28a3ac50-12d7-11e7-9309-b45457fc1ab9.png)

More specifically this -
[code]

### Environment

 - Operating system: OSX El Cap

[2017-03-27 06:51] niccokunzmann commented on #1076
I see the following roadmap for the issue:

1. [ ] Discuss what we need this for
2. [ ] Discuss the format
3. [ ] Document the format
4. [ ] Implement checkers

Contibution to (1)
---------------------

If we enforce a format, we better have a good reason for the burden of bureaucracy. I do not find a use in it but fear it will make it harder to enter the project and strengthen the maintainers' po

[2017-03-27 06:56] niccokunzmann commented on #1051
Sure, please go ahead. If you have any questions, you can ask!

[2017-03-27 08:25] jig08 commented on #1078
@aviaryan Thanks for the report, but it seems to work just fine for me in the exact same environment.

[2017-03-27 08:38] yukiisbored commented on #1076
@niccokunzmann here are my answers to your questions
* The first line (aka the short log) should be shorter than 50, because that's the limit GitHub actually shows it.
  * Most likely, because merge commits are useless in my opinion
* Existing contributors must learn the new system. Just tell them to fix it and they will.
* Probably to make command line viewing of `git log` much more pleasing to t

[2017-03-27 08:40] yukiisbored commented on #1076
I think we shouldn't enforce a formula/template because that's a bit hard to do especially for first timers.
I think it's better to make it a list of requirements instead.

[2017-03-27 14:15] meets2tarun opened #1079 "Documentation edit"
Readme file needs to be edited.
While running `ant` for building and if java is not installed in computer, it will give error.

[2017-03-27 15:14] yukiisbored commented on #1079
Closing duplicated of https://github.com/loklak/loklak_server/issues/1058

[2017-03-27 15:14] #1079 closed

[2017-03-27 18:05] aviaryan commented on #1078
@jig08 Well, now it is working here too.. 😕 Weird!! I tried refreshing the page multiple times earlier this day, but had no luck. And now it's fixed.
Btw, please feel free to close this issue.

[2017-03-27 19:15] #1078 closed

[2017-03-28 04:48] yukiisbored commented on #1078
@aviaryan This happened due to the fact the Javascript isn't loaded properly. Most likely due to bad internet connection which causes delays/corruption to the scripts used.

[2017-03-28 22:17] yukiisbored opened #1083 "Simplify Twitter scraper with jsoup"
Currently, `TwitterScraper.java` is really complex and hard to maintain. This is due to the fact we're doing manual string indexing to extract the important data from the HTML page of Twitter. We can use the jsoup library to simplify this because it provides simple selectors and can manipulate HTML data easily.

[2017-03-28 23:54] aviaryan commented on #1003
Agreed. Different servers and same sub-domain is not possible in my knowledge, especially when all we have is GitHub Pages. So yes, the only solution that seems possible at this point is having a central repo for docs that belong on a server (or in a sub-domain). **Since GitHub repos are free and easy, I don't see any issues with this idea.**
For susi, we can use a new repo called `fossasia/susi`

[2017-03-29 00:19] yukiisbored commented on #1003
Whoops forgot to close this issue, because it's already solved on github.com/loklak/dev.loklak.org

[2017-03-29 01:06] mariobehling commented on #1003
@yukiisbored I think you missed my comment above https://github.com/loklak/loklak_server/issues/1003#issuecomment-272901839

The idea was to create the documentation page in the repo at https://github.com/loklak/loklak/

You now created a new repo at dev.loklak.org. This is fine, but we don't need several repos duplicating things.

The issue is not solved yet as the other loklak subprojects are no

[2017-03-29 01:08] mariobehling commented on #1003
@yukiisbored Could you include info in the Readme, how the documentation script can be triggered, please?

[2017-03-29 01:13] mariobehling commented on #1003
@aviaryan

The documentation project will deliver documentation in months. A travis script could do it in a few days. So, we need better documentation urgently. Please help to make it work.

We also need to consider in detail how the documentation project could be versatile enough to work for different cases. This discussion should take place elsewhere. Probably in the GSoC application.

[2017-03-29 02:53] meets2tarun opened #1084 "Clone the Git Repo Tab not working"
There is a tab which written clone the git repo tab:
Download, install and extend is redirecting to NOT FOUND 404 page. [page](http://loklak.org/download.html)

[2017-03-29 02:53] meets2tarun opened #1085 "Need of favicon"
There must be fevicon on [website](loklak.org) of loklak.

[2017-03-29 04:55] jig08 commented on #1083
@yukiisbored +1. The other scrapers were indeed implemented using `JSoup` and seems to be a good option !

[2017-03-29 04:59] jig08 commented on #1085
There already exists one at [loklak.org](http://loklak.org/) afaik. Closing this...

[2017-03-29 04:59] #1085 closed

[2017-03-29 05:03] jig08 commented on #1084
@meets2tarun Works fine, not a valid issue. Closing this..

[2017-03-29 05:03] #1084 closed

[2017-03-29 06:18] sudheesh001 commented on #1083
@jig08 let's not implement them in JSoup, all of that code needs to be refactored. Will review this patch later in the day.

[2017-03-29 08:03] aviaryan commented on #1003
👍 As you already pointed out, first we need to decide on a *central* repo for storing the compiled stuff. Suppose let's go with [dev.loklak.org](https://github.com/loklak/dev.loklak.org/tree/gh-pages). Now it has the server docs at [/server](https://github.com/loklak/dev.loklak.org/tree/gh-pages/server).
That's good but we will have to add docs for other projects.
I see at https://loklak.github.io

[2017-03-29 10:13] yukiisbored commented on #1003
@aviaryan The system has already been made on github.com/loklak/dev.loklak.org. I just need to create an caller script to update the subtrees on that repository. Don't reinvent something that's already working.

[2017-03-29 10:59] aviaryan commented on #1003
@yukiisbored I know and I wasn't going to start from scratch. Sorry for not being clear in my post. I was just tracing the steps following which, one can solve this issue.
What I see is that there are 2 main things left to do:
1. Updating the index page of dev.loklak.org to point to sub-projects.
2. Adding other sub-projects docs apart from the already existing [loklak_server](http://dev.loklak.or

[2017-03-29 11:58] yukiisbored commented on #1083
Well, it's better to do it to increase maintainability. Currently, only small fraction of us understands TwitterScraper. If this is done, it'll increases Loklak's maintainability. Also, not a lot of code have to be refactored, we can always keep the same methods available on TwitterScraper and result in the same thing but more maintainable.

[2017-03-29 13:39] Orbiter commented on #1083
This is a typical "It's already ready but I know how to do this better"-Task. Maybe jsoup is better, but maybe jsoup is not flexible enough for us to respond on twitters changes all the time.

However, lets give it a try. Plug in your code, but please rename/move the current code to a 'LegacyScraper' class.
Please also consider to maintain your code in the future when twitter changes their format

[2017-03-29 14:35] yukiisbored commented on #1003
@aviaryan You can help by finding a way to create a portal page. I was thinking about linking them to each other in the TOC as defined inside the `README.rst` file.

[2017-03-29 17:19] aviaryan commented on #1003
@yukiisbored That sounds good. Creating a Sphinx TOC at root page will ensure that all documentations are well connected to each other. The root page can also include some general info on loklak project.
BTW, have you thought about how will `loklak_server` docs be connected with the root page. Will it stand as an independent Sphinx project OR will it be in it (i.e. root TOC = loklak_server TOC)?
K

[2017-03-29 17:49] singhpratyush opened #1086 "Add API endpoint to serve mood related data"
- Issue type: Feature request

### Short description

There is an analyzer aleady in place. The aim is to provide a way to access information related to it.

### Usecase

* Provide aggregated data from analyzer.
* Also provide data based on location.
* Allow filtering of data based on classes assigned by analyzer.

### Description

I plan to use this endpoint for [/fossasia/labs.fossasia.org/#136]

[2017-03-30 05:52] sudheesh001 commented on #1086
A part of this feature already exists. https://github.com/loklak/loklak_server/blob/751ff729058833f4bea39c8e019490539c25a81d/src/org/loklak/data/Classifier.java

[2017-03-30 06:54] singhpratyush commented on #1086
The tweets returned from existing APIs do contain an emotion class with some accuracy measure. But there are no ways to request tweets based on these classes.

*My requirement* from this endpoint is to fetch statistical data about from this emotion classifier based on geographical location. As of now, I was thinking of some aggregated numbers that would give the number of Tweets in each category,

[2017-03-30 10:25] itspritish commented on #1051
Ran loklak server as standalone and as a docker container. The folder that i see getting created/ updated are mostly in /loklak_server/data/ like index, dump folders. Also the data/loklak.log file grew pretty heavily. So is this the folder that need to be mapped to volume?
If so this can be added in Dockerfile/ docker-compose.yml. BTW for some reason it doesn't allow me to just use /data as volume

[2017-03-30 10:35] yukiisbored commented on #1086
@singhpratyush You can always use the search endpoint and just grab the geodata.

[2017-03-30 10:54] singhpratyush commented on #1086
@yukiisbored: Yes, we can get Tweet's geodata using search endpoint, along with an emotional class. We can also collect this data for some time on a client and generate results about the mood of people in different parts of the world.

But most of the clients (for the mentioned project) are not going to stay long enough to wait for data to come. Also, this technique will unnecessarily make the ser

[2017-03-30 12:26] niccokunzmann commented on #1051
yukiisbored suggested that folder. I assume it is the only one.

[2017-03-31 09:42] itspritish commented on #1051
Observed something (issue?) when i use docker-compose build/ up. It does not generate loklak.log file in loklak_server/data folder, it rather starts printing the log on the command console. I also tried docker-compose up -d option, no logs, neither in /data nor on the console. I initially thought it might be related to my changes, but its not.
Did few trials, for me the happy path was build with D

[2017-03-31 10:10] niccokunzmann commented on #1051
Thanks, yes. Let us talk about the PR.
As far as I remember, the logs go to the output when we use docker.

On 31.03.2017 11:42, Pritish N wrote:

[2017-03-31 10:26] yukiisbored commented on #1051
The `-d` or `--daemonize` flag in `docker-compose up -d` means it'll fork into the background. Meaning it'll leave your shell and stays in the background. Well, that's daemonizing in general. but in `docker-compose` case, it just runs it without giving you the outputs from the container.

[2017-03-31 10:29] yukiisbored commented on #973
I'm thinking about terminating README.md completely just because GitHub and Sphinx uses them and it causes confusion for newcomers.

[2017-03-31 11:36] #1051 closed

[2017-04-01 05:23] #1003 closed

[2017-04-01 05:48] niccokunzmann opened #1091 "Deployment fails because of insufficient access rights"
- Issue type: Bug report

### Short description

The current travis build fails because it can not push the documentation to the [dev.loklak.org][repo] repository.

### Environment

 - Operating system: [Travis][error]

[error]: https://travis-ci.org/loklak/loklak_server/builds/217449064#L1645

### Steps to reproduce

1. Visit the [error page][error]
2. restart the build

### Expected behaviour

I

[2017-04-01 13:43] yukiisbored commented on #1091
Oops, I forgot to add the deploy key. I'll add it ASAP.

[2017-04-01 13:47] yukiisbored commented on #1091
Oh wow, GitHub doesn't allow one key for multiple projects :(
Gonna generate a new one.

[2017-04-02 07:36] #1091 closed

[2017-04-02 08:27] yukiisbored commented on #1091
Sorry for the really really really messy commits, probably due to myself being depressed atm. But, it builds :)
https://travis-ci.org/loklak/loklak_server/builds/217718841

[2017-04-03 09:26] Orbiter opened #1094 "Where do we get a HUGE Elasticsearch Cluster?"
For loklak we need eleasticsearch storage space for MANY tweets. Like at least two billion. Elasticsearch is able to handle that, but we need at least ten single high-speed instances which we are able to connect to each other as a cluster.

Please make suggestions where we can get such elasticsearch instances so we can have this .. for free!

[2017-04-04 23:09] vibhcool commented on #1072
Closing this issue, fixed by @Orbiter

[2017-04-04 23:09] #1072 closed

[2017-04-05 14:00] singhpratyush opened #1095 "Add streaming API"
- Issue type: Feature request

### Short description

Add pub-sub based streaming API to Loklak so that clients may listen for some keywords and receive Tweets as that arrive at Loklak.

### Usecase

This API can be used to build real-time applications and reduce the need to make multiple requests for cases where huge data is required.

### Description

The API would allow clients to subscribe to

[2017-04-05 14:44] yukiisbored commented on #1095
I think we can use [jetty-eventsource-servlet extension](https://github.com/jetty-project/jetty-eventsource-servlet/wiki) to do this.

[2017-04-06 09:35] singhpratyush commented on #1095
jetty-eventsource-servlet looks good for streaming to clients. But the major concern is about how will we come to know if we have received a new Tweet regarding the topic which some client has subscribed.

Polling for Tweets can be one of the methods. Shall we proceed with it in the first place for testing the proof-of-concept and later add some changes plugin to elastic-search cluster?

@yukiisbo

[2017-04-06 10:19] yukiisbored commented on #1095
We can create a hook on https://github.com/loklak/loklak_server/blob/development/src/org/loklak/data/DAO.java#L650. The problem with this it'll be hard coded.

It would be nice to have event systems in Loklak.

[2017-04-06 10:20] yukiisbored commented on #1095
or just keep invoking SearchServlet

[2017-04-06 12:02] sudheesh001 commented on #1095
Why not use MQTT for this ?

[2017-04-06 20:31] singhpratyush commented on #1095
MQTT is better than HTTP for what we are trying to achieve. I'll look it up in details and notify.

[2017-04-07 13:02] singhpratyush commented on #1095
MQTT can be used for this purpose. The message broker (e.g. [mosquitto](https://mosquitto.org/)) can be configured in a way that only one node can publish and all others have to subscribe ([link](https://mosquitto.org/man/mosquitto-conf-5.html)). Also, a huge number of channels will not be an issue and will be handled by the broker itself.

The only thing that concerns me is that if someone has to

[2017-04-07 15:21] singhpratyush commented on #1095
@yukiisbored: I think this will be a good way to do things. We may introduce something like `twitterMQTTPublisher.publish(...)` before [this line](https://github.com/loklak/loklak_server/blob/development/src/org/loklak/data/DAO.java#L681) to publish things to twitter channels.

To avoid the hard-coded thing, we can allow derived classes to define the method which gives a list of channels to publis

[2017-04-07 21:02] singhpratyush commented on #1095
@yukiisbored @sudheesh001: I have added an implementation of `AbstractMQTTPublisher` [here](https://github.com/singhpratyush/loklak_server/blob/add-mqtt-publisher/src/org/loklak/data/AbstractMQTTPublisher.java).

I used `mosquitto` as broker and tested the API used (`net.sf.xenqtt`) and it worked fine.

[2017-04-08 08:50] sudheesh001 commented on #1095
I'd need time before i review this. The GSoC proposals are keeping me occupied for now.

[2017-04-08 09:10] vibhcool commented on #1040
If anyone wants to work on this may take up :) .
I will not be able to work on this due to incapability issues.

[2017-04-08 09:11] vibhcool commented on #1026
If anyone wants to work on this may take up :)
I will not be able to work on this due to incapability issues.

[2017-04-09 11:00] vibhcool opened #1096 "Classpath error in Eclipse IDE ,"
In Eclipse IDE, the classpath for storing classes (when built) is set to bin.
This deletes all files in /bin directory and saves the classes in it

[2017-04-09 11:15] vibhcool commented on #1026
@mariobehling can you explain a little more about the feature?

I got some approaches in my head,

1) To get and store all collected images in data directory on loklak server. And send json data to client.
2) To get all images from scraped data, save in directory and send compressed directory in compressed form. And no json data to client.(I am thinking of this).

3) To get images in through http

[2017-04-09 13:21] niccokunzmann commented on #972
I just found a tool for markdown: http://www.mkdocs.org/ @yukiisbored it is markdown. Maybe we can try it for the docs.

[2017-04-10 15:45] vibhcool commented on #1083
IMHO, tools like JSoup is less flexible than using regex.
If there is some change in twitter html , regex is needed to be modified,
but if we use JSoup, we may have to choose between it's methods to best suite the new changes in html.

I think the TwitterScraper's methods are needed be divided into simpler blocks of methods and (maybe) some changes in data input step in TwitterTweet object.

[2017-04-11 08:19] Orbiter commented on #919
disabled in https://github.com/loklak/loklak_server/commit/9bb1a21a6d0acff92659f0e130c84b61fd6b9c9b

This was the main cause that api.loklak.org was unavailable in the last three months.
Every time I had to clean up the mess that the storage process had caused. Fortunately I had a back-up of the settings file. The stored file was a big mess, full of binary data and caused that loklak was then unab

[2017-04-12 10:17] yukiisbored commented on #1083
@vibhcool isn't that the same? Not to mention regex has a pretty rough learning curve for everyone while JSoup is a simple API that you can just switch.

[2017-04-12 12:13] kavithaenair opened #1099 "Error 404 when clicking on (download, install and extend) button"
- Issue type: Bug report

### Short description

In the loklak.org page when clicked on the button - (download, install and extend), it is being redirected to page showing 404 error as the download.html file is not present.

[2017-04-12 12:14] kavithaenair commented on #1099
@daminisatya i want to fix this.

[2017-04-12 12:51] #1099 closed

[2017-04-12 16:27] vibhcool commented on #1083
@yukiisbored , haha, nice example, I am just a newbie. I am just exploring :)

What I thought is that :-

__what happens__
In case of TwitterScraper, BufferReader returns a line at a time (maybe because twitter results are fetched by ajax) is processed by the code to extract data.

__JSoup__ generally uses DOM modelling which analyses html and traverses as tree in backend. Yep, it has features lik

[2017-04-13 04:05] sudheesh001 commented on #1083
JSoup is terrible with respect to its performance at the same time, there's so much modelling you have to do in case you're trying to parse websites which have dynamically loading content, like tracking the postages #344 for example.

Lets stick to the regex, a learning curve isn't really a bad thing, a bad library on the other hand is worse. If there are better and faster parsers eg. [parsley](ht

[2017-04-14 09:13] mariobehling opened #1101 "Avoid scroll bar inside page on dumps page"
The dumps page has an internal scroll bar. It should not have one.

![screenshot from 2017-04-14 11-09-37](https://cloud.githubusercontent.com/assets/1583873/25039326/4999588a-2103-11e7-83a9-66d0d67cc470.png)

[2017-04-14 09:16] mariobehling commented on #1071
Yes, it is true, but this issue is related to travis not to loklak. Closing it therefore.

[2017-04-14 09:16] #1071 closed

[2017-04-14 09:16] mariobehling commented on #972
Documentation is now on http://dev.loklak.org

[2017-04-14 09:16] #972 closed

[2017-04-14 09:18] #50 closed

[2017-04-14 09:18] #82 closed

[2017-04-14 09:19] #94 closed

[2017-04-14 09:20] mariobehling commented on #589
Out of scope of server now.

[2017-04-14 09:20] #589 closed

[2017-04-14 09:21] #446 closed

[2017-04-14 09:21] mariobehling commented on #371
Sorry, this is out of scope for the server application itself.

[2017-04-14 09:21] #371 closed

[2017-04-14 09:22] mariobehling commented on #359
Thank you!

[2017-04-14 09:22] #359 closed

[2017-04-14 09:23] #307 closed

[2017-04-14 09:24] #225 closed

[2017-04-14 09:25] #218 closed

[2017-04-14 09:25] #217 closed

[2017-04-14 09:26] mariobehling commented on #283
Thank you. Unfortunately, there are not sufficient resources to work on this. Have to close it therefore.

[2017-04-14 09:26] #283 closed

[2017-04-14 09:27] mariobehling commented on #34
Apparently we don't have resources to work on this. Closing it therefore.

[2017-04-14 09:27] #34 closed

[2017-04-14 09:28] mariobehling commented on #73
Apparently we have outgrown this issue. Closing it therefore.

[2017-04-14 09:28] #73 closed

[2017-04-14 09:30] mariobehling commented on #251
It can be done, but then anyone who re-opens this issue, should also work on this.

[2017-04-14 09:30] #251 closed

[2017-04-14 09:30] #296 closed

[2017-04-14 09:31] mariobehling commented on #344
As apps are now hosted elsewhere and this could be classified as IoT, we can follow up on this idea elsewhere, if it becomes relevant again.

[2017-04-14 09:31] #344 closed

[2017-04-14 09:32] mariobehling commented on #352
As there has been no activity in this issue for a year, I am classifying it as "wontfix". Please reopen if you will work on this.

[2017-04-14 09:32] #352 closed

[2017-04-14 09:35] #458 closed

[2017-04-14 09:36] #470 closed

[2017-04-14 09:37] mariobehling commented on #558
Classifying this as "wontfix" as no-one took up this issue.

[2017-04-14 09:37] #558 closed

[2017-04-14 09:38] mariobehling commented on #613
As Weibo requires accounts and the dev teams focus has finished, I am classifying this as "wontfix". Anyone re-opening this topic should be willing to work on it.

[2017-04-14 09:38] #613 closed

[2017-04-14 09:39] mariobehling commented on #635
As Weibo requires accounts and the dev teams focus has finished, I am classifying this as "wontfix". Anyone re-opening this topic should be willing to work on it.

[2017-04-14 09:39] #635 closed

[2017-04-14 09:40] mariobehling commented on #182
As dev teams focus has finished, I am classifying this as "wontfix". Anyone re-opening this topic should be willing to work on it.

[2017-04-14 09:40] #182 closed

[2017-04-14 09:42] mariobehling commented on #456
Some progress had been made on this, but as loklak is not used in a productive company environment currently I am classifying this as "wontfix". This is a rather commercial feature to ensure a service runs continuously. It is important, but we don't have the resources to solve it currently. Anyone re-opening this topic should be willing to work on it.

[2017-04-14 09:42] #456 closed

[2017-04-14 09:43] mariobehling commented on #559
Some progress had been made on this, but as loklak is not used in a productive company environment currently I am classifying this as "wontfix". It is important, but we don't have the resources to solve it currently. Anyone re-opening this topic should be willing to work on it.

[2017-04-14 09:43] #559 closed

[2017-04-14 09:44] mariobehling commented on #280
Not all of this has been solved, but I am closing this due to inactivity. Follow up issues should be more specific. Anyone re-opening this topic should be willing to work on it.

[2017-04-14 09:44] #280 closed

[2017-04-14 09:45] mariobehling commented on #751
Some progress had been made on this. Anyone following up on this topic should be willing to work on it.

[2017-04-14 09:45] #751 closed

[2017-04-14 09:52] mariobehling commented on #808
This is relevant for SUSI. Closing it for loklak.

[2017-04-14 09:52] #808 closed

[2017-04-14 09:54] mariobehling commented on #818
As we are not focusing on external scrapers currently, I am closing this issue as "wontfix". Anyone re-opening it should be willing to work on it.

[2017-04-14 09:54] #818 closed

[2017-04-14 11:20] mariobehling commented on #846
Closing this as a number of specific issues are tackling this as well.

[2017-04-14 11:20] #846 closed

[2017-04-14 11:20] #875 closed

[2017-04-14 11:22] mariobehling commented on #888
There have been different implementation of this. If you would like a small app for this, please add the issue to labs.fossasia.org as a mini-project. Cheers.

[2017-04-14 11:22] #888 closed

[2017-04-14 11:26] mariobehling commented on #934
Ok, so this kind of issue is pretty broad and solving this issue could be a huge tasks. Some improvements have been made, but which area to tackle exactly now? Let's focus on more specific tasks, that can be solved in the best case within a day.

If you want to add Coala, the simply add an issue "Add Coala.." and other more specific issues. Cheers.

[2017-04-14 11:26] #934 closed

[2017-04-14 11:29] mariobehling commented on #953
Ok, some additional best practices have been defined in the FOSSASIA org in the meantime. Rultor also has access to this repo. Anyone would like to continue working on this area, please help, especially if you open an issue. Thank you.

[2017-04-14 11:29] #953 closed

[2017-04-14 11:30] mariobehling commented on #956
Closing this as there are other issues related to Google cloud and call for hosting open.

[2017-04-14 11:30] #956 closed

[2017-04-14 11:30] mariobehling commented on #946
Thanks!

[2017-04-14 11:30] #946 closed

[2017-04-14 11:31] #981 closed

[2017-04-14 11:31] mariobehling commented on #981
This issue will be tackled in a documentation project. Thanks.

[2017-04-14 11:34] mariobehling commented on #1056
This was great for GCI, but right now the number of contributors is limited and we are happy if anyone takes up any issues and just gets started. Also, "create an issue" is not really an issue itself, that should stay open for long. Thanks for the directions and intiative. Let's proceed from here.

[2017-04-14 11:34] #1056 closed

[2017-04-14 12:16] mariobehling commented on #919
@Orbiter We need a proper handling, maybe difference between config and settings file? How can we get this feature?

[2017-04-14 16:23] vibhcool commented on #1101
@mariobehling this issue could be added as first-timer issue :)

[2017-04-14 17:28] mariobehling commented on #1101
@vibhcool Ok, so we had a lot of first-timer issues and no first-timers took it up. I now deleted the label.

Let's really get issues solved, whatever comes up. There are a lot of old issues. A lot of people applied for loklak GSoC. If people really want to do successful projects with loklak, then we need to see contributions and issues solved. I personally do not care if issues are easy or not. W

[2017-04-15 03:26] yukiisbored commented on #1101
This is because it's just an iframe ...

[2017-04-15 06:22] mariobehling commented on #1101
@yukiisbored Yes, would be great to get a solution.

[2017-04-15 07:39] singhpratyush commented on #1101
This can be solved by injecting a JS eventlistener which would resize iframe on load. Shall I take it?

[2017-04-15 12:09] singhpratyush commented on #961
If you take a look at `XHR` requests made while scrolling down at twitter search page, a pattern can be seen. We may directly make these `XHR` calls and get more tweets from there.

[Here](https://github.com/Jefferson-Henrique/GetOldTweets-python/blob/master/got3/manager/TweetManager.py#L5) is an implementation in Python.

[Here](https://twitter.com/i/search/timeline?vertical=default&q=fossasia&in

[2017-04-15 14:26] mariobehling commented on #961
@singhpratyush It would be great, if you could implement this. Code would be awesome.

[2017-04-15 14:37] singhpratyush commented on #961
@mariobehling: Will work on it. Please assign the issue.

[2017-04-15 14:49] #1101 closed

[2017-04-15 14:57] Orbiter commented on #1101
well, https://github.com/loklak/loklak_server/pull/1102 does not do the complete job because the event is not firing. I tested this on a Mac with Chrome and Firefox.

[2017-04-15 15:27] singhpratyush commented on #1101
@Orbiter: Sorry for the trouble.

Even `DOMContentLoaded` doesn't fires. So I added `onload` to the `iframe` and its working now ([LINK](https://github.com/singhpratyush/loklak_server/commit/0c36185255e307494aa79ae6392d62cc7fb4d907)).

How shall I proceed with this?

[2017-04-15 15:42] singhpratyush commented on #961
@mariobehling @yukiisbored:  How shall the upper limit on the number of Tweets for a search query be decided?

[2017-04-15 15:50] vibhcool commented on #961
@singhpratyush loklak can get upto 100 tweets in range 1 to 100, but can't exceed the number 100.
example:- loklak.org/api/search.json?q=singapore&maximumRecords=100

[2017-04-15 19:45] singhpratyush commented on #961
@vibhcool: It's about how many Tweets can be collected for a given search query using the harvester.

[2017-04-16 09:46] Orbiter commented on #1101
fixed with https://github.com/loklak/loklak_server/commit/cc0948865a80b1217d32a1776efc7139d7402ab9

[2017-04-17 13:23] kavithaenair opened #1103 "Few URLs mentioned in documentation site are not working"
- Issue type: Bug report

### Short description
The urls mentioned for installation guide are redirecting to 404 error page.The urls mentioned in the documentation site are:
1. https://dev.loklak.org/installation_docker.html
2. https://dev.loklak.org/installation/installation_heroku.html
3. https://dev.loklak.org/installation/installation_cloud9.html
4. https://dev.loklak.org/development/eclipseSe

[2017-04-17 13:23] kavithaenair commented on #1103
@daminisatya @mariobehling @sudheesh001  i want to fix this

[2017-04-17 13:46] mariobehling opened #1105 "Unify Readme.md and rst"
Currently we have a Readme.md and Readme.rst.

I am loosing track which one has the last version and where are difference. Please unify both files. Best would be to just keep the md file and use it in generating the documentation.

[2017-04-17 16:42] mariobehling opened #1107 "Move Dockerfile-learnings.md to /docs and add it into documentation structure"
The file Dockerfile-learnings.md has been added into the main folder. Expected: All documentation should go into /docs and be integrated into the documentation structure that is also deployed to dev.loklak.org.

[2017-04-18 12:03] sudheesh001 opened #1108 "Fix any spelling mistakes in documentation"
- Issue type: Bug report

### Short description
[code]

Markdown content in ReadMe contains the wrong spelling of `Eclipse` this needs to be fixed. A good easy beginner patch.

[2017-04-18 12:10] kavithaenair commented on #1108
i will fix this @sudheesh001

[2017-04-18 12:59] kavithaenair commented on #1108
@sudheesh001  i have fixed the typos but i already have a existing PR , in which am asked to make some changes. So what can i do now for this issue? Should i create a PR?

[2017-04-18 13:05] niccokunzmann commented on #1108
@kavithaenair I believe, you can create a new pull-request so we can merge the changes.

[2017-04-18 13:13] kavithaenair commented on #1108
@niccokunzmann  But the existing PR isn't merged and am not able to create a new PR. The commit made by me now is also shown in the same PR.Can you help me out?

[2017-04-18 13:23] sudheesh001 commented on #1108
@kavithaenair I've reviewed your patch on the pending Pull request. It now has 2 commits solving 2 seperate issues which is totally fine. But please remember from next time onwards send a pull request from a branch that you create than from the `development` branch itself.

[2017-04-18 13:28] kavithaenair commented on #1108
Thank You @sudheesh001 . I will definitely follow , what you've said.

[2017-04-18 14:08] #1103 closed

[2017-04-18 14:08] #1108 closed

[2017-04-18 15:56] mariobehling opened #1109 "Instead of auto-generating the docs page in the gh-pages branch generate it in the dev.loklak.org repository"
Currently the documentation is generated a) in the gh-pages branch and b) transferred to the repository of dev.loklak.org.

Please change it as follows:
1. Do not generated the page in the gh-pages branch
2. Only add the page into the branch at dev.loklak.org

[2017-04-19 10:26] singhpratyush commented on #961
@yukiisbored @Orbiter @daminisatya: I've implemented it in [this](https://github.com/singhpratyush/loklak_server/tree/more-tweets-961) branch. I think that there is an issue.

What happens now is that `TwitterScraper` replicates the way in which lazy loading of Twitter search page works. This involves making multiple requests to attain a minimum number of tweets (specified [here](https://github.co

[2017-04-21 04:50] yukiisbored commented on #961
Actually, I should've closed this issue because `KaizenHarverster` can be configured to get more than 20 tweets. But, nice try though. What we can do is to add `<existing query> since:<oldest tweet date>` to the queue after we're done with the query and it has >=20 tweets.

[2017-04-21 16:22] singhpratyush commented on #961
In that case, shall I make it as a function that would just keep on fetching Tweets until there are no more results for the query?

[2017-04-22 09:08] yukiisbored commented on #961
@singhpratyush Make it a part of https://github.com/loklak/loklak_server/blob/development/src/org/loklak/harvester/strategy/KaizenHarvester.java#L81.

[2017-04-22 15:52] #961 closed

[2017-04-23 05:28] singhpratyush commented on #883
This was closed in 34f8e2a0945ffcb6922708258808adfc6f2ef397.

[2017-04-23 06:02] #883 closed

[2017-04-24 16:08] Achint08 opened #1112 "Additional constraints for images,videos not giving results restricted to media"
- Issue type: Bug report

### Short description

Searching for Query /image /audio /video /place , it is expected results to get restricted to tweets which have attached images, audio, video or place.  Searching for http://api.loklak.org/api/search.json?timezoneOffset =-330&q=fossasia+%2Fvideo doesn't give tweets restricted to videos. Same goes for /image.

[2017-04-24 17:44] Achint08 opened #1113 "Pagination feature not giving enough feeds"
- Issue type: Bug report
The pagination feature was implemented in loklak server:-
first page:
http://loklak.org/api/search.json?timezoneOffset=-60&q=singapore&startRecord=1&maximumRecords=20
second page:
http://loklak.org/api/search.json?timezoneOffset=-60&q=singapore&startRecord=11&maximumRecords=20

If we check out, Pagination is not giving enough feeds (like 20 - 30 most of the time).
Moreover

[2017-04-25 13:01] singhpratyush opened #1114 "Link unshortener fails to shorten several URLs"
- Issue type: Bug report

### Short description

Loklak fails to unshorten many URLs, most of them are of type `https://fb.me/*`.

### Environment

 - Operating system: CentOS 7
 - Software version: Even with `loklak:development`.
 - Software source: Github Repository

### Steps to reproduce

1. Run loklak
[code]
2. Look at the log
[code]
3. You can see that unshorten fails for many URLs.

### Exp

[2017-04-29 10:18] singhpratyush commented on #1114
From what I can see, the unshortening fails because of two major reasong -

### 1. Redirects with non 301 status code
Most of the fail logs are coming because of [this](https://github.com/loklak/loklak_server/commit/9b4a7585bc893b064aaf4ac79119ca1c842fd269) -
[code]
 It throws an exception when status code is not 301.

Though the implementation is correct, it gives a false alarm for the logger. It

[2017-04-29 18:09] vibhcool commented on #1096
closing this issue, solved in pr #1097

[2017-04-29 18:09] #1096 closed

[2017-04-29 18:17] vibhcool opened #1115 "GenericScraper is not working"
The dependency of GenericScraper.java , i.e. Boilerpipe does not exist in the project, so this doesn't work.

Output of GenericScraper :-

![screenshot from 2017-04-29 23-45-42](https://cloud.githubusercontent.com/assets/12577433/25557777/023faea0-2d36-11e7-9000-102f91703398.png)

[2017-04-29 18:32] vibhcool commented on #1115
Please assign this issue to me

[2017-05-01 13:29] mariobehling opened #1123 "Add Gemnasium Button"
Please add a gemnasium button to the Readme.md.

[2017-05-05 19:07] vibhcool opened #1129 "New API call for Multi-Scraper output"
### Issue type: Question, Discussion

**At present**, calls like 'localhost:9000/api/search.json?q=fossasia' returns all tweets related to search query 'fossasia'

In my GSOC project, **I proposed to** also collect search results from other scrapers also.

Now there can be different approaches (that I thought of) whether to replace present system with the new one or we shall have a new API call fo

[2017-05-05 21:52] vibhcool commented on #1112
Please assign this issue to me. I want to work on this issue

[2017-05-06 07:01] pri22296 commented on #1109
@mariobehling Since generation of docs is intended to be done only in the dev.loklak.org repository, will this mean that other repos would only have the rst/md files in the their docs directory? All sphinx setup in other repos such as this one would have to be removed?

[2017-05-06 10:41] Orbiter commented on #1129
In https://github.com/loklak/loklak_server/blob/development/src/org/loklak/api/search/SearchServlet.java#L176 we have a decision which source should participate in the result computation. That is the access point to add more sources.

If you add another source, that must be added along the twitter source as done in
https://github.com/loklak/loklak_server/blob/development/src/org/loklak/api/search/

[2017-05-06 10:44] Orbiter commented on #1129
This is a complex task. Please try to move forward with small steps and easy-to review commits. The integration of new targets into the scraper framework is difficult, because it uses concurrency to make de-shortening of links while presenting already found tweets.

Please be very careful when changing existing code to prevent that something breaks and searching for bugs is time-intensive. Always

[2017-05-06 10:46] singhpratyush opened #1130 "Allow configurable values for number of retries and back-off parameter while pushing timelines to backend"
- Issue type: Feature request

### Short description

In `Caretaker.java`, the number of retries is fixed to 5. Also, the back of mechanism is hard coded as
[code]
The requirement is to make them configurable. This can be done by adding these parameters to `config.properties` and reading them when needed.

[2017-05-06 16:03] mariobehling commented on #1109
@pri22296 All other projects will have the same set up: a) Readme.rst and b) more documentation in their /docs folder and subfolders. The Readme.rst should be the start page of the subproject, e.g. the Readme.rst of the server project is the start page of dev.loklak.org/server/ and the loklak search project's Readme.rst is used to generate the start page of dev.loklak.org/search/.

[2017-05-06 17:01] vibhcool commented on #1129
thank you @Orbiter, this clears a lot of things :smile:

Yep, I will take care about these things and try to keep the commits easy-to review.

I have a doubt,

what is the use of SourceType.java , Is it only used as flag (whether to record or not) with QueryEntry that records the results searched related to a query?
like here -> https://github.com/loklak/loklak_server/blob/9bb1a21a6d0acff92659f0e1

[2017-05-07 04:04] pri22296 commented on #1105
@mariobehling We can setup an automatic conversion of README.md to README.rst in travis while generating the documentation. [pandoc](http://pandoc.org/) is a good tool for that.

[2017-05-07 04:23] singhpratyush commented on #1130
I would like to work on this.

[2017-05-07 16:28] vibhcool opened #1132 "Add Unit-tests to test the services"
- Issue type: Feature request

Loklak Server has Unit-Testing System. So there is a need to add unit tests to test the small services in the project.

[2017-05-07 20:43] mariobehling commented on #1123
This should be added to the rst file as well.

[2017-05-07 20:46] mariobehling commented on #1083
I am seeing a lot of pros and cons here. What should be done about this? Is this a priority now or should be followed up later?

[2017-05-07 20:49] mariobehling commented on #1076
We need to define a way as we proceed. Currently the project is relatively small and we can still define rules as we proceed. We are enforcing the best practices of FOSSASIA recently. This is already a step into the right direction. These "rules" are a start. Let's get more into detail if necessary at a later point and don't let us make things to elaborate for now. Closing this for now therefore.

[2017-05-07 20:49] #1076 closed

[2017-05-07 20:49] vibhcool opened #1135 "Output of image links is not correct"
- Issue type: Bug report

When we do api calls for '/api/search.json?q=query' , in image attribute (in json output), tweet post links also appear with image links.

Like for call loklak.org/api/search.json?q=fossasia ,

![screenshot from 2017-05-08 02-16-07](https://cloud.githubusercontent.com/assets/12577433/25785012/5d760508-3394-11e7-855a-585a4ea56bce.png)

[2017-05-07 20:52] mariobehling commented on #1038
Ok, could be nice, but we are currently focusing on deployment on Linux and this is out of scope of current dev focus. Please re-open if you are interested to take this issue up.

[2017-05-07 20:52] #1038 closed

[2017-05-07 20:53] mariobehling commented on #1036
Interesting, but not a focus of development and I don't see any dev taking the time for that. It is safe to assume "wontfix" for now. If a developer wants to fix this, he/she can reopen and take care.

[2017-05-07 20:53] #1036 closed

[2017-05-07 20:54] mariobehling commented on #1016
Nobody minds if you would like to introduce versioning. Therefore I see this issue can be closed. If you want to release a version feel free to do so. Cheers

[2017-05-07 20:54] #1016 closed

[2017-05-07 20:56] mariobehling commented on #958
I am lacking information on a specific use case here. If there is a clear use case and interest to implement this, please re-open with more information. Cheers.

[2017-05-07 20:56] #958 closed

[2017-05-07 20:59] #954 closed

[2017-05-07 21:00] mariobehling commented on #923
Not required at the moment.

[2017-05-07 21:00] #923 closed

[2017-05-07 22:10] singhpratyush commented on #1107
@mariobehling: I think that this was fixed in 52ce5bdaa3b3f2970ab672faacf149ae3ef3c955.

[2017-05-07 22:11] #1107 closed

[2017-05-08 04:17] djmgit commented on #1135
I would like to work on this :)

[2017-05-08 06:03] sudheesh001 commented on #1083
I believe we should follow up on this later if we experience a lot of breaking code after having multiple *quality* scrapers like the twitter scraper. As of now this doesn't seem like a major issue atleast to me.

[2017-05-08 06:23] singhpratyush commented on #1135
[This](https://github.com/loklak/loklak_server/blob/development/src/org/loklak/harvester/TwitterScraper.java#L248) is where images are extracted. It uses `data-image-url` attr. Two image links are added means that there is an extra `data-image-url` that gets parsed.

For this, we need to check the HTML received while making the searches and make changes accordingly.

Another fix may involve restri